<% if message.deal_status? || message.deal_status_alert? %>

  <div class="form-separation padded-top-xs padded-bottom-xs">
    <div></div>
    <p><span class="font-weight-normal <%= message.deal_status? ? 'blue' : 'red' %>"><%= t message.content %></span> &nbsp; | &nbsp; <small><%= message.date_formatted %></small></p>
    <div></div>
  </div>

<% else %>

  <div class=
    <% if message.deal.advisor == current_user %>
      <% if message.user == message.deal.advisor %>
        "message-box message-right message-green"
      <% elsif message.user == message.deal.client %>
        "message-box message-left"
      <% end %>
    <% elsif message.deal.client == current_user %>
      <% if message.user == message.deal.client %>
        "message-box message-right message-yellow"
      <% elsif message.user == message.deal.advisor %>
        "message-box message-left"
      <% end %>
    <% end %>
  >

    <div class="message">
      <div class="message-content">
        <%= sanitize auto_link(markdown_to_html(message.content)) %>
      </div>

      <div class="message-date">
        <p><small><%= message.date_formatted %></small></p>
      </div>

    </div>

  </div>

<% end %>
