<div class="form-separation padded-top-s padded-bottom-s">
  <div></div>
  <p><strong><%= t '.account_cancellation' %></strong></p>
  <div></div>
</div>

<% if policy(current_user).destroy? %>

  <div class="padded-bottom-xs">
    <p><%= t '.account_cancellation_for' %></p>
  </div>

  <div class="text-center padded-top-xs">
    <button type="button" class="btn btn-form btn-red" data-toggle="modal" data-target="#account-cancellation">
      <i class='fa fa-suitcase' aria-hidden='true'></i>&nbsp;&nbsp; <%= t '.cancel_my_account' %>
    </button>
  </div>

    <div class="modal fade" id="account-cancellation" tabindex="-1" role="dialog" aria-labelledby="accountCancellationLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="accountCancellationLabel"><%= t '.account_cancellation' %></h4>
        </div>
        <div class="modal-body">
          <div class="padded-top-xs padded-bottom-xs">
            <p><%= t '.cancel_account_irreversible' %></p>
            <p><%= t '.are_you_sure' %></p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-form btn-gray" data-dismiss="modal"><%= t '.go_back' %></button>
          <%= link_to user_registration_path, method: :delete, class: "btn btn-form btn-red" do %>
            <i class='fa fa-suitcase' aria-hidden='true'></i>&nbsp;&nbsp; <%= t '.cancel' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% else %>

  <div class="padded-bottom-xs">
    <p class="red font-weight-normal"><%= t '.cant_cancel_account' %></p>
    <p><%= t '.close_or_cancel' %> <%= link_to t('.ongoing_sessions'), dashboard_path %> <%= t '.before_cancelling_account' %></p>
  </div>

<% end %>
