<% content_for :title do %>
  <%= "Papoters | Edit profile" %>
<% end %>

<h2>Edit my profile</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-separation padded-top-xs padded-bottom-s">
    <div></div>
    <p><strong>About me</strong></p>
    <div></div>
  </div>

  <div class="padded-bottom-xs">
    <p>Take time to provide information about yourself. People need to know who you are and where you come from before conversing with you.</p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= f.input :first_name, required: true, label: false, placeholder: "First name", input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= f.input :last_name, required: true, label: false, placeholder: "Last name", input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-12">
      <%= f.input :bio, label: false, placeholder: "Describe yourself (history, experiences, studies, hobbies, ...)", input_html: { class: 'custom-form-input', rows: "10" } %>
    </div>
    <div class="col-xs-12 col-sm-7">
      <%= f.input :photo, as: :attachinary, label: "Profile picture", placeholder: false,  input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-12 col-sm-5">
      <%= f.input :birth_date, as: :custom, symbol: "<i class='fa fa-birthday-cake fa-fw' aria-hidden='true'></i>
".html_safe, placeholder: "dd M yyyy", input_html: { class: 'custom-form-input datepicker', value: resource.birth_date ? localize(resource.birth_date, format: "%d %b %Y") : nil } %>
    </div>
  </div>

  <div class="form-separation padded-top-s padded-bottom-s">
    <div></div>
    <p><strong>Contact details</strong></p>
    <div></div>
  </div>

  <div class="padded-bottom-xs">
    <p>Your contact details won't be disclosed publicly, apart from your city and country of residence.</p>
    <p>For each open session, your contact details may be communicated to the other party upon your approval.</p>
  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-7">
      <%= f.input :email, as: :custom, symbol: "<i class='fa fa-envelope-o fa-fw' aria-hidden='true'></i>
".html_safe, label: false, required: true, placeholder: "my-email@host.com", input_html: { class: 'custom-form-input' } %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-5">
      <%= f.input :phone_number, as: :custom, symbol: "<i class='fa fa-phone fa-fw' aria-hidden='true'></i>
".html_safe, label: false, placeholder: "+33 * ** ** ** **", input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-12">
      <%= f.input :address, placeholder: "Street number and name", input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-4 col-sm-3">
      <%= f.input :zip_code, label: false, placeholder: "Zip code", input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-8 col-sm-4">
      <%= f.input :city, label: false, placeholder: "City", input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-12 col-sm-5">
      <%= f.input :country, label: false, prompt: "-- Country --", input_html: { class: 'custom-form-input' } %>
    </div>

  </div>

  <div class="text-right padded-top-s">
    <%= f.button :submit, "Update profile", class: "btn-form btn-gray" %>
  </div>
<% end %>

<div class="text-right padded-top-xs">
  <p><%= link_to "Back to profile", :back %></p>
</div>

<%= render 'cancellation' %>
