<div class="text-right padded-top-xs">

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <p>No account yet ? <%= link_to "Join", new_registration_path(resource_name) %><br /></p>
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <p><%= link_to "Forgot your password?", new_password_path(resource_name) %><br /></p>
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <p><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br /></p>
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <p><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br /></p>
  <% end -%>

  <%- if controller_name != 'sessions' %>
    <p> Already have an account ? <%= link_to "Log in", new_session_path(resource_name) %><br/></p>
  <% end -%>

</div>

<%- if devise_mapping.omniauthable? && controller_name != 'passwords' && controller_name != 'confirmations' %>
  <div class="or-facebook padded-top-xs padded-bottom-s">
    <div></div>
    <p>OR</p>
    <div></div>
  </div>
  <div class="text-center">
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to omniauth_authorize_path(resource_name, provider), {class: "btn btn-form btn-facebook"} do %>
        <i class="fa fa-facebook-official fa-fw fa-lg" aria-hidden="true"></i> <%= "Sign with #{OmniAuth::Utils.camelize(provider)}" %>
      <% end %>
      <br />
    <% end -%>
  </div>
<% end -%>


