<div class="modal fade" id="new-bank-account" tabindex="-1" role="dialog" aria-labelledby="newBankAccountLabel" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="newBankAccountLabel"><%= t '.new_bank_account' %></h4>
      </div>
      <div class="modal-body padded-top-s padded-bottom-s">
        <p><%= t '.provide_account_number_html' %></p>
        <div id="bankAccountCountryCode" data-country-code="<%= @user.country_code %>"></div>
        <div id="bankAccountCurrency" data-currency="<%= @user.currency.to_s %>"></div>
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 padded-top-xs">
            <input type="text" class="form-control custom-form-input" id="bankAccountNumber" placeholder="FR1420041010050500013M026" autocomplete="off">
            <p class="red" id="bankErrors"></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-form btn-gray" data-dismiss="modal" id="bankAccountDismissButtton"><%= t '.go_back' %></button>
        <button type="button" class="btn btn-form btn-green" id="bankAccountBindButtton"><i class="fa fa-lock fa-fw" aria-hidden="true"></i> <%= t '.bind_account' %></button>
      </div>
    </div>
  </div>
</div>
