<% content_for :title, "Papoters • #{t('.advising_title')}" %>

<h2><%= t '.advising_title' %></h2>

<%= simple_form_for @user,  url: update_country_path, method: :patch do |f| %>
  <%= f.error_notification %>

  <p><%= t '.advising_intro' %></p>

  <div class="user-guidelines">
    <div class="user-guidelines-picto">
      <%= image_tag 'pictos/publish.svg' %>
    </div>
    <div class="user-guidelines-text">
      <h6>1 • <%= t '.advising_guidelines_title_1' %></h6>
      <p><%= t '.advising_guidelines_body_1' %></p>
    </div>
  </div>

  <div class="user-guidelines">
    <div class="user-guidelines-picto">
      <%= image_tag 'pictos/proposition.svg' %>
    </div>
    <div class="user-guidelines-text">
      <h6>2 • <%= t '.advising_guidelines_title_2' %></h6>
      <p><%= t '.advising_guidelines_body_2' %></p>
    </div>
  </div>

  <div class="user-guidelines">
    <div class="user-guidelines-picto">
      <%= image_tag 'pictos/screen.svg' %>
    </div>
    <div class="user-guidelines-text">
      <h6>3 • <%= t '.advising_guidelines_title_3' %></h6>
      <p><%= t '.advising_guidelines_body_3' %></p>
    </div>
  </div>

  <div class="user-guidelines">
    <div class="user-guidelines-picto">
      <%= image_tag 'pictos/star.svg' %>
    </div>
    <div class="user-guidelines-text">
      <h6>4 • <%= t '.advising_guidelines_title_4' %></h6>
      <p><%= t '.advising_guidelines_body_4' %></p>
    </div>
  </div>

  <div class="user-guidelines">
    <div class="user-guidelines-picto">
      <%= image_tag 'pictos/money.svg' %>
    </div>
    <div class="user-guidelines-text">
      <h6>5 • <%= t '.advising_guidelines_title_5' %> (*)</h6>
      <p><%= t '.advising_guidelines_body_5' %></p>
    </div>
  </div>

  <p class="padded-top-xs"><%= t('.select_country') %></p>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 padded-top-xs">
      <%= f.input :country_code, label: false, prompt: t('.country'), input_html: { class: 'custom-form-input' } %>
    </div>
  </div>

  <%= f.hidden_field :status, value: 'localized_member' %>

  <div class="text-right padded-top-s">
    <%= button_tag(type: 'submit', class: "btn btn-form btn-green", data: {disable_with: t('.saving')}) do %>
      <i class='fa fa-arrow-right' aria-hidden='true'></i>&nbsp;&nbsp; <%= t '.continue' %>
    <% end %>
  </div>
<% end %>

<div class="text-right padded-top-xs">
  <p><%= link_to t('.back_to_profile'), user_path(@user) %></p>
</div>

<p class="medium-dark-gray padded-top-xs"><small>
  (*)
  <% if User.pricing_available_countries.present? %>
    <%= t('.country_restrictions') %>
    <%= User.pricing_available_countries.split.join(", ") %>
  <% else %>
    <%= t('.country_restrictions_beta') %>
  <% end %>
</small></p>
