<% content_for :title do %>
  <%= "Papoters | #{t('.country_title')}" %>
<% end %>

<%= simple_form_for @user,  url: update_country_users_path, method: :patch do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-xs-12 padded-top-s">
      <p><%= t('.select_country') %></p>
    </div>
    <div class="col-xs-12 col-sm-6 padded-top-xs">
      <%= f.input :country_code, label: false, prompt: t('.country'), input_html: { class: 'custom-form-input' } %>
    </div>
  </div>

  <%= f.hidden_field :pricing, value: 'pricing_pending' %>

  <div class="text-right padded-top-s">
    <%= button_tag(type: 'submit', class: "btn btn-form btn-green") do %>
      <i class='fa fa-plus' aria-hidden='true'></i>&nbsp;&nbsp; <%= t '.new_offer' %>
    <% end %>
  </div>
<% end %>

<div class="text-right padded-top-xs">
  <p><%= link_to t('.back_to_profile'), user_path(@user) %></p>
</div>
