<% content_for :title, "Papoters • #{t('.country_title')}" %>

<%= simple_form_for @user,  url: update_country_path, method: :patch do |f| %>
  <%= f.error_notification %>

  <div class="row">
    <div class="col-xs-12 padded-top-s">
      <p><%= t('.select_country') %></p>
    </div>
    <div class="col-xs-12 col-sm-6 padded-top-xs">
      <%= f.input :country_code, label: false, prompt: t('.country'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-12">
      <p><em>
        <% if User.pricing_available_countries.present? %>
          <%= t('.country_restrictions') %>
          <%= User.pricing_available_countries.split.join(", ") %>
        <% else %>
          <%= t('.country_restrictions_beta') %>
        <% end %>
      </em></p>
    </div>
  </div>

  <%= f.hidden_field :status, value: 'advisor' %>

  <div class="text-right padded-top-s">
    <%= button_tag(type: 'submit', class: "btn btn-form btn-green", data: {disable_with: t('.saving')}) do %>
      <i class='fa fa-plus' aria-hidden='true'></i>&nbsp;&nbsp; <%= t '.new_offer' %>
    <% end %>
  </div>
<% end %>

<div class="text-right padded-top-xs">
  <p><%= link_to t('.back_to_profile'), user_path(@user) %></p>
</div>
