<% content_for :title do %>
  <%= "Papoters | My dashboard" %>
<% end %>

<div class="padded-top-xxl bg-blue text-center dashboard-top">
  <div class="container">

    <h1>My dashboard</h1>
    <p><%= link_to "See my profile", user_path(@user) %></p>

    <div class="dashboard-tabs">
      <a class="dashboard-tab" data-target="#pinned-offers">
        <h4><i class="fa fa-thumb-tack" aria-hidden="true"></i></h4>
      </a>
      <a class="dashboard-tab active" data-target="#client-activity">
        <h5>Sessions as client</h5>
      </a>
      <a class="dashboard-tab" data-target="#advisor-activity">
        <h5>Sessions as advisor</h5>
      </a>
    </div>

  </div>
</div>


<div class="padded-top-s padded-bottom-xxl bg-light-gray">
  <div class="container">

    <div id="pinned-offers" class="dashboard-tab-content hidden">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <% if @user.pinned_offers.present? %>
            <% @user.pinned_offers.each do |pinned_offer| %>
              <%= render "offers/card", offer: pinned_offer.offer %>
            <% end %>
          <% else %>
            <p>You have no offers pinned.</p>
          <% end %>
        </div>
      </div>
    </div>


    <div id="client-activity" class="dashboard-tab-content">
      <div class="row text-center">
        <div class="col-xs-12 col-md-3 padded-bottom-xs">
          <div class="session-step-header padded-top-s padded-bottom-xs">
            <div></div><h3>Request</h3><div></div>
          </div>
          <% @user.client_deals_request.each do |deal| %>
            <%= render "deals/card", deal: deal, user: deal.advisor %>
          <% end %>
        </div>
        <div class="col-xs-12 col-md-3 padded-bottom-xs">
          <div class="session-step-header padded-top-s padded-bottom-xs">
            <div></div><h3>Proposition</h3><div></div>
          </div>
          <% @user.client_deals_proposition.each do |deal| %>
            <%= render "deals/card", deal: deal, user: deal.advisor %>
          <% end %>
        </div>
        <div class="col-xs-12 col-md-3 padded-bottom-xs">
          <div class="session-step-header padded-top-s padded-bottom-xs">
            <div></div><h3>Open</h3><div></div>
          </div>
          <% @user.client_deals_open.each do |deal| %>
            <%= render "deals/card", deal: deal, user: deal.advisor %>
          <% end %>
        </div>
        <div class="col-xs-12 col-md-3 padded-bottom-xs">
          <div class="session-step-header padded-top-s padded-bottom-xs">
            <div></div><h3>Closed</h3><div></div>
          </div>
          <% @user.client_deals_closed_recent.each do |deal| %>
            <%= render "deals/card", deal: deal, user: deal.advisor %>
          <% end %>
        </div>
        <% if @user.client_deals_closed_old.present? %>
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="session-step-header padded-top-s padded-bottom-xs">
              <div></div><h3>Past sessions</h3><div></div>
            </div>
            <% @user.client_deals_closed_old.each do |deal| %>
              <%= render "deals/card", deal: deal, user: deal.advisor %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>


    <div id="advisor-activity" class="dashboard-tab-content hidden">
      <div class="row text-center">
        <div class="col-xs-12 col-md-3 padded-bottom-xs">
          <div class="session-step-header padded-top-s padded-bottom-xs">
            <div></div><h3>Request</h3><div></div>
          </div>
          <% @user.advisor_deals_request.each do |deal| %>
            <%= render "deals/card", deal: deal, user: deal.client %>
          <% end %>
        </div>
        <div class="col-xs-12 col-md-3 padded-bottom-xs">
          <div class="session-step-header padded-top-s padded-bottom-xs">
            <div></div><h3>Proposition</h3><div></div>
          </div>
          <% @user.advisor_deals_proposition.each do |deal| %>
            <%= render "deals/card", deal: deal, user: deal.client %>
          <% end %>
        </div>
        <div class="col-xs-12 col-md-3 padded-bottom-xs">
          <div class="session-step-header padded-top-s padded-bottom-xs">
            <div></div><h3>Open</h3><div></div>
          </div>
          <% @user.advisor_deals_open.each do |deal| %>
            <%= render "deals/card", deal: deal, user: deal.client %>
          <% end %>
        </div>
        <div class="col-xs-12 col-md-3 padded-bottom-xs">
          <div class="session-step-header padded-top-s padded-bottom-xs">
            <div></div><h3>Closed</h3><div></div>
          </div>
          <% @user.advisor_deals_closed_recent.each do |deal| %>
            <%= render "deals/card", deal: deal, user: deal.client %>
          <% end %>
        </div>
        <% if @user.advisor_deals_closed_old.present? %>
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="session-step-header padded-top-s padded-bottom-xs">
              <div></div><h3>Past sessions</h3><div></div>
            </div>
            <% @user.advisor_deals_closed_old.each do |deal| %>
              <%= render "deals/card", deal: deal, user: deal.client %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
