<% content_for :title do %>
  <%= "Papoters | My dashboard" %>
<% end %>

<div class="padded-top-xxl bg-blue text-center dashboard-top" id="dashboard-page">
  <div class="container">

    <h1>My dashboard</h1>
    <p><%= link_to "See my profile", user_path(@user) %></p>

    <div class="dashboard-tabs">
      <a class="dashboard-tab" data-target="#dashboard-pinned-offers">
        <h4><i class="fa fa-thumb-tack" aria-hidden="true"></i></h4>
      </a>
      <a class="dashboard-tab active" data-target="#dashboard-current-deals">
        <h5>Current sessions</h5>
          <div id="deals-current-notifications" class="dashboard-tab-notifications badge-notification badge-red <%= 'hidden' if @user.deals_current_notifications == 0 %>">
            <%= @user.deals_current_notifications %>
          </div>
      </a>
      <a class="dashboard-tab" data-target="#dashboard-past-deals">
        <h5>Past sessions</h5>
          <div id="deals-past-notifications" class="dashboard-tab-notifications badge-notification badge-red <%= 'hidden' if @user.deals_past_notifications == 0 %>">
            <%= @user.deals_past_notifications %>
          </div>
      </a>
      <a class="dashboard-tab" data-target="#dashboard-cancelled-deals">
        <h5>Cancelled sessions</h5>
          <div id="deals-cancelled-notifications" class="dashboard-tab-notifications badge-notification badge-red <%= 'hidden' if @user.deals_cancelled_notifications == 0 %>">
            <%= @user.deals_cancelled_notifications %>
          </div>
      </a>
    </div>

  </div>
</div>


<div class="padded-top-s padded-bottom-xxl bg-light-gray">
  <div class="container">

    <div id="dashboard-pinned-offers" class="dashboard-tab-content hidden">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <% if @user.pinned_offers.present? %>
            <% @user.pinned_offers.each do |pinned_offer| %>
              <%= render "offers/card", offer: pinned_offer.offer %>
            <% end %>
          <% else %>
            <div class="text-center padded-top-xl">
              <h5><i class="fa fa-thumb-tack" aria-hidden="true"></i>&nbsp;&nbsp; Pin some offers to keep them on your dashboard!</h5>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <div id="dashboard-current-deals" class="dashboard-tab-content">
      <div class="row text-center">
        <div class="col-xs-12 col-md-3 padded-bottom-xs">
          <div class="dashboard-deal-status padded-top-s padded-bottom-xs">
            <div></div><h3>Request</h3><div></div>
          </div>
          <div id="dashboard-request-deals">
            <% @user.deals_request.each do |deal| %>
              <%= render "deals/card", deal: deal %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 padded-bottom-xs">
          <div class="dashboard-deal-status padded-top-s padded-bottom-xs">
            <div></div><h3>Proposition</h3><div></div>
          </div>
          <div id="dashboard-proposition-deals">
            <% @user.deals_proposition.each do |deal| %>
              <%= render "deals/card", deal: deal %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 padded-bottom-xs">
          <div class="dashboard-deal-status padded-top-s padded-bottom-xs">
            <div></div><h3>Open</h3><div></div>
          </div>
          <div id="dashboard-open-deals">
            <% @user.deals_open.each do |deal| %>
              <%= render "deals/card", deal: deal %>
            <% end %>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 padded-bottom-xs">
          <div class="dashboard-deal-status padded-top-s padded-bottom-xs">
            <div></div><h3>Closed</h3><div></div>
          </div>
          <div id="dashboard-closed-deals-recent">
            <% @user.deals_closed_recent.each do |deal| %>
              <%= render "deals/card", deal: deal %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div id="dashboard-past-deals" class="dashboard-tab-content hidden">
      <div class="row text-center">
        <div class="col-xs-12 col-md-8 col-md-offset-2 padded-top-s">
          <div id="dashboard-closed-deals-old">
            <% @user.deals_closed_old.each do |deal| %>
              <%= render "deals/card", deal: deal %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div id="dashboard-cancelled-deals" class="dashboard-tab-content hidden">
      <div class="row text-center">
        <div class="col-xs-12 col-md-8 col-md-offset-2 padded-top-s">
          <div id="dashboard-cancelled-deals-all">
            <% @user.deals_cancelled.each do |deal| %>
              <%= render "deals/card", deal: deal %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
