<% content_for :title do %>
  <%= "Papoters | #{t('.legal_details')}" %>
<% end %>

<script type="text/javascript" src="https://js.stripe.com/v3/"></script>

<h2><%= t '.legal_details' %></h2>

<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <div class="padded-top-xs padded-bottom-xs">
    <p><%= t('.select_country') %></p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= f.input :country_code, label: false, prompt: t('.country'), input_html: { class: 'custom-form-input' }, only: User::STRIPE_ALLOWED_COUNTRIES %>
    </div>
  </div>

  <div class="padded-top-xs padded-bottom-xs">
    <p><%= t '.select_legal_type' %></p>
  </div>

  <div class="custom-radio-buttons">
    <%= f.input :legal_type, label: false, as: :radio_buttons, collection: User.translated_legal_types %>
  </div>

  <div class="form-separation padded-top-s padded-bottom-xs">
    <div></div>
    <p><strong><%= t '.personal_details' %></strong></p>
    <div></div>
  </div>

  <div class="padded-top-xs">
    <p><%= t '.provide_personal_details' %></p>
  </div>

  <div class="row padded-top-xs">
    <div class="col-xs-12 col-sm-6">
      <%= f.input :first_name, label: false, placeholder: t('.first_name'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= f.input :last_name, label: false, placeholder: t('.last_name'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= f.input :birth_date, as: :custom, symbol: "<i class='fa fa-birthday-cake fa-fw' aria-hidden='true'></i>".html_safe, placeholder: t('.pick_date'), input_html: { class: 'custom-form-input datepicker', readonly: true, data: { date_end_date: "0d", date_start_date: "-150y", date_start_view: "decade" }, value: @user.birth_date ? l(@user.birth_date) : nil } %>
    </div>
  </div>

  <div class="row padded-top-xs user-business-details hidden">
    <div class="col-xs-12">
      <h6 class="blue"><%= t '.personal_address' %></h6>
    </div>
    <div class="col-xs-12 col-sm-8">
      <%= f.input :personal_address, label: false, placeholder: t('.street'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-5 col-sm-4">
      <%= f.input :personal_zip_code, label: false, placeholder: t('.zip_code'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-7 col-sm-5">
      <%= f.input :personal_city, label: false, placeholder: t('.city'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-9 col-sm-5">
      <div class="custom-form-field">
        <%= @user.country %>
      </div>
    </div>
    <div class="col-xs-3 col-sm-2 hidden user-state-field" >
      <%= f.input :personal_state, label: false, placeholder: t('.state'), input_html: { class: 'custom-form-input' } %>
    </div>
  </div>


<!--   Revoir  -->
  <%= f.input :identity, as: :file %>

  <div class="form-separation padded-top-m padded-bottom-xs user-business-details hidden">
    <div></div>
    <p><strong><%= t '.business_details' %></strong></p>
    <div></div>
  </div>

  <div class="padded-top-xs user-business-details hidden">
    <p><%= t '.provide_business_details' %></p>
  </div>

  <div class="row padded-top-xs user-business-details hidden">
    <div class="col-xs-12 col-sm-6">
      <%= f.input :business_name, placeholder: t('.business_name'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= f.input :business_tax_id, placeholder: t('.business_tax_id'), input_html: { class: 'custom-form-input' } %>
    </div>
  </div>

  <div class="row padded-top-xs">
    <div class="col-xs-12">
      <h6 class="blue"><%= t '.address' %></h6>
    </div>
    <div class="col-xs-12 col-sm-8">
      <%= f.input :address, label: false, placeholder: t('.street'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-5 col-sm-4">
      <%= f.input :zip_code, label: false, placeholder: t('.zip_code'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-7 col-sm-5">
      <%= f.input :city, label: false, placeholder: t('.city'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-9 col-sm-5">
      <div class="custom-form-field">
        <%= @user.country %>
      </div>
    </div>
    <div class="col-xs-3 col-sm-2 hidden user-state-field" >
      <%= f.input :state, label: false, placeholder: t('.state'), input_html: { class: 'custom-form-input' } %>
    </div>
  </div>

  <div class="form-separation padded-top-m padded-bottom-xs">
    <div></div>
    <p><strong><%= t '.bank_account' %></strong></p>
    <div></div>
  </div>

  <div class="padded-top-xs">
    <p><%= t '.bind_bank_account' %></p>
  </div>

  <div class="custom-form-frame-action bg-white-transparent">
    <p id="bankAccountDetails">
      <% if @user.bank_name && @user.bank_last4 %>
        <i class="fa fa-university fa-fw" aria-hidden="true"></i>
        <span class="font-weight-normal"><%= @user.bank_name %></span>
        <span class="medium-gray">&sdot;&sdot;&sdot;&sdot;<%= @user.bank_last4 %></span>
      <% else %>
        <span class="red"><%= t '.no_bank_account' %></span>
      <% end %>
    </p>
    <button type=button class="btn btn-gray" data-toggle="modal" data-target="#new-bank-account"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; <%= t('.new_account') %></button>
  </div>

  <%= f.hidden_field :bank_name %>
  <%= f.hidden_field :bank_last4 %>
  <%= f.hidden_field :pricing, value: @user.pricing_pending? ? 'pricing_enabled' : @user.pricing %>
  <%= f.input :stripeToken, as: :hidden, input_html: { value: '' } %>

  <div class="padded-top-m">
    <p><%= t '.details_verification' %></p>
    <p>
      <%= t '.accept_service_agreement_1' %>
      <%= link_to t('.tos'), terms_path, target: "blank" %>
      <%= t '.accept_service_agreement_2' %>
      <a href="https://stripe.com/connect-account/legal" target="blank"><%= t '.stripe_service_agreement'%></a>.
    </p>
  </div>

  <div class="text-right padded-top-s">
    <%= button_tag(type: 'submit', class: "btn btn-form btn-green", data: {disable_with: t('.transmitting')}) do %>
      <i class='fa fa-cloud-upload fa-lg' aria-hidden='true'></i>&nbsp;&nbsp; <%= t '.transmit' %>
    <% end %>
  </div>
<% end %>

<div class="text-right padded-top-xs">
  <p><%= link_to t('.back_to_profile'), user_path(@user) %></p>
</div>

<%= render 'bank_account' %>
