<% content_for :title do %>
  <%= "Papoters | #{t('.account_details')}" %>
<% end %>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<h2><%= t '.account_details' %></h2>

<%= simple_form_for @user do |f| %>
  <%= f.error_notification %>

  <div class="custom-radio-buttons padded-top-xs">
    <%= f.input :legal_type, label: false, as: :radio_buttons, collection: User.translated_legal_types %>
  </div>


  <div class="form-separation padded-top-s padded-bottom-s user-business-details hidden">
    <div></div>
    <p><strong><%= t '.personal_details' %></strong></p>
    <div></div>
  </div>

  <div class="row padded-top-xs">
    <div class="col-xs-12 col-sm-6">
      <%= f.input :first_name, label: false, placeholder: t('.first_name'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= f.input :last_name, label: false, placeholder: t('.last_name'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= f.input :birth_date, as: :custom, symbol: "<i class='fa fa-birthday-cake fa-fw' aria-hidden='true'></i>".html_safe, placeholder: t('.pick_date'), input_html: { class: 'custom-form-input datepicker', readonly: true, data: { date_end_date: "0d", date_start_date: "-150y", date_start_view: "decade" }, value: @user.birth_date ? l(@user.birth_date) : nil } %>
    </div>
  </div>

  <div class="row padded-top-xs user-business-details hidden">
    <div class="col-xs-12">
      <%= f.input :personal_address, placeholder: t('.street'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-5 col-sm-4">
      <%= f.input :personal_zip_code, label: false, placeholder: t('.zip_code'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-7 col-sm-4">
      <%= f.input :personal_city, label: false, placeholder: t('.city'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class='custom-form-field'>
        <%= @user.country %>
      </div>
    </div>
  </div>

  <div class="form-separation padded-top-m padded-bottom-s user-business-details hidden">
    <div></div>
    <p><strong><%= t '.business_details' %></strong></p>
    <div></div>
  </div>

  <div class="row padded-top-xs user-business-details hidden">
    <div class="col-xs-12 col-sm-6">
      <%= f.input :business_name, placeholder: t('.business_name'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <%= f.input :business_tax_id, placeholder: t('.business_tax_id'), input_html: { class: 'custom-form-input' } %>
    </div>
  </div>

  <div class="row padded-top-xs">
    <div class="col-xs-12">
      <%= f.input :address, placeholder: t('.street'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-5 col-sm-4">
      <%= f.input :zip_code, label: false, placeholder: t('.zip_code'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-7 col-sm-4">
      <%= f.input :city, label: false, placeholder: t('.city'), input_html: { class: 'custom-form-input' } %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class='custom-form-field'>
        <%= @user.country %>
      </div>
    </div>
  </div>

  <div class="form-separation padded-top-s padded-bottom-s">
    <div></div>
    <p><strong><%= t '.bank_account' %></strong></p>
    <div></div>
  </div>

  <div class="custom-form-warning bg-white-transparent">
    <p id="bankAccountDetails">
      <% if @user.bank_name && @user.bank_last4 %>
        <i class="fa fa-university fa-fw" aria-hidden="true"></i>
        <span class="font-weight-normal"><%= @user.bank_name %></span>
        <span class="medium-gray">&sdot;&sdot;&sdot;&sdot;<%= @user.bank_last4 %></span>
      <% else %>
        <%= t '.no_bank_account' %>
      <% end %>
    </p>
    <button type=button class="btn btn-gray" data-toggle="modal" data-target="#new-bank-account"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp; <%= t('.new') %></button>
    <%= render 'bank_account' %>
  </div>

  <%= f.hidden_field :bank_name %>
  <%= f.hidden_field :bank_last4 %>
  <%= f.input :stripeToken, as: :hidden, input_html: { value: '' } %>

  <div class="text-right padded-top-m">
    <%= button_tag(type: 'submit', class: "btn btn-form btn-green") do %>
      <i class='fa fa-cloud-upload fa-lg' aria-hidden='true'></i>&nbsp;&nbsp; <%= t '.update' %>
    <% end %>
  </div>
<% end %>

<div class="text-right padded-top-xs">
  <p><%= link_to t('.back_to_profile'), user_path(@user) %></p>
</div>
