<% content_for :title do %>
  <%= "Papoters | " %><%= @user.name_anonymous %>
<% end %>

<div class="padded-top-xxl padded-bottom-xs bg-gradient text-center user-top">
  <div class="container">
    <div class="row row-eq-height">

      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <%= render 'users/avatar', user: @user, size: 'avatar-xlarge' %>
        <%= render 'users/info', user: @user %>
      </div>

      <% if policy(@user).dashboard? %>
        <div class="col-xs-12 col-sm-3 col-lg-2 dashboard-link">
          <%= link_to dashboard_path, class: "dashboard-link-arrow" do %>
            <p>See my dashboard</p>
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="padded-top-xs padded-bottom-xl">
  <div class="container">
    <div class="row">

      <div class="<%= @user == current_user ? 'col-xs-6 col-lg-5 col-lg-offset-1' : 'col-xs-12 col-lg-5 col-lg-offset-1' %>" >
        <h2>About <%= @user == current_user ? "me" : @user.first_name %></h2>
      </div>
      <% if policy(@user).edit? %>
        <div class="col-xs-6 col-lg-5 text-right padded-top-s">
          <p>
            <%= link_to edit_user_registration_path do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; Edit my profile
            <% end %>
          </p>
        </div>
      <% end %>

      <div class="col-xs-12 col-lg-10 col-lg-offset-1 padded-top-xs">
        <% if @user.bio.present? %>
          <p><%= @user.bio %></p>
        <% elsif policy(@user).edit? %>
          <p>You haven't provide information about yourself.</p>
          <p><%= link_to "Edit your profile", edit_user_registration_path %> to let people know more about you.</p>
        <% else %>
          <p><%= @user.first_name %> hasn't provide personnal information yet.</p>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="bg-gray padded-top-s padded-bottom-xl">
  <div class="container">
    <div class="row">

      <div class="<%= @user == current_user ? 'col-xs-6 col-lg-5 col-lg-offset-1' : 'col-xs-12 col-lg-5 col-lg-offset-1' %>" >
        <h2><%= @user == current_user ? "My offers" : "Offers of #{@user.first_name}" %></h2>
      </div>
      <% if policy(@user.offers.new).new? %>
        <div class="col-xs-6 col-lg-5 text-right padded-top-xs">
          <%= link_to new_offer_path, class: "btn btn-form btn-green" do %>
            <i class='fa fa-plus' aria-hidden='true'></i>&nbsp;&nbsp; New offer
          <% end %>
        </div>
      <% end %>

      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <% if @user == current_user %>
          <% if @user.offers_published.present? %>
            <% @user.offers_published.each do |offer| %>
              <%= render "offers/card_profile", offer: offer %>
            <% end %>
          <% else %>
            <p>You have no offer published.</p>
            <p>You can <%= link_to "create an offer", new_offer_path %> or <%= link_to "check this out", be_advisor_path %> if you need to know more about being an advisor on Papoters.</p>
          <% end %>
        <% else %>
          <% if @user.offers_active.present? %>
            <% @user.offers_active.each do |offer| %>
              <%= render "offers/card_profile", offer: offer %>
            <% end %>
          <% else %>
            <p><%= @user.first_name %> has no offer published.</p>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div class="padded-top-xs padded-bottom-xl">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">

        <h3>
          <%= pluralize(@deals_reviewed.total_count, "review") %>
        </h3>
        <h5>
          <span class="green">
            <i class="fa fa-user-o" aria-hidden="true"></i> &nbsp;<%= @user.advisor_deals_reviewed.count %>
          </span>
          &nbsp; | &nbsp;
          <span class="yellow">
            <i class="fa fa-user-o" aria-hidden="true"></i> &nbsp;<%= @user.client_deals_reviewed.count %>
          </span>
        </h5>

        <div>
          <% if  @deals_reviewed.present? %>
            <div id="user_reviews_page">
              <%= render 'reviews' %>
            </div>
            <div class="text-center padded-top-s" id="user-reviews-paginator" >
              <%= link_to_previous_page @deals_reviewed, '< Previous', remote: true %>
              <%= link_to_next_page @deals_reviewed, 'Next >', remote: true %>
            </div>
          <% elsif @user == current_user %>
            <hr class="bd-gray">
            <p>You didn't get any reviews yet.</p>
          <% else %>
            <hr class="bd-gray">
            <p><%= @user.first_name %> didn't get any reviews yet.</p>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
