<% content_for :title, "Papoters | #{@user.name_anonymous}" %>
<% content_for :meta_description, @user.meta_description %>

<div class="padded-top-xxl padded-bottom-xs bg-gradient text-center user-top">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <%= render 'users/avatar', user: @user, size: 'avatar-xlarge' %>
        <div class="user-banner-info">
          <%= render 'users/info', user: @user %>
        </div>
        <% if policy(@user).dashboard? %>
          <p><%= link_to t('.see_dashboard'), dashboard_path %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="padded-top-xs padded-bottom-s">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">

        <div class="user-info-top">
          <h2><%= @user == current_user ? t('.about_me') : t('.about', user: @user.first_name) %></h2>
          <% if @user == current_user %>
            <p class="text-right">
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; <%= t('.edit_my_profile') %>
              <% end %>
            </p>
          <% end %>
        </div>
        <div class="padded-top-xs">
          <% if @user.bio.present? %>
            <%= sanitize auto_link(markdown_to_html(@user.bio)) %>
          <% elsif @user == current_user %>
            <p class="font-weight-normal"><%= t('.no_information_you') %></p>
            <p><%= link_to t('.edit_your_profile'), edit_user_registration_path %> <%= t('.be_known') %></p>
          <% else %>
            <p><%= t('.no_information', user: @user.first_name) %></p>
          <% end %>
        </div>
        <div class="padded-top-s">
          <%= render 'shared/share' %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-light-gray padded-top-s padded-bottom-xl">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">

        <div class="user-offers-top">
          <% if current_user == @user %>
            <h2><%= t('.my_offers') %></h2>
            <div>
              <% if policy(@user.offers.new).new? %>
                <%= link_to @user.client? ? country_path : new_offer_path, class: "btn btn-form btn-green", id: 'publish-offer-user-profile' do %>
                  <i class='fa fa-plus fa-fw' aria-hidden='true'></i>&nbsp; <%= t('.new_offer') %>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <h2><%= t('.offers', user: @user.first_name) %></h2>
          <% end %>
        </div>

        <% if @user == current_user %>
          <% if @user.offers_published.present? %>
            <%= render "pricing_info" %>
            <% @user.offers_published.each do |offer| %>
              <%= render "offers/card_without_user", offer: offer %>
            <% end %>

          <% else %>
            <div class="padded-top-xs">
              <p class="font-weight-normal"><%= t '.no_offers_you' %></p>
              <p><%= link_to t('.publish_offer'), @user.no_pricing? ? country_path : new_offer_path, id: 'publish-offer-user-profile' %> <%= t '.or' %> <%= link_to t('.find_out_more'), advisor_path %> <%= t '.know_more' %></p>
            </div>
          <% end %>

        <% else %>
          <% if @user.offers_active.present? %>
            <% @user.offers_active.each do |offer| %>
              <%= render "offers/card_without_user", offer: offer %>
            <% end %>
          <% else %>
            <p><%= t '.no_offers', user: @user.first_name %></p>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<div class="padded-top-xs padded-bottom-xl">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">

        <h3>
          <%= t('.reviews', count: @deals_reviewed.total_count) %>
        </h3>
        <div class="user-reviews-subtitle">
          <h6 class="yellow font-weight-normal">
            <%= @user.advisor_deals_reviewed.count %>
            <%= t '.as_service_provider' %>
          </h6>
          <h6 class="hidden-xs">&nbsp; | &nbsp;</h6>
          <h6 class="green font-weight-normal">
            <%= @user.client_deals_reviewed.count %>
            <%= t '.as_service_recipient' %>
          </h6>
        </div>
        <div>
          <% if  @deals_reviewed.present? %>
            <div id="user_reviews_page">
              <%= render 'reviews' %>
            </div>
            <div class="text-center padded-top-xs" id="user-reviews-paginator" >
              <%= paginate @deals_reviewed, remote: true  %>
            </div>
          <% elsif @user == current_user %>
            <hr class="bd-gray">
            <p><%= t '.no_reviews_you' %></p>
          <% else %>
            <hr class="bd-gray">
            <p><p><%= t '.no_reviews', user: @user.first_name %></p>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
