<% content_for :title do %>
  <%= @user.name_anonymous %><%= "- Profile | Tipswell" %>
<% end %>

<div class="wrapper text-center padded padded-top">

  <%= render 'shared/avatar', user: @user, size: 'avatar-xlarge' %>

  <h1><%= @user.name_anonymous %></h1>
  <h3><%= @user.grade %></h3>
  <h4><i class="fa fa-map-marker" aria-hidden="true"></i>  <%= @user.address %></h4>
</div>

<div class="container">

  <div>
    <h2>About me</h2>
    <p><%= @user.bio %></p>
  </div>

  <div>
    <% if @user == current_user %>
      <%= link_to "Edit my profile", edit_user_registration_path %>
    <% end %>
  </div>

  <h2>My offers</h2>

  <% @user.offers.each do |offer| %>
    <%= render "offers/card_no_profile", offer: offer %>
    <div>
      <% if policy(offer).edit? %>
        <%= link_to "Edit offer", edit_offer_path(offer) %>
      <% end %>
    </div>
  <% end %>

  <% if @user == current_user %>
    <div class="btn btn-default">
        <%= link_to "Create offer", new_offer_path %>
    </div>
  <% end %>

  <h2>Reviews as advisor (<%= @user.advisor_deals_reviewed.count %>)</h2>
  <hr>
  <div>
    <% @user.advisor_deals_reviewed.each do |deal| %>
      <%= render 'offers/review', user: deal.client, rating: deal.client_rating, review: deal.client_review %>
      <%= link_to offer_path(deal.offer) do %>
        <%= deal.offer.title %>
      <% end %>
      <hr>
    <% end %>
  </div>

  <h2>Reviews as client (<%= @user.deals_reviewed.count %>)</h2>
  <hr>
  <div>
    <% @user.deals_reviewed.each do |deal| %>
      <%= render 'offers/review', deal: deal, user: deal.client, rating: deal.client_rating, review: deal.client_review %>
      <%= link_to offer_path(deal.offer) do %>
        <%= deal.offer.title %>
      <% end %>
      <hr>
    <% end %>
  </div>

</div>
