<% content_for :title do %>
  <%= @user.name_anonymous %><%= "- Profile | Papoters" %>
<% end %>

<div class="wrapper text-center small-padded-bottom padded-top">
  <div class="container">
    <%= render 'shared/avatar', user: @user, size: 'avatar-xlarge' %>
    <h1><%= @user.name_anonymous %></h1>
    <h3><%= @user.grade %></h3>
    <h4><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp; <%= @user.address %></h4>
  </div>
</div>

<div class="padded padded-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h2>About me</h2>
      </div>
      <div class="col-xs-6 text-right small-padded-top">
        <% if @user == current_user %>
        <p class="small-padded-top"><%= link_to "Edit my profile", edit_user_registration_path %></p>
        <% end %>
      </div>
    </div>
    <p class="small-padded-top"><%= @user.bio %></p>
  </div>
</div>

<div class="wrapper-gray padded padded-bottom">
  <div class="container">

    <div class="row">
      <div class="col-xs-6">
        <h2>My offers</h2>
      </div>
      <div class="col-xs-6 text-right small-padded-top">
        <% if @user == current_user %>
          <%= link_to "Create new offer", new_offer_path, class: "btn btn-green"  %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <% @user.offers.each do |offer| %>
        <div class="col-xs-12">
          <%= render "offers/card_profile", offer: offer %>
        </div>
      <% end %>
    </div>

  </div>
</div>

<div class="padded padded-bottom">
  <div class="container">

    <h2>Reviews as advisor (<%= @user.advisor_deals_reviewed.count %>)</h2>
    <div>
      <% @user.advisor_deals_reviewed.each do |deal| %>
        <%= render 'deals/review_with_link', deal: deal, user: deal.client, rating: deal.rating, review: deal.client_review, date: deal.updated_at %>
      <% end %>
    </div>

    <h2>Reviews as client (<%= @user.deals_reviewed.count %>)</h2>
    <div>
      <% @user.deals_reviewed.each do |deal| %>
        <%= render 'deals/review_with_link', deal: deal, user: deal.advisor, rating: nil, review: deal.advisor_review, date: deal.updated_at %>
      <% end %>
    </div>

  </div>
</div>
