<% content_for :title, "Papoters | #{t('.stripe_connection')}" %>

<div class="text-center padded-top-s padded-bottom-xs">
  <div class="icon-big"><%= image_tag 'amount.svg' %></div>
  <p class="font-weight-normal blue"><%= t '.account_connected' %></p>
</div>

<p class="font-weight-normal"><%= t '.connected_to_stripe' %></p>
<p><%= t '.edit_your_offers_html' %></p>

<div class="padded-top-xs padded-bottom-xs text-right">
  <%= link_to t('.back_to_profile'), user_path(current_user), class: "btn btn-form btn-gray" %>
</div>


