<% content_for :title, "Papoters | #{t('.password_reset')}" %>

<h2><%= t(".password_reset") %></h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :reset_password_token, as: :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="form-inputs padded-top-xs">
    <%= f.input :password, as: :custom, autofocus: true, symbol: "<i class='fa fa-lock fa-fw' aria-hidden='true'></i>".html_safe, label: false, placeholder: t('.new_password', length: @minimum_password_length), input_html: { class: 'custom-form-input', type: 'password' } %>
  </div>

  <div class="form-actions text-right padded-top-xs">
    <%= button_tag(type: 'submit', class: "btn btn-form btn-blue", data: {disable_with: t('.reseting')}) do %>
      <i class='fa fa-sign-in' aria-hidden='true'></i>&nbsp;&nbsp; <%= t(".reset") %>
    <% end %>
  </div>
<% end %>

<div class='text-right padded-top-xs font-weight-lighter'>
  <%= link_to t('.go_back'), new_session_path(resource_name) %>
</div>
