<% if user_signed_in? %>
  <div id="current-user" data-user-id="<%= current_user.id %>"" data-pinned-offers-ids="<%= current_user.pinned_offers_ids %>"></div>
<% end %>
<div id="current-locale" data-locale="<%= I18n.locale %>"></div>
<div id="current-currency" data-currency-code="<%= user_signed_in? ? current_user.currency_code : Money.default_currency.iso_code %>" data-currency-symbol="<%= user_signed_in? ? current_user.currency.symbol : Money.default_currency.symbol %>"></div>
<div id="current-env" data-env="<%= ENV['PIPELINE_ENV'] %>"></div>
<div id="fb-app-id" data-id="<%= ENV['FB_ID'] %>"></div>
<div id="ga-id" data-id="<%= ENV['GOOGLE_ANALYTICS_ID'] %>"></div>
