<div class="footer-wrapper">
  <div class="container padded-top-m padded-bottom-s">
    <div class="footer-box">

        <div class="padded-bottom-xs footer-box-left">
          <p>
            <%= link_to "Find advice", root_path %>
            <%= link_to "Give advice", be_advisor_path %>
            <%= link_to "About", root_path %>
            <%= link_to "Q&A", root_path %>
            <%= link_to "Careers", root_path %>
            <%= link_to "Terms & Privacy", root_path %>
            <%= link_to "Contact", root_path %>
          </p>
        </div>

        <div class="padded-bottom-xs footer-box-right">
          <ul class="list-inline">
            <li>
              <%= link_to "https://www.facebook.com/Papoters-354685034893271/" do %>
                <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
              <% end %>
              <%= link_to "https://www.facebook.com/Papoters-354685034893271/" do %>
                <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
              <% end %>
              <%= link_to "https://www.facebook.com/Papoters-354685034893271/" do %>
                <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
              <% end %>
            </li>
          </ul>
        </div>

    </div>
  </div>
</div>
