<div class="my-footer">

        <div class="my-footer-left">
          <ul class="list-inline">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Give advice", be_advisor_path %></li>
            <li><%= link_to "About", root_path %></li>
            <li><%= link_to "Q&A", root_path %></li>
            <li><%= link_to "Careers", root_path %></li>
            <li><%= link_to "Terms & Privacy", root_path %></li>
            <li><%= link_to "Contact", root_path %></li>
          </ul>
        </div>

        <div class="my-footer-right">
          <ul class="list-inline">
            <li>
              <%= link_to "https://www.facebook.com/Papoters-354685034893271/" do %>
                <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
              <% end %>
              <%= link_to "https://www.facebook.com/Papoters-354685034893271/" do %>
                <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
              <% end %>
              <%= link_to "https://www.facebook.com/Papoters-354685034893271/" do %>
                <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
              <% end %>
            </li>
          </ul>
        </div>

</div>
