<div class="my-footer">

  <div class="my-footer-left">
    <ul class="list-inline">
      <li><%= link_to t('footer.need_advice'), root_path %></li>
      <li><%= link_to t('footer.be_advisor'), advisor_path, id: 'footer-be-advisor-btn' %></li>
      <li><%= link_to t('footer.about'), about_path %></li>
      <li><%= link_to t('footer.t&p'), terms_path %></li>
      <li><%= link_to t('footer.contact'), contact_path %></li>
    </ul>
  </div>

  <div class="my-footer-right">
    <ul class="list-inline">
      <li>
        <%= link_to "https://www.facebook.com/papotersapp" do %>
          <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
        <% end %>
        <%= link_to "https://www.instagram.com/papotersapp" do %>
          <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
        <% end %>
        <%= link_to "https://twitter.com/papotersapp" do %>
          <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
        <% end %>
      </li>
    </ul>
  </div>

</div>
