<p>
  <%= link_to "PAPOTERS.COM", "https://www.papoters.com", style: "text-decoration:none; color: #828282"%>
  <br>
  <%= link_to "FACEBOOK", "https://www.facebook.com/papotersapp", style: "text-decoration:none; color: #828282; font-weight:normal"%>
  &nbsp;•&nbsp;
  <%= link_to "TWITTER", "https://twitter.com/papotersapp", style: "text-decoration:none; color: #828282"%>
  &nbsp;•&nbsp;
  <%= link_to "INSTAGRAM", "https://www.instagram.com/papotersapp", style: "text-decoration:none; color: #828282"%>
</p>

<p style="color: #9D9D9D;">
  <%= t 'mail_footer.on_demand_advising' %>
</p>
