<div class="my-navbar my-navbar-fixed">

  <div class="my-navbar-left">
    <%= link_to root_path, { class: "my-navbar-brand" } do %>
      <%= image_tag "papoters_logo.svg" %>
    <% end %>
  </div>

  <div class="my-navbar-middle hidden-xs">
    <%= form_tag(search_path, method: "get", id: "my-navbar-search") do %>
      <%= text_field_tag :search, params[:search], placeholder: "I need some advice for ...", class: "my-navbar-search-input" %>
      <%= button_tag(type: 'submit', class: "my-navbar-search-btn") do %>
        <i class='fa fa-search'></i>
      <% end %>
    <% end %>
  </div>

  <div class="my-navbar-right hidden-xs">
    <%= link_to "Give advice", be_advisor_path, { class: "my-navbar-item my-navbar-button btn btn-green" } %>
    <%= link_to "Join", new_user_registration_path, { class: "my-navbar-item my-navbar-link" } %>
    <%= link_to "Sign In", new_user_session_path, { class: "my-navbar-item my-navbar-link" } %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="hidden-sm hidden-md hidden-lg">
    <div class="dropdown" id="mobile-dropdown">
      <i class="fa fa-lg fa-bars dropdown-toggle mobile-dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu my-navbar-dropdown-menu mobile-dropdown-menu">
        <li>
          <%= form_tag(search_path, method: "get", id: "dropdown-search") do %>
            <%= text_field_tag :search, params[:search], placeholder: "I need some advice for ...", class: "my-navbar-search-input" %>
            <%= button_tag(type: 'submit', class: "my-navbar-search-btn") do %>
              <i class='fa fa-search'></i>
            <% end %>
          <% end %>
        </li>
        <li><%= link_to "Give advice", be_advisor_path %></li>
        <li><%= link_to "Join", new_user_registration_path %></li>
        <li><%= link_to "Sign In", new_user_session_path %></li>
      </ul>
    </div>
  </div>

</div>
