<div class="my-navbar my-navbar-fixed">

  <% if user_signed_in? %>
    <div id="my-navbar-logged" data-user-id="<%= current_user.id %>"></div>
  <% end %>

  <div class="my-navbar-left">
    <%= link_to root_path, { class: "my-navbar-brand" } do %>
      <%= image_tag "papoters.svg" %>
    <% end %>

    <div class="my-navbar-item">
      <div id="my-navbar-locale-toggle">
        <%= image_tag "flags/#{I18n.locale}.svg" %>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </div>
      <ul id="my-navbar-locale-menu" class="list-unstyled">
        <% I18n.available_locales.each do |locale| %>
          <li class="text-center">
            <% if user_signed_in? %>
              <%= link_to change_locale_path(locale: locale, path: url_for(locale: locale)), method: :patch do %>
                <%= image_tag "flags/#{locale}.svg" %>
              <% end %>
            <% else %>
              <%= link_to locale: locale do %>
                <%= image_tag "flags/#{locale}.svg" %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

  <div class="my-navbar-middle">
    <button class="btn my-navbar-button-round btn-yellow" id="my-navbar-btn-search-trigger">
      <i class='fa fa-search'></i>
    </button>
  </div>


 <!-- Not appearing on small screens -->

  <div class="my-navbar-right hidden-xs">
    <%= link_to t('navbar.be_advisor'), be_advisor_path, { class: "my-navbar-button btn btn-green" } %>

    <% if user_signed_in? %>
      <%= link_to dashboard_path, { class: "btn my-navbar-button-round btn-blue" } do %>
          <i class="fa fa-hashtag"></i>
          <div id="my-navbar-badge">
            <%= render 'users/notifications' %>
          </div>
      <% end %>

      <div class="my-navbar-item">
        <div id="my-navbar-profile-toggle">
          <%= render 'users/avatar', user: current_user, size: 'avatar-flex' %>
        </div>
        <ul id="my-navbar-profile-menu" class="list-unstyled">
          <li><%= link_to t('navbar.profile'), user_path(current_user) %></li>
          <li><%= link_to t('navbar.dashboard'), dashboard_path %></li>
          <li><%= link_to t('navbar.sign_out'), destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>

    <% else %>
      <%= link_to t('navbar.sign_up'), new_user_registration_path, { class: "my-navbar-item my-navbar-link" } %>
      <%= link_to t('navbar.sign_in'), new_user_session_path, { class: "my-navbar-item my-navbar-link" } %>

    <% end %>

  </div>


  <!-- Appearing on small screens only -->

  <div class="hidden-sm hidden-md hidden-lg">
    <div id="my-navbar-burger-toggle">
      <i class="fa fa-lg fa-bars blue"></i>
      <% if user_signed_in? %>
        <div id="my-navbar-burger-badge">
          <%= render 'users/notifications' %>
        </div>
      <% end %>
    </div>

    <ul id="my-navbar-burger-menu" class="list-unstyled">
      <li><%= link_to t('navbar.be_advisor'), be_advisor_path %></li>

      <% if user_signed_in? %>
        <li><%= link_to t('navbar.profile'), user_path(current_user) %></li>
        <li>
          <%= link_to dashboard_path do %>
            <%= t('navbar.dashboard') %>
            <div id="my-navbar-burger-menu-badge">
              <%= render 'users/notifications' %>
            </div>
          <% end %>
        </li>
        <li><%= link_to t('navbar.sign_out'), destroy_user_session_path, method: :delete %></li>

      <% else %>
        <li><%= link_to t('navbar.sign_up'), new_user_registration_path %></li>
        <li><%= link_to t('navbar.sign_in'), new_user_session_path %></li>
      <% end %>
    </ul>
  </div>

</div>
