<div class="my-navbar my-navbar-fixed">
  <!-- Logo -->
  <%= link_to root_path, { class: "my-navbar-brand" } do %>
    <%= image_tag "papoters_logo.svg" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="my-navbar-right hidden-xs hidden-sm">

    <!-- Search form -->
    <form action="/offers" class="my-navbar-search">
      <input type="text" class="my-navbar-search-input" placeholder="Search tips">
      <button type="submit" class="my-navbar-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>

    <!-- Give tips button -->
    <%= link_to "Give tips", new_offer_path, { class: "my-navbar-item my-navbar-button btn" } %>

    <!-- Notification link-->
    <a href="" class="my-navbar-item my-navbar-link">
      <div class="badge-container">
        <i class="fa fa-envelope-o"></i>
        <div class="badge badge-blue">3</div>
      </div>
    </a>

    <!-- Profile picture and dropdown -->
    <div class="my-navbar-item">
      <div class="dropdown">

        <div class="dropdown-toggle" id="my-navbar-menu", data-toggle="dropdown">
          <%= render 'shared/avatar', user: current_user, size: 'avatar' %>
        </div>

        <ul class="dropdown-menu dropdown-menu-right my-navbar-dropdown-menu">
          <li><%= link_to "Profile", user_path(current_user) %></li>
          <li><%= link_to "Dashboard", dashboard_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        </ul>
      </div>
    </div>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="my-navbar-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right my-navbar-dropdown-menu">
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Dashboard", dashboard_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</div>
