<div class="my-navbar my-navbar-fixed">

  <% if user_signed_in? %>
    <div id="my-navbar-logged" data-user-id="<%= current_user.id %>"></div>
  <% end %>

  <div class="my-navbar-left">
    <%= link_to root_path, { class: "my-navbar-brand" } do %>
      <div class="hidden-sm hidden-md hidden-lg">
        <%= image_tag "papoters_icon.svg", width: '35px', height: '35px' %>
      </div>
      <div class="hidden-xs">
        <%= image_tag "papoters.svg", width: '180px', height: '45px' %>
      </div>
    <% end %>

    <div class="my-navbar-item">
      <div id="my-navbar-locale-toggle">
        <%= image_tag "flags/#{I18n.locale}.svg", height: '20px' %>
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </div>
      <ul id="my-navbar-locale-menu" class="list-unstyled">
        <% I18n.available_locales.each do |locale| %>
          <li class="text-center">
            <% if user_signed_in? %>
              <%= link_to change_locale_path(locale: locale, path: url_for(locale: locale)), method: :patch do %>
                <%= image_tag "flags/#{locale}.svg", height: '20px' %>
              <% end %>
            <% else %>
              <%= link_to locale: locale do %>
                <%= image_tag "flags/#{locale}.svg", height: '20px' %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>

  <div class="my-navbar-middle">
    <button class="btn my-navbar-button-round btn-yellow text-center <%= 'search-bar-active' if params[:q] %>" id="my-navbar-btn-search-trigger">
      <i class='fa fa-search' aria-hidden='true'></i>
    </button>
  </div>


 <!-- Not appearing on small screens -->

  <div class="my-navbar-right hidden-xs hidden-sm">
    <%= link_to advisor_path, class: "my-navbar-button btn btn-green", id: "navbar-be-advisor-btn" do %>
      <i class="fa fa-info-circle"></i>&nbsp;&nbsp;
      <%= t('navbar.be_advisor') %>
    <% end %>

    <% if user_signed_in? %>
      <%= link_to dashboard_path, { class: "btn my-navbar-button-round btn-blue", id: "my-navbar-dashboard-btn", title: t('navbar.dashboard') } do %>
        <i class="fa fa-th-large"></i>
        <div id="my-navbar-badge">
          <%= render 'users/notifications' %>
        </div>
      <% end %>

      <div class="my-navbar-item">
        <div id="my-navbar-profile-toggle">
          <%= render 'users/avatar', user: current_user, size: 'avatar-flex' %>
        </div>
        <ul id="my-navbar-profile-menu" class="list-unstyled">
          <li>
            <%= link_to user_path(current_user) do %>
              <i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;
              <%= t('navbar.profile') %>
            <% end %>
          </li>
          <li>
            <%= link_to dashboard_path do %>
              <i class="fa fa-th-large fa-fw"></i>&nbsp;&nbsp;
              <%= t('navbar.dashboard') %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out fa-fw"></i>&nbsp;&nbsp;
              <%= t('navbar.sign_out') %>
            <% end %>
          </li>
        </ul>
      </div>

    <% else %>
      <%= link_to new_user_registration_path, class: "my-navbar-item my-navbar-link", id: "sign-up-navbar" do %>
        <i class="fa fa-user-plus"></i>&nbsp;&nbsp;
        <%= t('navbar.sign_up') %>
      <% end %>
      <%= link_to new_user_session_path, class: "my-navbar-item my-navbar-link" do %>
        <i class="fa fa-sign-in"></i>&nbsp;&nbsp;
        <%= t('navbar.sign_in') %>
      <% end %>

    <% end %>

  </div>


  <!-- Appearing on small screens only -->

  <div class="hidden-md hidden-lg">
    <div id="my-navbar-burger-toggle" class="btn my-navbar-button-round btn-blue">
      <span></span>
<!--       <i class="fa fa-bars"></i> -->
      <% if user_signed_in? %>
        <div id="my-navbar-burger-badge">
          <%= render 'users/notifications' %>
        </div>
      <% end %>
    </div>

    <ul id="my-navbar-burger-menu" class="list-unstyled">
      <li>
        <%= link_to advisor_path, id: "navbar-be-advisor-btn" do %>
          <i class="fa fa-info-circle fa-fw"></i>&nbsp;&nbsp;
          <%= t('navbar.be_advisor') %>
        <% end %>
      </li>

      <% if user_signed_in? %>
        <li>
          <%= link_to user_path(current_user) do %>
            <i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;
            <%= t('navbar.profile') %>
          <% end %>
        </li>
        <li>
          <%= link_to dashboard_path do %>
            <i class="fa fa-th-large fa-fw"></i>&nbsp;&nbsp;
            <%= t('navbar.dashboard') %>
            <div id="my-navbar-burger-menu-badge">
              <%= render 'users/notifications' %>
            </div>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out fa-fw"></i>&nbsp;&nbsp;
            <%= t('navbar.sign_out') %>
          <% end %>
        </li>

      <% else %>
        <li>
          <%= link_to new_user_registration_path, id: "sign-up-navbar" do %>
            <i class="fa fa-user-plus fa-fw"></i>&nbsp;&nbsp;
            <%= t('navbar.sign_up') %>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <i class="fa fa-sign-in fa-fw"></i>&nbsp;&nbsp;
            <%= t('navbar.sign_in') %>
          <% end %>
        </li>

      <% end %>
    </ul>
  </div>

</div>
