<div class="offer-card">
  <div class="row">
    <div class="col-xs-9">
      <h2><%= offer.title %></h2>
      <div class="row row-padding">
        <div class="col-xs-4">
          <p>Track record:
            <strong><%= offer.deals_closed.count %></strong>
          </p>
        </div>
        <div class="col-xs-4">
          <p>Satisfaction:
            <% unless offer.global_rating.nil? %>
              <% (offer.global_rating.to_i).times do %>
                <i class="fa fa-star yellow" aria-hidden="true"></i>
              <% end %>
              <% (5 - offer.global_rating.to_i).times do %>
                <i class="fa fa-star medium-gray" aria-hidden="true"></i>
              <% end %>
              <strong><%= (offer.global_rating / 5 * 100).to_i %> %</strong>
            <% else %>
              <% 5.times do %>
                <i class="fa fa-star-o medium-gray" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </p>
        </div>

        <div class="col-xs-4">
          <p>Prices:
            <% unless offer.median_price.nil? %>
              $<%= offer.min_price.to_i %> -
              <strong>$<%= offer.median_price.to_i %></strong> -
              $<%= offer.max_price.to_i %>
            <% else %>
              -
            <% end %>
          </p>
        </div>
      </div>

      <div class="description">
        <p><%= offer.description[0..350] %> ... <strong>more</strong></p>
      </div>

      <div class="row row-padding">
        <div class="col-xs-4">
          <ul class = "list-inline">
            <% offer.languages.each do |language| %>
              <li><%= language.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-xs-5">
          <ul class = "list-inline">
            <% offer.means.each do |mean| %>
              <li><i class="fa <%= mean.picto %>" aria-hidden="true"></i></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="text-center profile">
        <div>
          <% avatar_url = offer.advisor.facebook_picture_url || "photo_client.png" %>

          <% if avatar_url == offer.advisor.facebook_picture_url %>
            <%= image_tag avatar_url, class: "avatar-medium" %>
          <% elsif offer.advisor.photo == nil %>
            <%= image_tag avatar_url, class: "avatar-medium" %>
          <% else %>
            <%= cl_image_tag offer.advisor.photo.path, class: "avatar-medium" %>
          <% end %>
          <p><%= offer.advisor.name_anonymous %></p>
          <p><%= offer.advisor.grade %></p>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i>  <%= offer.advisor.address %></p>
        </div>
      </div>
    </div>
  </div>
  <%= link_to "", offer_path(offer), class: "link" %>
</div>
