<div class="share-bar">
  <h6><%= t 'share.share' %></h6>&nbsp;

  <button title="<%= t 'share.copy_link' %>" id="copyLinkBtn" class="btn btn-small btn-dark-gray">
    <i class="fa fa-link fa-fw" aria-hidden="true"></i>
  </button>

  <button title="<%= t 'share.share_on_fb' %>" id="facebookShareBtn" class="btn btn-small btn-facebook">
    <i class="fa fa-facebook fa-fw" aria-hidden="true"></i>
  </button>

  <button title="<%= t 'share.share_on_li' %>" id="linkedInShareBtn" class="btn btn-small btn-linkedin">
    <i class="fa fa-linkedin fa-fw" aria-hidden="true"></i>
  </button>

  <button title="<%= t 'share.share_on_tw' %>" id="twitterShareBtn" class="btn btn-small btn-twitter">
    <i class="fa fa-twitter fa-fw" aria-hidden="true"></i>
  </button>

</div>
