<% content_for :title, "Papoters • #{t('.title')}" %>
<% content_for :meta_description, t('.meta_description') %>

<div class="home">

  <div class="home-banner home-banner-vertical hidden-xs hidden-sm">
    <div class="home-banner-left home-content-wrapper bg-light-gray">
      <h1 class="home-banner-title"><%= t '.banner_title' %></h1>
      <h2><%= t '.banner_subtitle' %></h2>
      <div class="padded-top-m">
        <% if user_signed_in? %>
          <%= link_to current_user.advisor? ? new_offer_path : advising_path, class: "btn btn-green home-btn", id: "publish-offer-advisor-banner" do %>
            <i class='fa fa-plus' aria-hidden='true'></i>&nbsp;&nbsp;
            <%= t('.publish_offer_button') %>
          <% end %>
        <% else %>
          <%= link_to new_user_registration_path, class: "btn btn-green home-btn", id: "sign-up-advisor-banner" do %>
            <i class='fa fa-user-plus' aria-hidden='true'></i>&nbsp;&nbsp;
            <%= t('.sign_up_as_papoter_button') %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="home-banner-triangle"></div>
  </div>

  <div class="home-banner text-center bg-blue-transparent hidden-md hidden-lg">
    <div class="home-banner-full-screen-top home-content-wrapper">
      <div class="home-flex-800">
        <h1 class="home-banner-title"><%= t '.banner_title' %></h1>
        <h2><%= t '.banner_subtitle' %></h2>
      </div>
    </div>
    <div class="padded-top-m">
      <% if user_signed_in? %>
        <%= link_to current_user.advisor? ? new_offer_path : advising_path, class: "btn btn-green home-btn", id: "publish-offer-advisor-banner" do %>
          <i class='fa fa-plus' aria-hidden='true'></i>&nbsp;&nbsp;
          <%= t('.publish_offer_button') %>
        <% end %>
      <% else %>
        <%= link_to new_user_registration_path, class: "btn btn-green home-btn", id: "sign-up-advisor-banner" do %>
          <i class='fa fa-user-plus' aria-hidden='true'></i>&nbsp;&nbsp;
          <%= t('.sign_up_as_papoter_button') %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="home-scroll-arrow">
    <div id="home-arrow-down">
      <div class="hidden-xs hidden-sm hidden-lg">
        <%= image_tag 'arrow_down.svg' %>
      </div>
      <div class="hidden-md">
        <%= image_tag 'arrow_down_white.svg' %>
      </div>
    </div>
  </div>

  <div class="padded-top-l padded-bottom-m bg-white text-center home-benefits">
    <div class="home-content-wrapper padded-bottom-m">
      <div class="home-flex-700">
        <h2><%= t '.benefits_title' %></h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4 padded-bottom-m">
          <div class="home-benefits-box">
            <div class="home-benefits-picto">
              <%= image_tag 'pictos/showcase.svg' %>
            </div>
            <h3><%= t '.benefits_title_1' %></h3>
            <p><%= t '.benefits_text_1' %></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4 padded-bottom-m">
          <div class="home-benefits-box">
            <div class="home-benefits-picto">
              <%= image_tag 'pictos/proposition.svg' %>
            </div>
            <h3><%= t '.benefits_title_2' %></h3>
            <p><%= t '.benefits_text_2' %></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4 padded-bottom-m">
          <div class="home-benefits-box">
            <div class="home-benefits-picto">
              <%= image_tag 'pictos/shooting_star.svg' %>
            </div>
            <h3><%= t '.benefits_title_3' %></h3>
            <p><%= t '.benefits_text_3' %></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4 padded-bottom-m">
          <div class="home-benefits-box">
            <div class="home-benefits-picto">
              <%= image_tag 'pictos/money.svg' %>
            </div>
            <h3><%= t '.benefits_title_4' %></h3>
            <p><%= t '.benefits_text_4' %></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4 padded-bottom-m">
          <div class="home-benefits-box">
            <div class="home-benefits-picto">
              <%= image_tag 'pictos/dashboard.svg' %>
            </div>
            <h3><%= t '.benefits_title_5' %></h3>
            <p><%= t '.benefits_text_5' %></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4 padded-bottom-m">
          <div class="home-benefits-box">
            <div class="home-benefits-picto">
              <%= image_tag 'pictos/screen.svg' %>
            </div>
            <h3><%= t '.benefits_title_6' %></h3>
            <p><%= t '.benefits_text_6' %></p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="bg-light-gray padded-top-l padded-bottom-xl">
    <div class="home-content-wrapper padded-bottom-s text-center">
      <div class="home-flex-700">
        <h2><%= t '.offer_example_title' %></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1 padded-bottom-s">
          <%= render 'offers/card', offer: @offer %>
        </div>
      </div>
    </div>

    <div class="home-content-wrapper padded-top-m padded-bottom-xs text-center">
      <% if user_signed_in? %>
        <%= link_to current_user.advisor? ? new_offer_path : advising_path, class: "btn btn-green home-btn", id: "publish-offer-advisor-btn" do %>
          <i class='fa fa-plus' aria-hidden='true'></i>&nbsp;&nbsp;
          <%= t('.publish_offer_button') %>
        <% end %>
      <% else %>
        <%= link_to new_user_registration_path, class: "btn btn-green home-btn", id: "sign-up-advisor-btn" do %>
          <i class='fa fa-user-plus' aria-hidden='true'></i>&nbsp;&nbsp;
          <%= t('.sign_up_as_papoter_button') %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="bg-white padded-top-l padded-bottom-xl text-center ">
    <div class="home-content-wrapper">
      <div class="home-flex-700">
        <h2><%= t '.find_advisor_title' %></h2>
        <h3 class="medium-dark-gray no-margin-top"><%= t '.find_advisor_subtitle' %></h3>
        <div class="home-topics padded-top-m padded-bottom-xs">
          <% Offer.topics_home_page.each do |topic|  %>
            <h2 class="offer-topic home-topic"># <%= topic %></h2>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
