<% content_for :title do %>
  <%= t '.page_title' %>
<% end %>

<div class="home" style='background-image: url("<%= image_path('backgrounds/background.png') %>");'>

  <div class="home-banner text-center bg-gray-transparent">
    <div class="home-banner-top home-content-wrapper">
      <div class="home-flex-800">
        <h1><%= t '.banner_title' %></h1>
      </div>
    </div>
    <div class="home-banner-middle home-content-wrapper bg-green-transparent">
      <div class="home-flex-600">
        <%= link_to t('.publish_offer_link'),new_offer_path, id: "home-give-advice-link" %>
      </div>
    </div>
    <div class="home-banner-bottom home-content-wrapper">
      <%= link_to root_path, id: "home-arrow-down" do %>
        <p class="no-margin-bottom"><%= t '.arrow_down' %></p>
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
      <% end %>
    </div>
  </div>

  <div>
    <div class="home-inspirations-top bg-gray-transparent"></div>
    <div id="home-inspirations-animated-background" class="bg-white" style='background-image: url("<%= image_path('backgrounds/background_line.png') %>");'>
      <div class="home-inspirations-body-2 text-center padded-top-l home-content-wrapper" style='background-image: url("<%= image_path('backgrounds/background_disclose_line.png') %>");'>
        <div class="home-flex-700">
          <h2 class="white"><%= t '.inspirations_title' %></h2>
        </div>
      </div>
    </div>
  </div>

  <div style='background-image: url("<%= image_path('backgrounds/background_grid_gray.png') %>");' class="padded-top-l padded-bottom-xl text-center bg-white">
    <div class="home-content-wrapper padded-bottom-l">
      <div class="home-flex-700">
        <h2><%= t '.guidelines_title' %></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
          <div class="home-guideline-container text-center">
            <%= image_tag 'guidelines/publish_offer.svg' %>
            <div class="home-guideline-text text-left">
              <div>
                <p><%= t '.guideline_text_1_1' %></p>
                <p><%= t '.guideline_text_1_2' %></p>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <h4>1 &nbsp;-&nbsp; <%= t '.guideline_title_1' %></h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
          <div class="home-guideline-container text-center">
            <%= image_tag 'guidelines/answer_requests.svg' %>
            <div class="home-guideline-text text-left">
              <div>
                <p><%= t '.guideline_text_2_1' %></p>
                <p><%= t '.guideline_text_2_2' %></p>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <h4>2 &nbsp;-&nbsp; <%= t '.guideline_title_2' %></h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
          <div class="home-guideline-container text-center">
            <%= image_tag 'guidelines/deliver_advice.svg' %>
            <div class="home-guideline-text text-left">
              <div>
                <p><%= t '.guideline_text_3_1' %></p>
                <p><%= t '.guideline_text_3_2' %></p>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <h4>3 &nbsp;-&nbsp; <%= t '.guideline_title_3' %></h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
          <div class="home-guideline-container text-center">
            <%= image_tag 'guidelines/get_rewards.svg' %>
            <div class="home-guideline-text text-left">
              <div>
                <p><%= t '.guideline_text_4_1' %></p>
                <p><%= t '.guideline_text_4_2' %></p>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <h4>4 &nbsp;-&nbsp; <%= t '.guideline_title_4' %></h4>
        </div>
      </div>
    </div>

    <div class="padded-top-xs">
      <%= link_to t('.publish_offer_button'), new_offer_path, class: "btn btn-green home-btn" %>
    </div>
  </div>

  <div class="padded-top-l padded-bottom-xl text-center bg-gray-transparent">
    <div class="home-content-wrapper">
      <div class="home-flex-700">
        <h2 class="font-weight-normal"><%= t '.find_advisor_title' %></h2>
      </div>
    </div>
    <div class="padded-bottom-m home-content-wrapper">
      <div class="home-flex-600">
        <h3 class="font-weight-normal"><%= t '.find_advisor_subtitle' %></h3>
      </div>
    </div>
    <div class="padded-top-xs">
      <button id="home-btn-search-trigger" class="btn btn btn-yellow home-btn">
        <%= t '.find_advisor_button' %> &nbsp;&nbsp;<i class='fa fa-search'></i>
      </button>
    </div>
  </div>

</div>
