<% content_for :title do %>
  <%= "Papoters | Be advisor" %>
<% end %>

<div class="home" style='background-image: url("<%= image_path('background.png') %>");'>

  <div class="home-banner text-center bg-gray-transparent">
    <div class="home-banner-top home-content-wrapper">
      <div class="home-flex-800">
        <h1>Your knowledge and your experience have value!</h1>
      </div>
    </div>
    <div class="home-banner-middle home-content-wrapper bg-green-transparent">
      <div class="home-flex-600">
        <%= link_to "Publish your first offer as advisor", user_signed_in? ? user_path(current_user) : new_user_session_path, id: "home-give-advice-link" %>
      </div>
    </div>
    <div class="home-banner-bottom home-content-wrapper">
      <%= link_to root_path, id: "home-arrow-down" do %>
        <p class="no-margin-bottom">Tell me more</p>
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
      <% end %>
    </div>
  </div>

  <div>
    <div class="home-inspirations-top bg-gray-transparent"></div>
    <div class="home-inspirations-background  bg-white" style='background-image: url("<%= image_path('background_big.png') %>");'>
      <div class="home-inspirations-body-2 text-center padded-top-l home-content-wrapper" style='background-image: url("<%= image_path('background_disclose_one.png') %>");'>
        <div class="home-flex-700">
          <h2 class="white">There are probably some stuff you know better than anybody else.</h2>
        </div>
      </div>
    </div>
  </div>

  <div style='background-image: url("<%= image_path('grid.png') %>");' class="padded-top-l padded-bottom-xl text-center bg-white">
    <div class="home-content-wrapper padded-bottom-l">
      <div class="home-flex-700">
        <h2>Advise people, build your reputation and make yourself valuable.</h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
          <%= image_tag 'guidelines/offers.svg' %>
          <h4>1 &nbsp;-&nbsp; Publish an offer</h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
          <%= image_tag 'guidelines/answer-requests.svg' %>
          <h4>2 &nbsp;-&nbsp; Answer to requests</h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
          <%= image_tag 'guidelines/give-advice.svg' %>
          <h4>3 &nbsp;-&nbsp; Deliver advice</h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
          <%= image_tag 'guidelines/get-rewards.svg' %>
          <h4>4 &nbsp;-&nbsp; Get your rewards !</h4>
        </div>
      </div>
    </div>

    <div class="padded-top-xs">
      <%= link_to "Publish an offer", be_advisor_path, { class: "btn btn-green home-btn" } %>
    </div>
  </div>

  <div class="padded-top-l padded-bottom-xl text-center bg-gray-transparent">
    <div class="padded-bottom-m home-content-wrapper">
      <div class="home-flex-700">
        <h2 class="font-weight-normal">Need some insight about what to do?</h2>
        <h3>Have a look on what people offer on Papoters.</h3>
      </div>
    </div>
    <div class="padded-top-xs">
      <button id="home-btn-search-trigger" class="btn btn btn-yellow home-btn">
        Find an advisor &nbsp;&nbsp;<i class='fa fa-search'></i>
      </button>
    </div>
  </div>

</div>
