<% content_for :title do %>
  <%= "Papoters | Be advisor" %>
<% end %>

<div class="home" style='background-image: url("<%= image_path('background.png') %>");'>

  <div class="home-banner text-center bg-gray-transparent">
    <div class="home-banner-top home-content-wrapper">
      <div class="home-flex-800">
        <h1>Your knowledge and your experience have value!</h1>
      </div>
    </div>
    <div class="home-banner-middle home-content-wrapper bg-green-transparent">
      <div class="home-flex-600">
        <%= link_to "Publish your first offer as advisor", user_signed_in? ? user_path(current_user) : new_user_session_path, id: "home-give-advice-link" %>
      </div>
    </div>
    <div class="home-banner-bottom home-content-wrapper">
      <%= link_to root_path, id: "home-arrow-down" do %>
        <p class="no-margin-bottom">Tell me more</p>
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
      <% end %>
    </div>
  </div>

  <div class="home-banner text-center">
    <div class="container">

      <div class="home-banner-title padded-top-xxl">
        <h1>Your knowledge and your experience have value.</h1>
      </div>

      <div class="home-banner-content padded-top-s">
        <%= link_to "Offer your services as advisor", user_signed_in? ? user_path(current_user) : new_user_session_path, class: "home-be-advisor-link" %>
      </div>

      <div class="home-banner-arrow">
        <%= link_to be_advisor_path, id: "home-arrow-down" do %>
          <p>Tell me more</p>
          <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
        <% end %>
      </div>

    </div>
  </div>

  <div class="padded-top-xl padded-bottom-xxl text-center">
    <div class="home-inspirations">

      <div class="container padded-bottom-m">
        <h2>Advise people for special moments, or just simple ones.</h2>
      </div>
      <div class="home-inspiration-picture">
        <%= image_tag "advisor_inspirations.png" %>
      </div>

    </div>
  </div>

  <div class="padded-top-m padded-bottom-m bg-white-transparent text-center">
    <div class="home-guidelines">
      <div class="container">

        <div class="padded-bottom-m">
          <h2>Build your reputation and make yourself valuable.</h2>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
            <%= image_tag 'guidelines/offers.svg' %>
            <h3><strong>1</strong> | Publish offers</h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
            <%= image_tag 'guidelines/answer-requests.svg' %>
            <h3><strong>2</strong> | Respond to requests</h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
            <%= image_tag 'guidelines/give-advice.svg' %>
            <h3><strong>3</strong> | Deliver advice</h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
            <%= image_tag 'guidelines/get-rewards.svg' %>
            <h3><strong>4</strong> | Get your rewards!</h3>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="padded-top-l padded-bottom-xxl text-center">
    <div class="home-bottom-search">
      <div class="container">

        <div class="padded-bottom-l">
          <h2>Need some insight about what to do?</h2>
          <h3>Have a look on what people offer on Papoters.</h3>
        </div>

        <div class="home-bottom-search-content">
          <%# form_tag(search_path, method: "get", class: "custom-search-form", id: "home-bottom-search-form") do %>
            <%# text_field_tag :search, params[:search], placeholder: "I need some advice for ...", class: "custom-search-input home-bottom-search-input" %>
            <%# button_tag(type: 'submit', class: "btn btn-yellow btn-round home-bottom-search-btn") do %>
<!--               <i class='fa fa-search'></i> -->
            <%# end %>
        </div>

      </div>
    </div>
  </div>

</div>
