<div class="wrapper text-center padded-top">
  <%= render 'shared/avatar', user: current_user, size: 'avatar-xlarge' %>
  <h1><%= current_user.first_name %></h1>
  <h3>My dashboard</h3>
  <p><%= link_to "See my profile", user_path(current_user) %></p>

  <div class="tabs">
    <a class="tab active" data-target="#client-activity">
      <h3>Client acitivity</h3>
    </a>
    <a class="tab" data-target="#advisor-activity">
      <h3>Advisor acitivity</h3>
    </a>
  </div>
</div>



<div class="container padded padded-bottom text-center">

  <div id="client-activity" class="tab-content">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h3>Request</h3>
        <div class="process-step">
          <% current_user.deals_request.each do |deal| %>
            <%= render "deals/card", deal: deal, user: deal.advisor %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h3>Proposition</h3>
        <div class="process-step">
          <% current_user.deals_proposition.each do |deal| %>
            <%= render "deals/card", deal: deal, user: deal.advisor %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h3>Open</h3>
        <div class="process-step">
          <% current_user.deals_open.each do |deal| %>
            <%= render "deals/card", deal: deal, user: deal.advisor %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h3>Closed</h3>
        <div class="process-step">
          <% current_user.deals_closed.each do |deal| %>
            <%= render "deals/card", deal: deal, user: deal.advisor %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div id="advisor-activity" class="tab-content hidden">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h3>Request</h3>
        <div class="process-step">
          <% current_user.advisor_deals_request.each do |deal| %>
            <%= render "deals/card", deal: deal, user: deal.client %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h3>Proposition</h3>
        <div class="process-step">
          <% current_user.advisor_deals_proposition.each do |deal| %>
            <%= render "deals/card", deal: deal, user: deal.client %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h3>Open</h3>
        <div class="process-step">
          <% current_user.advisor_deals_open.each do |deal| %>
            <%= render "deals/card", deal: deal, user: deal.client %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h3>Closed</h3>
        <div class="process-step">
          <% current_user.advisor_deals_closed.each do |deal| %>
            <%= render "deals/card", deal: deal, user: deal.client %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
