<% content_for :title do %>
  <%= "Home | Papoters" %>
<% end %>

<div class="home bg-gradient">

  <div class="home-banner text-center">
    <div class="container">

      <div class="home-banner-title padded-top-xxl">
        <h1>Get advice for whatever you need, anytime, anywhere.</h1>
      </div>

      <div class="home-banner-content padded-top-s">
        <%= form_tag(search_path, method: "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "I need some advice for ...", class: "search-form-input" %>
          <%= button_tag(type: 'submit', class: "btn btn-search") do %>
            <i class='fa fa-search'></i>
          <% end %>
        <% end %>
      </div>

      <div class="home-banner-arrow">
        <%= link_to root_path, id: "arrow-down" do %>
          <p>Tell me more</p>
          <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="padded-top-xl padded-bottom-xxl text-center">
    <div class="home-inspirations">

      <div class="container padded-bottom-m">
        <h2>Wise advice make good decisions.</h2>
      </div>
      <div class="home-inspiration-picture">
        <%= image_tag "inspirations.png" %>
      </div>

    </div>
  </div>

  <div class="padded-top-m padded-bottom-m bg-white-transparent text-center">
    <div class="home-process">
      <div class="container">

        <div class="padded-bottom-m">
          <h2>Find tailor-made answers in time, carefree.</h2>
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
            <%= image_tag 'process/find-advisor.svg' %>
            <h3><strong>1</strong> | Find an advisor</h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
            <%= image_tag 'process/get-proposal.svg' %>
            <h3><strong>2</strong> | Reach an agreement</h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
            <%= image_tag 'process/get-advice.svg' %>
            <h3><strong>3</strong> | Get advice</h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
            <%= image_tag 'process/evaluate.svg' %>
            <h3><strong>4</strong> | Tell how happy you are!</h3>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="padded-top-l padded-bottom-xxl text-center">
    <div class="home-switch">
      <div class="container">

        <div class="padded-bottom-l">
          <h2>Interested in being advisor?</h2>
          <h3>Don't be shy, your knowledge and your experience have value!</h3>
        </div>
        <%= link_to "Give advice", be_advisor_path, { class: "btn btn-homepage-give" } %>
      </div>
    </div>
  </div>

</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>

    if($('.my-navbar').length > 0){
      $(window).on("scroll load resize", function(){
        checkScroll();
      });
    }

  <% end %>
<% end %>

