<% content_for :title, "Papoters | #{t('.home_title')}" %>
<% content_for :meta_description, t('.home_meta') %>

<div class="home" style='background-image: url("<%= image_path('backgrounds/background.png') %>");'>

  <div class="home-banner text-center bg-gray-transparent">
    <div class="home-banner-top home-content-wrapper">
      <div class="home-flex-800">
        <h1><%= t '.banner_title_html' %></h1>
      </div>
    </div>
    <div class="home-banner-middle home-content-wrapper bg-yellow-transparent">
      <input type="text" id="home-input" class="home-flex-600" autofocus="true" placeholder="<%= t '.input_placeholder' %>">
      <div id="home-input-icon"><i class='fa fa-search'></i></div>
    </div>
    <div class="home-banner-bottom home-content-wrapper">
      <%= link_to root_path, id: "home-arrow-down" do %>
        <p class="no-margin-bottom font-weight-normal"><%= t '.arrow_down' %></p>
        <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
      <% end %>
    </div>
  </div>

  <div class="home-inspirations-top bg-gray-transparent"></div>

  <!-- Background moving for Web -->

  <div id="home-inspirations-moving" class="home-inspirations-body-1 text-center padded-top-l home-content-wrapper" style='background-image: url("<%= image_path('backgrounds/background_disclose.png') %>");'>
    <div class="home-flex-700">
      <h2 class="white"><%= t '.inspirations_title' %></h2>
    </div>
  </div>

  <!-- Background fixed for Mobile -->

  <div id="home-inspirations-fixed" class="home-inspirations-body-3 bg-white hidden" style='background-image: url("<%= image_path('backgrounds/background.png') %>");'>
    <div class="home-inspirations-body-1 text-center padded-top-l home-content-wrapper" style='background-image: url("<%= image_path('backgrounds/background_disclose.png') %>");'>
      <div class="home-flex-700">
        <h2 class="white"><%= t '.inspirations_title' %></h2>
      </div>
    </div>
  </div>

  <div class="bg-light-gray padded-top-l padded-bottom-xl">
    <div class="home-content-wrapper padded-bottom-m text-center">
      <div class="home-flex-700">
        <h2><%= t '.offer_sample_title' %></h2>
      </div>
    </div>
    <div class="home-offer-sample-wrapper padded-bottom-xs">
      <div class="home-flex-1200">
        <div class="row">
          <% if @offer_sample.length > 0 %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <%= render 'offers/card_small', offer: @offer_sample[0] %>
            </div>
          <% end %>
          <% if @offer_sample.length > 1 %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <%= render 'offers/card_small', offer: @offer_sample[1] %>
            </div>
          <% end %>
          <% if @offer_sample.length > 2 %>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <%= render 'offers/card_small', offer: @offer_sample[2] %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div style='background-image: url("<%= image_path('backgrounds/background_grid_gray.png') %>");' class="padded-top-l padded-bottom-xl text-center bg-white home-guidelines">
    <div class="home-content-wrapper padded-bottom-l">
      <div class="home-flex-700">
        <h2><%= t '.guidelines_title' %></h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
          <div class="home-guideline-container text-center">
            <%= image_tag 'guidelines/find_advisor.svg' %>
            <div class="home-guideline-text text-left">
              <div>
                <p><%= t '.guideline_text_1_1' %></p>
                <p><%= t '.guideline_text_1_2' %></p>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <h4>1 &nbsp;-&nbsp; <%= t '.guideline_title_1' %></h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
          <div class="home-guideline-container">
            <%= image_tag 'guidelines/reach_agreement.svg' %>
            <div class="home-guideline-text text-left">
              <div>
                <p><%= t '.guideline_text_2_1' %></p>
                <p><%= t '.guideline_text_2_2' %></p>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <h4>2 &nbsp;-&nbsp; <%= t '.guideline_title_2' %></h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
          <div class="home-guideline-container text-center">
            <%= image_tag 'guidelines/get_advice.svg' %>
            <div class="home-guideline-text text-left">
              <div>
                <p><%= t '.guideline_text_3_1' %></p>
                <p><%= t '.guideline_text_3_2' %></p>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <h4>3 &nbsp;-&nbsp; <%= t '.guideline_title_3' %></h4>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 padded-bottom-m">
          <div class="home-guideline-container text-center">
            <%= image_tag 'guidelines/evaluate.svg' %>
            <div class="home-guideline-text text-left">
              <div>
                <p><%= t '.guideline_text_4_1' %></p>
                <p><%= t '.guideline_text_4_2' %></p>
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <h4>4 &nbsp;-&nbsp; <%= t '.guideline_title_4' %></h4>
        </div>
      </div>
    </div>
    <div class="home-content-wrapper padded-top-xs text-center">
      <button id="home-btn-search-trigger" class="btn btn btn-yellow home-btn">
        <i class='fa fa-search'></i>&nbsp;
        <%= t '.find_advisor_button' %>
      </button>
    </div>
  </div>

  <div class="bg-gray-transparent padded-top-l padded-bottom-xl text-center ">
    <div class="home-content-wrapper">
      <div class="home-flex-700">
        <h2 class="font-weight-normal"><%= t '.be_advisor_title' %></h2>
      </div>
    </div>
    <div class="padded-bottom-m home-content-wrapper">
      <div class="home-flex-600">
        <h3 class="font-weight-normal"><%= t '.be_advisor_subtitle' %></h3>
      </div>
    </div>
    <div class="padded-top-xs">
      <%= link_to t('.be_advisor_button'), advisor_path, { class: "btn btn-green home-btn" } %>
    </div>
  </div>

</div>
