<% content_for :title do %>
  <%= "Home | Papoters" %>
<% end %>

<div class="bg-gradient">

  <div class="home-banner text-center">
    <div class="container">

      <div class="home-banner-title padded-top-xxl">
        <h1>Be advised for whatever you need, anytime, anywhere.</h1>
      </div>

      <div class="home-banner-search padded-top-s">
        <%= form_tag(search_path, method: "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Look for knowledgeable people", class: "search-form-input" %>
          <%= button_tag(type: 'submit', class: "btn btn-search") do %>
            <i class='fa fa-search'></i>
          <% end %>
        <% end %>
      </div>

      <div class="home-banner-arrow">
        <%= link_to root_path, id: "arrow-down" do %>
          <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
        <% end %>
      </div>
    </div>
  </div>

  <div class="padded-top-xxl padded-bottom-xxl text-center">
    <div class="container">
      <div class="home-inspirations">

        <div class="padded-bottom-m">
          <h2>Get unique tips for everyday life moments.</h2>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render "shared/card", picture: 'plan-trip.jpg', title: 'Plan a trip' %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render "shared/card", picture: 'diy.jpg', title: 'Do it yourself' %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render "shared/card", picture: 'new-playgrounds.jpg', title: 'Find new playgrounds' %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render "shared/card", picture: 'launch-business.jpg', title: 'Launch a business' %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render "shared/card", picture: 'money.jpg', title: 'Manage your money' %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render "shared/card", picture: 'discover-treasures.jpg', title: 'Discover treasures' %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render "shared/card", picture: 'paperwork.jpg', title: 'Simplify paperwork' %>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render "shared/card", picture: 'move-abroad.jpg', title: 'Move abroad' %>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="padded-top-m padded-bottom-xl bg-white-transparent text-center">
    <div class="container">
      <div class="process">

        <h2>Save time and pain with tailor-made quality advice.</h2>

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag 'process/find-advisor.png' %>
            <h3>Find an advisor</h3>
            <div class="circle">1</div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag 'process/get-proposal.png' %>
            <h3>Get a proposal</h3>
            <div class="circle">2</div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag 'process/be-adviced.png' %>
            <h3>Be adviced</h3>
            <div class="circle">3</div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= image_tag 'process/evaluate.png' %>
            <h3>Evaluate your experience</h3>
            <div class="circle">4</div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="padded-top-m padded-bottom-xl text-center">
    <div class="container">
      <div class="become-advisor">

        <h2>Your knowledge and your experience have value.</h2>
        <h3>Interested in being an advisor?</h3>
        <%= link_to "Give advice", be_advisor_path, { class: "btn btn-homepage-give" } %>

      </div>
    </div>
  </div>

</div>

<% content_for(:js) do %>
  <%= javascript_tag do %>

    function checkScroll(){
      var startY = $('.my-navbar').height() * 2;

      if($(window).scrollTop() < startY) {
        $('.my-navbar').addClass("my-navbar-scrolled");
        $('#my-navbar-search').hide();
      } else {
        $('.my-navbar').removeClass("my-navbar-scrolled");
        $('#my-navbar-search').show();
      }
    }

    if($('.my-navbar').length > 0){
      $(window).on("scroll load resize", function(){
        checkScroll();
      });
    }

    $('#arrow-down').on('click', function(event) {
      event.preventDefault();
      window.scroll({ top: $('.home-banner').height(), left: 0, behavior: 'smooth' });
    });

  <% end %>
<% end %>

