<% content_for :title, "Papoters • #{t('.title')}" %>
<% content_for :meta_description, t('.meta_description') %>

<div class="home">

  <div class="home-banner bg-gray-transparent">
    <div class="home-banner-top home-content-wrapper">
      <div class="home-flex-600 padded-top-m">
        <div class="hidden-sm hidden-md hidden-lg">
          <%= image_tag "papoters_no_icon.svg", width: '160px', height: '42px' %>
        </div>
        <div class="hidden-xs">
          <%= image_tag "papoters_no_icon.svg", width: '230px', height: '60px' %>
        </div>
        <h1 class="home-banner-title text-left dark-gray">
          <%= t '.banner_title' %><br>
          <span class="home-banner-rotate font-weight-bolder" data-period="1500" data-rotate='["<%= t '.rot_1' %>", "<%= t '.rot_2' %>", "<%= t '.rot_3' %>", "<%= t '.rot_4' %>", "<%= t '.rot_5' %>", "<%= t '.rot_6' %>", "<%= t '.rot_7' %>", "<%= t '.rot_8' %>", "<%= t '.rot_9' %>", "<%= t '.rot_10' %>"]'></span>
        </h1>
      </div>
    </div>

    <div class="home-banner-input-bar home-content-wrapper bg-yellow-transparent">
      <div id="home-input-icon"><i class='fa fa-search'></i></div>
      <input type="text" id="home-input" class="home-flex-600" autofocus="<%= params[:q] ? 'false' : 'true' %>" placeholder="<%= t '.input_placeholder' %>">
    </div>

    <div id="home-topics" class="home-content-wrapper hidden-xs">
      <% Offer.topics_home_page.each do |topic|  %>
        <h2 class="offer-topic home-topic"># <%= topic %></h2>
      <% end %>
      <h2 class="home-topic">...</h2>
    </div>
  </div>

  <div class="home-scroll-arrow hidden-xs">
    <div id="home-arrow-down">
      <%= image_tag 'arrow_down.svg' %>
    </div>
  </div>

  <div class="home-inspirations padded-top-l text-center home-content-wrapper">
    <div class="home-flex-700">
      <h2 class="white"><%= t '.inspirations_title' %></h2>
      <h3 class="light-gray no-margin-top"><%= t '.inspirations_subtitle' %></h3>
    </div>
  </div>

  <div class="padded-bottom-s padded-top-s bg-light-gray home-content-wrapper hidden-sm hidden-md hidden-lg">
    <div id="home-topics-xs" class="text-center">
      <% Offer.topics_home_page.each do |topic|  %>
        <h2 class="offer-topic home-topic"># <%= topic %></h2>
      <% end %>
      <h2 class="home-topic">...</h2>
    </div>
  </div>

  <div class="padded-top-l padded-bottom-m bg-white text-center home-benefits">
    <div class="home-content-wrapper padded-bottom-m">
      <div class="home-flex-700">
        <h2><%= t '.benefits_title' %></h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-lg-4 padded-bottom-m">
          <div class="home-benefits-box">
            <div class="home-benefits-picto">
              <%= image_tag 'pictos/search.svg' %>
            </div>
            <h3><%= t '.benefits_title_1' %></h3>
            <p><%= t '.benefits_text_1' %></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4 padded-bottom-m">
          <div class="home-benefits-box">
            <div class="home-benefits-picto">
              <%= image_tag 'pictos/send.svg' %>
            </div>
            <h3><%= t '.benefits_title_2' %></h3>
            <p><%= t '.benefits_text_2' %></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4 padded-bottom-m">
          <div class="home-benefits-box">
            <div class="home-benefits-picto">
              <%= image_tag 'pictos/agree.svg' %>
            </div>
            <h3><%= t '.benefits_title_3' %></h3>
            <p><%= t '.benefits_text_3' %></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4 padded-bottom-m">
          <div class="home-benefits-box">
            <div class="home-benefits-picto">
              <%= image_tag 'pictos/stars.svg' %>
            </div>
            <h3><%= t '.benefits_title_4' %></h3>
            <p><%= t '.benefits_text_4' %></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4 padded-bottom-m">
          <div class="home-benefits-box">
            <div class="home-benefits-picto">
              <%= image_tag 'pictos/screen.svg' %>
            </div>
            <h3><%= t '.benefits_title_5' %></h3>
            <p><%= t '.benefits_text_5' %></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-lg-4 padded-bottom-m">
          <div class="home-benefits-box">
            <div class="home-benefits-picto">
              <%= image_tag 'pictos/pay.svg' %>
            </div>
            <h3><%= t '.benefits_title_6' %></h3>
            <p><%= t '.benefits_text_6' %></p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="bg-light-gray padded-top-l padded-bottom-xl">
    <div class="home-content-wrapper padded-bottom-xs text-center">
      <div class="home-flex-700">
        <h2><%= t '.offer_sample_title' %></h2>
      </div>
    </div>
    <div class="home-offer-sample-wrapper padded-bottom-xs">
      <div class="home-flex-1200">
        <div class="row">
          <% if @offer_sample.length > 0 %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="home-offer-sample-box">
                <%= render 'offers/card_small', offer: @offer_sample[0] %>
              </div>
            </div>
          <% end %>
          <% if @offer_sample.length > 1 %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="home-offer-sample-box">
                <%= render 'offers/card_small', offer: @offer_sample[1] %>
              </div>
            </div>
          <% end %>
          <% if @offer_sample.length > 2 %>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="home-offer-sample-box">
                <%= render 'offers/card_small', offer: @offer_sample[2] %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="home-content-wrapper padded-top-l text-center">
      <button id="home-btn-search-trigger" class="btn btn btn-yellow home-btn">
        <i class='fa fa-search'></i>&nbsp;
        <%= t '.find_advisor_button' %>
      </button>
    </div>
  </div>

  <div class="padded-top-l padded-bottom-l bg-white text-center">
    <div class="home-content-wrapper padded-bottom-m">
      <div class="home-flex-700">
        <h2><%= t '.groups_title' %></h2>
        <h3 class="medium-dark-gray no-margin-top"><%= t '.groups_subtitle' %></h3>
      </div>
    </div>
    <div class="container padded-top-xs">
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <%= render 'group_card', name: "travelers", href: "https://www.facebook.com/groups/les.experts.voyageurs/" %>
        </div>
        <div class="col-xs-12 col-md-4">
          <%= render 'group_card', name: "entrepreneurs", href: "https://www.facebook.com/groups/les.experts.entrepreneurs/" %>
        </div>
        <div class="col-xs-12 col-md-4">
          <%= render 'group_card', name: "diy", href: "https://www.facebook.com/groups/les.experts.makers/" %>
        </div>
      </div>
    </div>

  </div>

  <div class="bg-blue-transparent padded-top-l padded-bottom-xl text-center ">
    <div class="home-content-wrapper">
      <div class="home-flex-700">
        <h2 class="white"><%= t '.be_advisor_title' %></h2>
        <h3 class="no-margin-top light-gray"><%= t '.be_advisor_subtitle' %></h3>
      </div>
    </div>
    <div class="padded-top-m">
      <%= link_to t('.be_advisor_button'), advisor_path, { class: "btn btn-green home-btn", id: "home-be-advisor-btn" } %>
    </div>
  </div>

</div>
