<% content_for :title, "Papoters • #{t('.privacy_policy')}" %>

<div class="home">
  <div class="home-banner-small bg-gray-transparent" >
    <div class="home-content-wrapper padded-top-xxl padded-bottom-l">
      <div class="home-flex-800 text-center">
        <h1><%= t '.privacy_policy' %></h1>
      </div>
    </div>
  </div>
</div>

<div class="home-body padded-top-s padded-bottom-xl bg-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <h2><%= t '.preamble_title' %></h2>
        <p><%= t '.preamble_paragraph_1' %></p>
        <p><%= t '.preamble_paragraph_2' %></p>
        <h2><%= t '.article_1_title' %></h2>
        <p><%= t '.article_1_paragraph_1' %></p>
        <p><%= t '.article_1_paragraph_2' %></p>
        <p><%= t '.article_1_paragraph_3' %></p>
        <p><%= t '.article_1_paragraph_4_html' %></p>
        <h2><%= t '.article_2_title' %></h2>
        <p><%= t '.article_2_paragraph_1' %></p>
        <h2><%= t '.article_3_title' %></h2>
        <p><%= t '.article_3_paragraph_1' %></p>
        <h2><%= t '.article_4_title' %></h2>
        <p><%= t '.article_4_paragraph_1' %></p>
        <h2><%= t '.article_5_title' %></h2>
        <p><%= t '.article_5_paragraph_1' %></p>
      </div>
    </div>
  </div>
</div>
