<% content_for :title, "Papoters • #{t('.tos')}" %>

<div class="home">
  <div class="home-banner-small bg-gray-transparent" >
    <div class="home-content-wrapper padded-top-xxl padded-bottom-l">
      <div class="home-flex-800 text-center">
        <h1><%= t '.tos' %></h1>
      </div>
    </div>
  </div>
</div>

<div class="home-body padded-top-s padded-bottom-xl bg-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <h2><%= t '.preamble_title' %></h2>
        <p><%= t '.preamble_paragraph_1' %></p>
        <p><%= t '.preamble_paragraph_2_html' %></p>
        <p><%= t '.preamble_paragraph_3' %></p>
        <p><%= t '.preamble_paragraph_4' %></p>
        <p><%= t '.preamble_paragraph_5_html' %></p>
        <p><%= t '.preamble_paragraph_6' %></p>

        <h2><%= t '.article_1_title' %></h2>
        <p><%= t '.article_1_paragraph_1' %></p>
        <p><%= t '.article_1_paragraph_2' %></p>
        <p><%= t '.article_1_paragraph_3' %></p>
        <p><%= t '.article_1_paragraph_4' %></p>
        <p><%= t '.article_1_paragraph_5' %></p>
        <p><%= t '.article_1_paragraph_6' %></p>
        <p><%= t '.article_1_paragraph_7' %></p>
        <p><%= t '.article_1_paragraph_8' %></p>
        <p><%= t '.article_1_paragraph_9' %></p>
        <p><%= t '.article_1_paragraph_10' %></p>
        <p><%= t '.article_1_paragraph_11' %></p>
        <p><%= t '.article_1_paragraph_12' %></p>
        <p><%= t '.article_1_paragraph_13' %></p>
        <p><%= t '.article_1_paragraph_14' %></p>
        <p><%= t '.article_1_paragraph_15_html' %></p>
        <p><%= t '.article_1_paragraph_16' %></p>
        <p><%= t '.article_1_paragraph_17' %></p>
        <p><%= t '.article_1_paragraph_18' %></p>
        <p><%= t '.article_1_paragraph_19' %></p>
        <p><%= t '.article_1_paragraph_20' %></p>
        <p><%= t '.article_1_paragraph_21' %></p>

        <h2><%= t '.article_2_title' %></h2>
        <p><%= t '.article_2_paragraph_1' %></p>
        <p><%= t '.article_2_paragraph_2' %></p>
        <p><%= t '.article_2_paragraph_3' %></p>
        <p><%= t '.article_2_paragraph_4' %></p>
        <p><%= t '.article_2_paragraph_5' %></p>
        <p><%= t '.article_2_paragraph_6' %></p>
        <p><%= t '.article_2_paragraph_7' %></p>

        <h2><%= t '.article_3_title' %></h2>
        <p><%= t '.article_3_paragraph_1' %></p>
        <p><%= t '.article_3_paragraph_2' %></p>
        <p><%= t '.article_3_paragraph_3_1_html' %></p>
        <p><%= t '.article_3_paragraph_3_2' %></p>
        <p><%= t '.article_3_paragraph_3_3' %></p>
        <p><%= t '.article_3_paragraph_3_4_html' %></p>
        <p><%= t '.article_3_paragraph_3_5' %></p>
        <p><%= t '.article_3_paragraph_3_6' %></p>
        <p><%= t '.article_3_paragraph_4' %></p>
        <p><%= t '.article_3_paragraph_5_html' %></p>
        <p><%= t '.article_3_paragraph_6_html' %></p>
        <p><%= t '.article_3_paragraph_7' %></p>
        <p><%= t '.article_3_paragraph_8_1_html' %></p>
        <p><%= t '.article_3_paragraph_8_2' %></p>
        <p><%= t '.article_3_paragraph_8_3' %></p>
        <p><%= t '.article_3_paragraph_9' %></p>
        <p><%= t '.article_3_paragraph_10' %></p>
        <p><%= t '.article_3_paragraph_11' %></p>
        <p><%= t '.article_3_paragraph_12' %></p>
        <p><%= t '.article_3_paragraph_13' %></p>
        <p><%= t '.article_3_paragraph_14_html' %></p>
        <p><%= t '.article_3_paragraph_15' %></p>
        <p><%= t '.article_3_paragraph_16_1' %></p>
        <p><%= t '.article_3_paragraph_16_2' %></p>
        <p><%= t '.article_3_paragraph_16_3' %></p>
        <p><%= t '.article_3_paragraph_17' %></p>
        <p><%= t '.article_3_paragraph_18' %></p>

        <h2><%= t '.article_4_title' %></h2>
        <p><%= t '.article_4_paragraph_1' %></p>
        <p><%= t '.article_4_paragraph_2_1' %></p>
        <p><%= t '.article_4_paragraph_2_2' %></p>
        <p><%= t '.article_4_paragraph_3' %></p>
        <p><%= t '.article_4_paragraph_4' %></p>
        <p><%= t '.article_4_paragraph_5_html' %></p>
        <p><%= t '.article_4_paragraph_6_html' %></p>
        <p><%= t '.article_4_paragraph_7_html' %></p>
        <p><%= t '.article_4_paragraph_8' %></p>
        <p><%= t '.article_4_paragraph_9' %></p>
        <p><%= t '.article_4_paragraph_10' %></p>
        <p><%= t '.article_4_paragraph_11' %></p>
        <p><%= t '.article_4_paragraph_12' %></p>
        <p><%= t '.article_4_paragraph_13_1' %></p>
        <p><%= t '.article_4_paragraph_13_2' %></p>
        <p><%= t '.article_4_paragraph_13_3' %></p>
        <p><%= t '.article_4_paragraph_14_1' %></p>
        <p><%= t '.article_4_paragraph_14_2' %></p>
        <p><%= t '.article_4_paragraph_14_3' %></p>
        <p><%= t '.article_4_paragraph_14_4' %></p>
        <p><%= t '.article_4_paragraph_14_5' %></p>
        <p><%= t '.article_4_paragraph_14_6' %></p>
        <p><%= t '.article_4_paragraph_14_7' %></p>
        <p><%= t '.article_4_paragraph_14_8' %></p>
        <p><%= t '.article_4_paragraph_15_1' %></p>
        <p><%= t '.article_4_paragraph_15_2' %></p>
        <p><%= t '.article_4_paragraph_16' %></p>

        <h2><%= t '.article_5_title' %></h2>
        <p><%= t '.article_5_paragraph_1' %></p>
        <p><%= t '.article_5_paragraph_2' %></p>
        <p><%= t '.article_5_paragraph_3' %></p>
        <p><%= t '.article_5_paragraph_4' %></p>
        <p><%= t '.article_5_paragraph_5' %></p>
        <p><%= t '.article_5_paragraph_6_1' %></p>
        <p><%= t '.article_5_paragraph_6_2' %></p>
        <p><%= t '.article_5_paragraph_7' %></p>
        <p><%= t '.article_5_paragraph_8' %></p>

        <h2><%= t '.article_6_title' %></h2>
        <p><%= t '.article_6_paragraph_1' %></p>
        <p><%= t '.article_6_paragraph_2' %></p>
        <p><%= t '.article_6_paragraph_3_html' %></p>
        <p><%= t '.article_6_paragraph_4' %></p>
        <p><%= t '.article_6_paragraph_5_html' %></p>
        <p><%= t '.article_6_paragraph_6' %></p>
        <p><%= t '.article_6_paragraph_7' %></p>
        <p><%= t '.article_6_paragraph_8_html' %></p>
        <p><%= t '.article_6_paragraph_9' %></p>
        <p><%= t '.article_6_paragraph_10_html' %></p>
        <p><%= t '.article_6_paragraph_11' %></p>
        <p><%= t '.article_6_paragraph_12' %></p>

        <h2><%= t '.article_7_title' %></h2>
        <p><%= t '.article_7_paragraph_1_1' %></p>
        <p><%= t '.article_7_paragraph_1_2' %></p>
        <p><%= t '.article_7_paragraph_2' %></p>

        <h2><%= t '.article_8_title' %></h2>
        <p><%= t '.article_8_paragraph_1_1' %></p>
        <p><%= t '.article_8_paragraph_1_2' %></p>
        <p><%= t '.article_8_paragraph_1_3' %></p>
        <p><%= t '.article_8_paragraph_2_1' %></p>
        <p><%= t '.article_8_paragraph_2_2' %></p>
        <p><%= t '.article_8_paragraph_2_3' %></p>
        <p><%= t '.article_8_paragraph_3_1' %></p>
        <p><%= t '.article_8_paragraph_3_2' %></p>
        <p><%= t '.article_8_paragraph_3_3' %></p>
        <p><%= t '.article_8_paragraph_3_4' %></p>

        <h2><%= t '.article_9_title' %></h2>
        <p><%= t '.article_9_paragraph_1' %></p>
        <p><%= t '.article_9_paragraph_2_html' %></p>

        <h2><%= t '.article_10_title' %></h2>
        <p><%= t '.article_10_paragraph_1' %></p>
        <p><%= t '.article_10_paragraph_2' %></p>
        <p><%= t '.article_10_paragraph_3' %></p>
        <p><%= t '.article_10_paragraph_4' %></p>

        <h2><%= t '.article_11_title' %></h2>
        <p><%= t '.article_11_paragraph_1' %></p>
        <p><%= t '.article_11_paragraph_2' %></p>
        <p><%= t '.article_11_paragraph_3' %></p>

        <h2><%= t '.article_12_title' %></h2>
        <p><%= t '.article_12_paragraph_1' %></p>
        <p><%= t '.article_12_paragraph_2_html' %></p>
        <p><%= t '.article_12_paragraph_3' %></p>
        <p><%= t '.article_12_paragraph_4' %></p>
        <p><%= t '.article_12_paragraph_5' %></p>
        <p><%= t '.article_12_paragraph_6' %></p>

        <h2><%= t '.article_13_title' %></h2>
        <p><%= t '.article_13_paragraph_1_1' %></p>
        <p><%= t '.article_13_paragraph_1_2' %></p>
        <p><%= t '.article_13_paragraph_1_3' %></p>
        <p><%= t '.article_13_paragraph_1_4' %></p>
        <p><%= t '.article_13_paragraph_2_1' %></p>
        <p><%= t '.article_13_paragraph_2_2' %></p>
        <p><%= t '.article_13_paragraph_3_html' %></p>
        <p><%= t '.article_13_paragraph_4_html' %></p>
        <p><%= t '.article_13_paragraph_5' %></p>
        <p><%= t '.article_13_paragraph_6' %></p>

        <h2><%= t '.article_14_title' %></h2>
        <p>
          <%= t '.article_14_paragraph_1' %>
          <%= link_to t('.privacy_policy'), privacy_path %>
        </p>

        <h2><%= t '.article_15_title' %></h2>
        <p><%= t '.article_15_paragraph_1' %></p>
        <p><%= t '.article_15_paragraph_2_html' %></p>
        <p><%= t '.article_15_paragraph_3' %></p>
        <p><%= t '.article_15_paragraph_4' %></p>
        <p><%= t '.article_15_paragraph_5' %></p>
        <p><%= t '.article_15_paragraph_6' %></p>
        <p><%= t '.article_15_paragraph_7' %></p>

        <h2><%= t '.article_16_title' %></h2>
        <p><%= t '.article_16_paragraph_1' %></p>
        <p><%= t '.article_16_paragraph_2' %></p>
        <p><%= t '.article_16_paragraph_3' %></p>

      </div>
    </div>
  </div>
</div>
