<% content_for :title, "Papoters • #{t('.tos')}" %>

<div class="home">
  <div class="home-banner-small bg-gray-transparent" >
    <div class="home-content-wrapper padded-top-xxl padded-bottom-l">
      <div class="home-flex-800 text-center">
        <h1><%= t '.tos' %></h1>
      </div>
    </div>
  </div>
</div>

<div class="home-body padded-top-s padded-bottom-xl bg-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <h2><%= t '.preamble_title' %></h2>
        <p><%= t '.preamble_paragraph_1' %></p>
        <p><%= t '.preamble_paragraph_2_html' %></p>
        <p><%= t '.preamble_paragraph_3' %></p>
        <p><%= t '.preamble_paragraph_4' %></p>
        <p><%= t '.preamble_paragraph_5' %></p>
        <p><%= t '.preamble_paragraph_6' %></p>
        <h2><%= t '.article_1_title' %></h2>
        <p><%= t '.article_1_paragraph_1' %></p>
        <p><%= t '.article_1_paragraph_2' %></p>
        <p><%= t '.article_1_paragraph_3' %></p>
        <p><%= t '.article_1_paragraph_4' %></p>
        <p><%= t '.article_1_paragraph_5' %></p>
        <p><%= t '.article_1_paragraph_6' %></p>
        <p><%= t '.article_1_paragraph_7' %></p>
        <p><%= t '.article_1_paragraph_8' %></p>
        <p><%= t '.article_1_paragraph_9' %></p>
        <p><%= t '.article_1_paragraph_10' %></p>
        <p><%= t '.article_1_paragraph_11' %></p>
        <p><%= t '.article_1_paragraph_12' %></p>
        <p><%= t '.article_1_paragraph_13' %></p>
        <p><%= t '.article_1_paragraph_14' %></p>
        <p><%= t '.article_1_paragraph_15' %></p>
        <p><%= t '.article_1_paragraph_16' %></p>
        <p><%= t '.article_1_paragraph_17' %></p>
        <p><%= t '.article_1_paragraph_18' %></p>
        <p><%= t '.article_1_paragraph_19' %></p>
        <p><%= t '.article_1_paragraph_20' %></p>
        <p><%= t '.article_1_paragraph_21' %></p>
        <h2><%= t '.article_2_title' %></h2>
        <p><%= t '.article_2_paragraph_1' %></p>
        <p><%= t '.article_2_paragraph_2' %></p>
        <p><%= t '.article_2_paragraph_3' %></p>
        <p><%= t '.article_2_paragraph_4' %></p>
        <p><%= t '.article_2_paragraph_5' %></p>
        <p><%= t '.article_2_paragraph_6' %></p>
        <p><%= t '.article_2_paragraph_7' %></p>
        <h2><%= t '.article_3_title' %></h2>
        <p><%= t '.article_3_paragraph_1' %></p>
        <p><%= t '.article_3_paragraph_2' %></p>
        <p><%= t '.article_3_paragraph_3_1_html' %></p>
        <p><%= t '.article_3_paragraph_3_2' %></p>
        <p><%= t '.article_3_paragraph_3_3' %></p>
        <p><%= t '.article_3_paragraph_3_4' %></p>
        <p><%= t '.article_3_paragraph_3_5' %></p>
        <p><%= t '.article_3_paragraph_3_6' %></p>
        <p><%= t '.article_3_paragraph_4' %></p>
        <p><%= t '.article_3_paragraph_5' %></p>
        <p><%= t '.article_3_paragraph_6' %></p>
        <p><%= t '.article_3_paragraph_7' %></p>
        <p><%= t '.article_3_paragraph_8_1_html' %></p>
        <p><%= t '.article_3_paragraph_8_2' %></p>
        <p><%= t '.article_3_paragraph_8_3' %></p>
        <p><%= t '.article_3_paragraph_9' %></p>
        <p><%= t '.article_3_paragraph_10' %></p>
        <p><%= t '.article_3_paragraph_11' %></p>
        <p><%= t '.article_3_paragraph_12' %></p>
        <p><%= t '.article_3_paragraph_13' %></p>
        <p><%= t '.article_3_paragraph_14' %></p>
        <p><%= t '.article_3_paragraph_15' %></p>
        <p><%= t '.article_3_paragraph_16_1' %></p>
        <p><%= t '.article_3_paragraph_16_2' %></p>
        <p><%= t '.article_3_paragraph_16_3' %></p>
        <p><%= t '.article_3_paragraph_17' %></p>
        <p><%= t '.article_3_paragraph_18' %></p>
        <h2><%= t '.article_4_title' %></h2>
        <p><%= t '.article_4_paragraph_1' %></p>
        <p><%= t '.article_4_paragraph_2' %></p>
        <p><%= t '.article_4_paragraph_3' %></p>
        <p><%= t '.article_4_paragraph_4' %></p>
        <p><%= t '.article_4_paragraph_5' %></p>
        <p><%= t '.article_4_paragraph_6' %></p>
        <p><%= t '.article_4_paragraph_7' %></p>
        <h2><%= t '.article_5_title' %></h2>
        <p><%= t '.article_5_paragraph_1' %></p>
        <p><%= t '.article_5_paragraph_2' %></p>
        <p><%= t '.article_5_paragraph_3' %></p>
        <p><%= t '.article_5_paragraph_4' %></p>
        <p><%= t '.article_5_paragraph_5' %></p>
        <p><%= t '.article_5_paragraph_6' %></p>
        <p><%= t '.article_5_paragraph_7' %></p>
      </div>
    </div>
  </div>
</div>
