<button type="button" class="btn btn-blue" data-toggle="modal" data-target="#deal-proposition-acceptation">
  <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;&nbsp; <%= t '.accept' %>
</button>

<div class="modal fade" id="deal-proposition-acceptation" tabindex="-1" role="dialog" aria-labelledby="dealPropositionAcceptationLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dealPropositionAcceptationLabel"><%= t '.accept_proposition' %></h4>
      </div>
      <div class="modal-body">
        <p class="font-weight-normal blue"><%= t '.review_proposition', name: deal.advisor.first_name  %></p>
        <div class="form-separation padded-top-s padded-bottom-xs">
          <div></div>
          <p><strong><%= t '.proposition' %></strong></p>
          <div></div>
        </div>
        <%= render 'deals/proposition_recap', deal: deal %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-form btn-gray" data-dismiss="modal"><%= t '.go_back' %></button>

          <% if deal.payment_pending? %>
            <%= render 'deals/stripe_payment', deal: deal %>

          <% else %>
            <%= link_to accept_proposition_deal_path(deal), method: :patch, remote: true, class: "btn btn-form btn-blue" do %>
              <i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i>&nbsp;&nbsp; <%= t '.accept' %>
            <% end %>
          <% end %>
      </div>
    </div>
  </div>
</div>

<%= render 'deals/deal_open', deal: deal %>
