<div class="<%= deal.advisor == current_user ? 'deal-card deal-card-advisor' : 'deal-card deal-card-client' %>">
  <div class="deal-avatar text-center">
    <%= render 'users/avatar', user: user, size: 'avatar' %>
    <h3><%= user.name_anonymous %><h3>
  </div>
  <div class="deal-abstract text-left">
    <h2><%= deal.offer.title %></h2>
    <p>due for: <strong><%= deal.deadline.strftime("%a %d, %Y") %></strong></p>
    <p>amount: <strong><%= money_without_cents_and_with_symbol(deal.amount) %></strong></p>
  </div>
  <div class="deal-card-top-right"></div>
  <%= link_to "", deal_path(deal), class: "link deal-card-link" %>
</div>
