<div class="<%= deal.advisor == current_user ? 'deal-card deal-card-advisor' : 'deal-card deal-card-client' %>" data-deal-id="<%= deal.id %>">

  <div class="deal-card-notifications">
    <%= render 'deals/notifications', deal: deal %>
  </div>

  <div class="deal-card-top text-left">
    <h1 id="deal-card-id">#<%= t 'session' %>-<%= deal.id %></h1>
    <h3><%= deal.title %></h3>
  </div>

  <div class="deal-card-body">
    <div class="deal-card-avatar">
      <%= render 'users/avatar', user: current_user == deal.advisor ? deal.client : deal.advisor , size: 'avatar' %>
      <%= render 'users/info_small', user: current_user == deal.advisor ? deal.client : deal.advisor %>
    </div>
    <div class="deal-card-info text-left">
      <p>
        <span class="info-icon text-center">
          <%= image_tag 'date.svg' %>
        </span>
        <strong class="deal-card-info-text" id="deal-card-deadline"><%= l(deal.deadline.to_date, format: :default) %></strong>
      </p>
      <p>
        <span class="info-icon text-center">
          <%= image_tag 'amount.svg' %>
        </span>
        <strong class="deal-card-info-text" id="deal-card-price">
          <% if deal.free? %>
            <%= t('.free') %>
          <% elsif deal.request? %>
            &mdash;
          <% else %>
            <%= t('money', amount: humanized_money(deal.amount_converted(current_user.currency_code)), currency: deal.amount_converted(current_user.currency_code).symbol ) %>
          <% end %>
        </strong>
      </p>
    </div>
  </div>

  <div class="deal-card-bottom text-right" id="deal-card-status">
    <% if deal.proposition? %>
      <p class="blue"><%= t '.proposition_pending' %></p>
    <% elsif deal.proposition_declined? %>
      <p class="red"><%= t '.proposition_declined' %></p>
    <% elsif deal.open_expired? %>
      <p class="red"><%= t '.deadline_expired' %></p>
    <% elsif policy(deal).new_review? %>
      <p class="blue"><%= t '.review_expected' %></p>
    <% elsif deal.messages_disabled %>
      <p class="red"><%= t '.messages_disabled' %></p>
    <% end %>
  </div>

  <div class="deal-card-right"></div>
  <%= link_to "", deal_path(deal), class: "link", id: "deal-card-link" %>

</div>
