<div class="<%= deal.advisor == current_user ? 'deal-card deal-card-advisor' : 'deal-card deal-card-client' %>" data-deal-id="<%= deal.id %>">

  <div class="deal-card-notification">
    <% if (current_user == deal.advisor && deal.advisor_notifications > 0) || (current_user == deal.client && deal.client_notifications > 0) %>
      <div class="badge-notification badge-red">
      <%= deal.advisor == current_user ? deal.advisor_notifications : deal.client_notifications %>
      </div>
    <% end %>
  </div>

  <div class="deal-card-top text-left">
    <h1>#session-<%= deal.id %></h1>
    <% if deal.offer.present? %>
      <h3><%= deal.offer.title %></h3>
    <% end %>
  </div>

  <div class="deal-card-body">
    <div class="deal-card-avatar">
      <%= render 'users/avatar', user: current_user == deal.advisor ? deal.client : deal.advisor , size: 'avatar' %>
      <h1><%= current_user == deal.advisor ? deal.client.name_anonymous : deal.advisor.name_anonymous %></h1>
    </div>
    <div class="deal-card-info text-left">
      <p>
        <span class="session-icon text-center">
          <%= image_tag 'date.svg' %>
        </span>
        <strong class="session-text"><%= deal.deadline.strftime("%d %b %Y") %></strong>
      </p>
      <p>
        <span class="session-icon text-center">
          <%= image_tag 'amount.svg' %>
        </span>
        <strong class="session-text">
          <% if deal.request? || deal.proposition_declined? %>
            <%= deal.offer.free? ? "FREE" : "&mdash;".html_safe %>
          <% else %>
            <%= deal.amount.blank? ? "FREE" : money_without_cents_and_with_symbol(deal.amount) %>
          <% end %>
        </strong>
      </p>
    </div>
  </div>

  <div class="deal-card-bottom text-right">
    <% if deal.proposition? %>
      <p class="blue">Proposition pending</p>
    <% elsif deal.proposition_declined? %>
      <p class="red">Proposition declined</p>
    <% elsif deal.open_expired? %>
      <p class="red">Deadline expired</p>
    <% elsif deal.open_expired? %>
      <p class="red">Deadline expired</p>
    <% elsif deal.closed? %>
      <% if current_user == deal.client && !deal.reviewed_by_client? %>
        <p class="blue">Review expected</p>
      <% elsif current_user == deal.advisor && !deal.reviewed_by_advisor? %>
        <p class="blue">Review expected</p>
      <% elsif deal.messages_disabled %>
        <p class="red">Messages disabled</p>
      <% end %>
    <% end %>
  </div>

  <div class="deal-card-right"></div>
  <%= link_to "", deal_path(deal), class: "link deal-card-link" %>

</div>
