<p class="medium-gray text-right">
  <small>
    **<strong><%= t '.bold' %></strong>**&nbsp;&nbsp;
    _<em><%= t '.italics' %></em>_&nbsp;&nbsp;
    ~~<strike><%= t '.strikes' %></strike>~~&nbsp;
  </small>
  <code><small class="medium-gray">`<%= t '.code' %>`</small></code>&nbsp;
  <code><small class="medium-gray">```<%= t '.preformatted' %>```</small></code>&nbsp;
  <small>><%= t '.quote' %></small>
</p>
