<div class="deal-info-box">

  <% if policy(deal).cancel_session? %>
    <div class="padded-top-s">
      <% if policy(deal).new_proposition? %>
        <p class="font-weight-normal"><%= t '.client_declined', name: deal.client.first_name %></p>
      <% else %>
        <p class="font-weight-normal"><%= t '.you_declined' %></p>
      <% end %>
    </div>

  <% elsif deal.proposition? %>
    <div class="padded-top-s">
      <% if deal.advisor == current_user %>
        <p class="font-weight-normal"><%= t '.proposition_submitted', name: deal.client.first_name %></p>
      <% elsif deal.client == current_user %>
        <p class="font-weight-normal"><%= t '.accept_or_decline' %></p>
      <% end %>
    </div>

  <% elsif deal.opened? && deal.advisor == current_user %>
    <div class="padded-top-s">
      <p class="font-weight-normal"><%= t '.session_is_open_advisor', date: l(deal.deadline.to_date, format: :long), name: deal.client.first_name %></p>
    </div>

  <% elsif policy(deal).close_session? %>
    <div class="padded-top-s">
      <% if deal.open_expired? %>
        <p class="font-weight-normal"><%= t '.deadline_has_passed' %></p>
      <% elsif deal.opened? && deal.client == current_user %>
        <p class="font-weight-normal"><%= t '.session_is_open_client', date: l(deal.deadline.to_date, format: :long) %></p>
      <% end %>
    </div>

  <% elsif policy(deal).new_review? %>
    <div class="padded-top-s">
      <p class="font-weight-normal">
        <%= t '.session_is_closed' %>
        <% if deal.advisor == current_user && deal.client %>
          <%= t '.advisor_review_expected', name: deal.client.first_name %>
        <% elsif deal.client == current_user && deal.advisor %>
          <%= t '.client_review_expected', name: deal.advisor.first_name %>
        <% end %>
      </p>
    </div>

  <% elsif policy(deal).disable_messages? %>
    <div class="padded-top-s">
      <p class="font-weight-normal"><%= t '.session_is_closed' %> <%= t '.disable_messages' %></p>
    </div>

  <% elsif deal.closed? %>
    <div class="padded-top-s">
      <p class="font-weight-normal red"><%= t '.session_is_closed_and_messages_disabled' %></p>
    </div>

  <% end %>

</div>
