<div class="deal-proposition">

  <div class="deal-proposition-top">
    <h4 class="font-weight-normal"><%= (deal.proposition_any? || deal.cancelled?) ? t('.proposition') : t('.agreement') %></h4>
    <div class="deal-proposition-figures">
      <p>
        <span class="info-icon">
          <%= image_tag 'objective.svg' %>
        </span>
        <strong><%= deal.objectives_count %></strong>
      </p>
      <p>
        <span class="info-icon">
          <%= image_tag 'amount.svg' %>
        </span>
        <strong><%= (deal.amount_cents.blank? || deal.amount_cents.zero?) ? t('.free') : t('money', amount: humanized_money(deal.amount_converted(current_user.currency_code)), currency: deal.amount_converted(current_user.currency_code).symbol) %></strong>
      </p>
      <p>
        <span class="info-icon">
          <%= image_tag 'date.svg' %>
        </span>
        <strong><%= l(deal.deadline.to_date) %></strong>
      </p>
    </div>
  </div>

  <div class="deal-proposition-middle" id="deal-proposition-essential">
    <% deal.objectives[0..2].each_with_index do |objective, i| %>
      <div class="deal-objective">
        <%= render 'objectives/show', objective: objective, number: i + 1 %>
        <% if objective.rating.present? %>
          <div class="deal-objective-rating text-right"><%= render 'objectives/rating', objective: objective %></div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="deal-proposition-middle" id="deal-proposition-details">
    <% unless  deal.objectives_count <= 3 %>
      <div class="padded-bottom-xs">
        <% deal.objectives[3..-1].each_with_index do |objective, i| %>
          <div class="deal-objective">
            <%= render 'objectives/show', objective: objective, number: i + 4 %>
            <% if objective.rating.present? %>
              <div class="deal-objective-rating text-right"><%= render 'objectives/rating', objective: objective %></div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <%= sanitize auto_link(markdown_to_html(deal.proposition)) %>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h6><%= t '.languages', count: deal.languages.count %></h6>
        <%= render 'deals/languages', deal: deal %>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h6><%= t '.means', count: deal.means.count %></h6>
        <%= render 'deals/means', deal: deal %>
      </div>
    </div>
  </div>

  <div class="deal-proposition-disclose text-center">
    <p>
      <%= link_to '#', id: "deal-proposition-toggle" do  %>
        <span class="toggle-link"><%= t '.show_details' %> &nbsp;
          <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
        </span>
        <span class="toggle-link hidden"><%= t '.hide_details' %> &nbsp;
          <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
        </span>
      <% end %>
    </p>
  </div>

  <div class="deal-proposition-bottom">
    <div class="row">
      <div class="col-xs-4">
        <% if deal.proposition? %>
          <div class="deal-proposition-status">
            <p><small><%= t '.expires_on' %></small></p>
            <p><small><span class="font-weight-normal"><%= l(deal.proposition_deadline.to_date) %></span></small></p>
          </div>
        <% end %>
      </div>
      <div class="col-xs-8">
        <% if policy(deal).accept_proposition? %>
          <div class="deal-proposition-action-btns">
            <%= render "deals/decline", deal: deal %>
            <%= render "deals/accept", deal: deal %>
          </div>
        <% elsif deal.proposition? && deal.advisor == current_user %>
          <div class="text-right deal-proposition-status">
            <p class="dark-gray font-weight-normal padded-top-xs"><i class="fa fa-hourglass-o fa-fw" aria-hidden="true"></i>&nbsp; <%= t '.pending' %></p>
          </div>
        <% elsif deal.proposition_declined? || deal.cancelled? %>
          <div class="text-right deal-proposition-status">
            <p class="red font-weight-normal"><i class="fa fa-thumbs-o-down fa-fw fa-lg" aria-hidden="true"></i>&nbsp; <%= t '.declined' %></p>
          </div>
        <% else %>
          <div class="text-right deal-proposition-status">
            <p class="blue font-weight-normal"><i class="fa fa-thumbs-o-up fa-fw fa-lg" aria-hidden="true"></i>&nbsp; <%= t '.accepted' %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
