<div class="deal-info-box">

  <% if policy(deal).cancel? %>
    <div class="padded-top-s">
      <% if policy(deal).new_proposition? %>
        <p class="font-weight-normal"><%= deal.client.first_name %> declined your proposition. Submit a new proposition or cancel the session if you don't want to continue.</p>
      <% else %>
        <p class="font-weight-normal">You declined the proposition. Ask for a new proposition or cancel the session if you don't want to continue.</p>
      <% end %>
    </div>

  <% elsif deal.proposition? %>
    <div class="padded-top-s">
      <% if deal.advisor == current_user %>
        <p class="font-weight-normal">You submitted a proposition, <%= deal.client.first_name %> may accept or decline it.</p>
      <% elsif deal.client == current_user %>
        <p class="font-weight-normal"><%= t '.accept_or_decline' %></p>
      <% end %>
    </div>

  <% elsif deal.open? && deal.advisor == current_user %>
    <div class="padded-top-s">
      <p class="font-weight-normal">The session is open until the <%= deal.deadline.strftime("%d %b %Y") %>, unless <%= deal.client.first_name %> closes it before that date.</p>
    </div>

  <% elsif policy(deal).close? %>
    <div class="padded-top-s">
      <% if deal.advisor == current_user %>
        <p class="font-weight-normal">Session deadline has passed. Close the session if you delivered your service.</p>
      <% elsif deal.client == current_user %>
        <% if deal.open? %>
          <p class="font-weight-normal">The session is open until the <%= deal.deadline.strftime("%d %b %Y") %>. You can close it now if you already got what you need.</p>
        <% elsif deal.open_expired? %>
          <p class="font-weight-normal">Session deadline has passed. Close the session if you got what you need.</p>
        <% end %>
      <% end %>
    </div>

  <% elsif policy(deal).new_review? %>
    <div class="padded-top-s">
      <% if deal.advisor == current_user %>
        <p class="font-weight-normal">This session is closed.
        <%= "#{deal.client.first_name} is looking forward to receiving your feedback for this session!" if deal.client %></p>
      <% elsif deal.client == current_user %>
        <p><%= "#{deal.advisor.first_name} is looking forward to receiving your feedback for this session!" if deal.advisor %></p>
      <% end %>
    </div>

  <% elsif policy(deal).disable_messages? %>
    <div class="padded-top-s">
      <p class="font-weight-normal">This session is closed. Disable messages if you don't want to be contacted on this session anymore.</p>
    </div>

  <% elsif deal.closed? %>
    <div class="padded-top-s">
      <p class="font-weight-normal">This session is closed and messages have been disabled. Nothing more can be done here.</p>
    </div>

  <% end %>

</div>
