<div class="padded-bottom-s">
  <div class="custom-form-frame-info bg-white-transparent">

    <% if !deal.advisor.pricing_available? %>
      <%= image_tag('no_amount.svg') %>
      <p>
        <%= t '.session_for_free' %><br>
        <%= t '.pricing_not_available' %>
      </p>

    <% elsif deal.advisor.no_pricing? %>
      <%= image_tag 'no_amount.svg' %>
      <p>
        <%= t '.session_for_free' %><br>
        <%= t '.sessions_before_pricing_html', count: (deal.advisor.free_deals_before_pricing) %>
      </p>

    <% elsif deal.advisor.pricing_pending? %>
      <%= image_tag 'no_amount.svg' %>
      <p>
        <%= t '.session_for_free' %><br>
        <%= link_to t('.enable_pricing'), details_path %>
        <%= t '.activation_instructions' %>
      </p>

    <% elsif deal.advisor.pricing_enabled? && deal.offer.free? %>
      <%= image_tag('no_amount.svg') %>
      <p>
        <%= t '.session_for_free' %><br>
        <%= link_to t('.edit_offer'), edit_offer_path(deal.offer) %>
        <%= t '.to_propose_priced_services' %>
      </p>

    <% elsif deal.advisor.pricing_disabled? %>
      <%= image_tag 'no_amount.svg' %>
      <p>
        <%= t '.session_for_free' %><br>
        <%= t '.pricing_disabled' %>
        <%= link_to t('.visit_your_profile'), user_path(current_user) %>
        <%= t '.to_find_out_more' %>
      </p>

    <% end %>
  </div>
</div>
