<%= simple_form_for deal, url: save_proposition_deal_path, method: :patch, remote: true do |f| %>
  <%= f.error_notification %>

  <div class="padded-top-xs">
    <%= f.input :proposition,
      label: false,
      placeholder: t('.describe_service'),
      input_html: {
        class: 'custom-form-input',
        rows: "7"
      }
    %>
  </div>

  <div class="padded-top-xs">
    <p><%= t '.set_duration', name: deal.client.first_name %></p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-7">
      <div class="slider-box">
        <%= f.input :duration,
          label: false,
          input_html: {
            data: {
              "slider-value" => deal.duration.present? ? deal.duration : '30',
            }
          }
        %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-5">
      <div class="padded-bottom-xs padded-top-xs deal-slider-control">
        <p id="deal-slider-duration-display" class="bg-white-transparent"></p>
        <p class="btn btn-green <%= 'hidden' if deal.duration.to_i >= 240 %>" id="deal-slider-to-daily" title="<%= t '.slider_to_daily' %>">
          <i class='fa fa-calendar' aria-hidden='true'></i>
        </p>
        <p class="btn btn-green <%= 'hidden' if deal.duration.to_i < 240 %>" id="deal-slider-to-hourly" title="<%= t '.slider_to_hourly' %>">
          <i class='fa fa-clock-o fa-lg' aria-hidden='true'></i>
        </p>
      </div>
    </div>
  </div>

  <div>
    <% if deal.offer.priced? && deal.advisor.pricing_available? && deal.advisor.pricing_enabled? %>
      <p>
        <%= t '.set_amount', name: deal.client.first_name %><br>
        <em  class="font-weight-normal">
          <%= t '.amount_range', min: deal.min_amount.to_i, currency: deal.min_amount.currency.symbol %>
          &nbsp; | &nbsp;
          <%= t '.leave_blank_if_free' %>
        </em>
      </p>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= f.input :amount,
            as: :custom,
            symbol: deal.advisor.currency.symbol,
            label: false,
            placeholder: "0",
            input_html: {
              class: 'custom-form-input',
              type: "Number",
              value: deal.amount ? deal.amount.to_f : nil
            }
          %>
        </div>
      </div>
      <%= f.hidden_field :currency_code, value: deal.advisor.currency_code %>
    <% else %>
      <%= render 'pricing_info', deal: deal %>
      <%= f.hidden_field :amount, value: nil %>
    <% end %>
  </div>

  <div class="padded-top-xs">
    <p><%= t '.set_expiry_date', name: deal.client.first_name %></p>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= f.input :proposition_deadline,
          as: :custom,
          symbol: "<i class='fa fa-fire fa-fw' aria-hidden='true'></i>".html_safe ,
          label: false,
          placeholder: t('.pick_date'),
          input_html: {
            class: 'custom-form-input datepicker',
            readonly: true,
            data: {
              date_end_date: l(deal.deadline.to_date),
              date_start_date: "0d",
              date_start_view: "month"
            },
            value: deal.proposition_deadline ? l(deal.proposition_deadline.to_date) : nil
          }
        %>
      </div>
    </div>
  </div>

  <div class="text-right padded-top-xs">
    <%= button_tag(type: 'submit', class: "btn btn-form btn-green", data: {disable_with: t('.reviewing') }) do %>
      <i class='fa fa-file-text-o fa-lg' aria-hidden='true'></i>
      &nbsp;&nbsp;
      <%= t '.review_and_submit' %>
    <% end %>
  </div>
<% end %>
