<%= simple_form_for deal, url: save_proposition_deal_path, method: :patch, remote: true do |f| %>
  <%= f.error_notification %>

  <div class="padded-top-xs">
    <p><%= t '.describe_service_and_not_included', name: deal.client.first_name %></p>
    <%= f.input :proposition, label: false, placeholder: t('.describe_service'), input_html: { class: 'custom-form-input', rows: "7" } %>
  </div>

  <div class="padded-top-xs">
    <p><%= t '.set_expiry_date', name: deal.client.first_name %></p>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <%= f.input :proposition_deadline, as: :custom, symbol: "<i class='fa fa-fire fa-fw' aria-hidden='true'></i>".html_safe ,label: false, placeholder: t('.pick_date'), input_html: { class: 'custom-form-input datepicker', readonly: true, data: { date_end_date: l(deal.deadline.to_date), date_start_date: "0d", date_start_view: "month"}, value: deal.proposition_deadline ? l(deal.proposition_deadline.to_date) : nil } %>
      </div>
    </div>
  </div>

  <% if deal.offer.free? && deal.offer.free_deals > 0 %>
    <div class="padded-top-xs padded-bottom-xs">
      <div class="custom-form-warning bg-white-transparent">
        <i class="fa fa-exclamation-triangle red" aria-hidden="true"></i>
        <p><%= t '.session_for_free' %> <%= t '.sessions_before_pricing_html', count: (@deal.offer.free_deals) %></p>
      </div>
    </div>

  <% elsif deal.offer.free? %>
    <div class="padded-top-xs padded-bottom-xs">
      <div class="custom-form-warning bg-white-transparent">
        <i class="fa fa-exclamation-triangle red" aria-hidden="true"></i>
        <p><%= t '.session_for_free' %> <%= link_to t('.edit_offer'), edit_offer_path(deal.offer) %> <%= t '.to_propose_priced_services' %></p>
      </div>
    </div>

  <% elsif deal.offer.priced? %>
    <div class="padded-top-xs">
      <p>
        <%= t '.set_price' %><br>
        <em  class="font-weight-normal"><%= t '.amount_range', min: money_without_cents(deal.min_amount), currency: deal.min_amount.currency.symbol %> &nbsp; | &nbsp; <%= t '.leave_blank_if_free' %></em>
      </p>
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <%= f.input :amount, as: :custom, symbol: deal.advisor.currency.symbol, required: true, label: false, placeholder: "0", input_html: { class: 'custom-form-input', type: "Number", value: deal.amount ? money_without_cents(deal.amount) : nil } %>
        </div>
      </div>
    </div>

    <%= f.hidden_field :currency_code, value: deal.advisor.currency_code %>
  <% end %>

  <div class="text-right padded-top-xs">
    <%= button_tag(type: 'submit', class: "btn btn-form btn-green") do %>
      <i class='fa fa-file-text-o fa-lg' aria-hidden='true'></i>&nbsp;&nbsp; <%= t '.review_and_submit' %>
    <% end %>
  </div>
<% end %>
