<h6>
  <strong class="blue">#<%= t 'session' %>-<%= deal.id %></strong>
  &nbsp;|&nbsp;
  <%= deal.title %>
</h6>

<div class="padded-top-xs deal-proposition-recap-figures">
  <div class="deal-proposition-recap-figures-left">
    <p>
      <span class="font-weight-normal"><%= t '.amount' %></span>&nbsp;
      <% if deal.free? %>
        <span class="font-weight-normal blue"><%= t('.free') %></span>
      <% else %>
        <span class="font-weight-normal blue">
          <%= t('money', amount: humanized_money(deal.amount_converted(current_user.currency_code)), currency: deal.amount_converted(current_user.currency_code).symbol )  %>
        </span>
        <br>
        <small class="blank-nowrap">
          <%= t('.including_fees') %>&nbsp;
          <%= t('money', amount: humanized_money(deal.fees_converted(current_user.currency_code)), currency: deal.fees_converted(current_user.currency_code).symbol ) %>
        </small>
      <% end %>
      &nbsp;&nbsp;
    </p>
  </div>
  <div class="deal-proposition-recap-figures-right">
    <p class="font-weight-normal">
      <%= t '.duration' %>&nbsp;
      <span class="blue"><%= deal.duration_display %></span>
    </p>
    <p class="font-weight-normal">
      <%= t '.deadline' %>&nbsp;
      <span class="blue"><%= l(deal.deadline.to_date) if deal.deadline %></span>
    </p>
  </div>
</div>

<h6 class="extra-dark-gray"><%= t '.targets', count: deal.objectives.count %></h6>
<% deal.objectives.each_with_index do |objective, i| %>
  <p><span class="font-weight-normal"><%= i + 1 %></span> &nbsp; | &nbsp; <%= objective.description %></p>
<% end %>

<div class="padded-top-xs">
  <%= sanitize auto_link(markdown_to_html(deal.proposition)) %>
</div>

<div class="row padded-bottom-xs">
  <div class="col-xs-12 col-sm-6">
    <h6 class="extra-dark-gray"><%= t '.languages', count: deal.languages.count %></h6>
    <%= render 'deals/languages', deal: deal %>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h6 class="extra-dark-gray"><%= t '.means', count: deal.means.count %></h6>
    <%= render 'deals/means', deal: deal %>
  </div>
</div>
