<div class="modal fade" id="deal-proposition-confirmation" tabindex="-1" role="dialog" aria-labelledby="dealPropositionConfirmationLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="dealPropositionConfirmationLabel"><%= t '.proposition_submission' %></h4>
      </div>
      <div class="modal-body">
        <p class="font-weight-normal blue"><%= t '.review_before_submitting' %></p>
        <p class="deal-proposition-warning">
          <i class="fa fa-exclamation-triangle red fa-lg" aria-hidden="true"></i>
          <span><%= t '.commited_after_submission', name: deal.client.first_name %></span>
        </p>
        <div class="form-separation padded-top-s padded-bottom-xs">
          <div></div>
          <p>
            <span class='font-weight-normal blue'><%= t '.proposition_expiring_on' %> <%= l(deal.proposition_deadline.to_date) if deal.proposition_deadline %></span>
          </p>
          <div></div>
        </div>
        <%= render 'proposition_recap', deal: deal %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-form btn-gray" data-dismiss="modal"><%= t '.go_back' %></button>
        <%= link_to submit_proposition_deal_path(deal), method: :patch, class: "btn btn-form btn-green", data: {disable_with: t('.submitting') } do %>
          <i class='fa fa-file-text-o fa-lg' aria-hidden='true'></i>&nbsp;&nbsp; <%= t '.submit' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
