
<div class="session-proposition-top">
  <h4 class="font-weight-normal">Proposition</h4>
  <div class="session-proposition-figures">
    <p>
      <span class="amount-icon">
        <%= image_tag 'objective.svg' %>
      </span>
      <strong><%= @deal.objectives.count %></strong>
    </p>
    <p>
      <span class="amount-icon">
        <%= image_tag 'amount.svg' %>
      </span>
      <strong><%= money_without_cents_and_with_symbol(@deal.amount) %></strong>
    </p>
    <p>
      <span class="amount-icon">
        <%= image_tag 'date.svg' %>
      </span>
      <strong><%= @deal.deadline.strftime("%d %b %Y") %></strong>
    </p>
  </div>
</div>

<div class="session-proposition bg-white-transparent" id="proposition-essential">
  <% @deal.objectives[0..2].each_with_index do |objective, i| %>
    <%= render 'objectives/show', objective: objective, number: i + 1 %>
  <% end %>
</div>

<div class="session-proposition bg-white-transparent" id="proposition-details">
  <% unless  @deal.objectives.count <= 3 %>
    <div class="padded-bottom-xs">
      <% @deal.objectives[3..-1].each_with_index do |objective, i| %>
        <%= render 'objectives/show', objective: objective, number: i + 4 %>
      <% end %>
    </div>
  <% end %>
  <%= sanitize markdown_to_html(@deal.proposition) %>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h6>Languages</h6>
      <%= render 'languages', deal: @deal %>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h6>Means of communication</h6>
      <%= render 'means', deal: @deal %>
    </div>
  </div>
</div>

<div class="session-proposition-toggle bg-white-transparent text-center">
  <%= link_to '#', id: "proposition-toggle" do  %>
    <p>See details &nbsp;
      <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
    </p>
    <p class="hidden">Hide details &nbsp;
      <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
    </p>
  <% end %>
</div>

<div class="session-proposition-bottom">
  <div class="row">
    <div class="col-xs-4">
      <% if @deal.proposition? %>
        <div class="proposition-info">
          <p><small>Expiry after </small></p>
          <p><small><span class="font-weight-normal"><%= @deal.proposition_deadline.strftime("%d %b %Y") %></span></small></p>
        </div>
      <% end %>
    </div>
    <div class="col-xs-8">
      <% if policy(@deal).open_or_decline? %>
        <div class="proposition-action-btns">
          <%= render "decline" %>
          <%= render "acceptation" %>
        </div>
      <% elsif @deal.proposition? && @deal.advisor == current_user %>
        <div class="text-right proposition-info">
          <p class="dark-gray font-weight-normal"><i class="fa fa-clock-o fa-lg" aria-hidden="true"></i>&nbsp; Pending</p>
        </div>
      <% elsif @deal.proposition_declined? %>
        <div class="text-right proposition-info">
          <p class="red font-weight-normal"><i class="fa fa-ban fa-lg" aria-hidden="true"></i>&nbsp; Declined</p>
        </div>
      <% else %>
        <div class="text-right proposition-info">
          <p class="blue font-weight-normal"><i class="fa fa-check fa-lg" aria-hidden="true"></i>&nbsp; Accepted</p>
        </div>
      <% end %>
    </div>
  </div>

</div>


<div class="session-info-box">

  <% if policy(@deal).cancel? %>
    <div class="padded-top-s">
      <% if policy(@deal).proposition? %>
        <p class="font-weight-normal"><%= @deal.client.first_name %> declined your proposition. Submit a new proposition or cancel the session if you don't want to pursue.</p>
      <% else %>
        <p class="font-weight-normal">Ask for a new proposition or cancel the session if you don't want to pursue.</p>
      <% end %>
    </div>

  <% elsif @deal.proposition? %>
    <div class="padded-top-s">
      <% if @deal.advisor == current_user %>
        <p class="font-weight-normal">You submitted a proposition, <%= @deal.client.first_name %> will decide to accept or decline it.</p>
      <% elsif @deal.client == current_user %>
        <p class="font-weight-normal">Accept or decline the proposition to pursue.</p>
      <% end %>
    </div>

  <% elsif @deal.open? && @deal.advisor == current_user %>
    <div class="padded-top-s">
      <p class="font-weight-normal">The session is open until <%= @deal.deadline.strftime("%d %b %Y") %>, unless <%= @deal.client.first_name %> closes it before.</p>
    </div>

  <% elsif policy(@deal).close? %>
    <div class="padded-top-s">
      <% if @deal.advisor == current_user %>
        <p class="font-weight-normal">The session is open, close it if your job is done.</p>
      <% elsif @deal.client == current_user %>
        <p class="font-weight-normal">The session is open, close it if you got what you need.</p>
      <% end %>
    </div>

  <% elsif @deal.closed? %>
    <div class="padded-top-s">
      <p class="font-weight-normal">This session is closed.</p>
    </div>

  <% end %>

</div>
