<div type="button" class="btn btn-primary btn-block btn-proposition" data-toggle="modal" data-target="#request">
  Ask for a proposition
</div>

<div class="modal fade" id ="request" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Ask for a proposition to <%= offer.advisor.name_anonymous %></h4>
        <h5><%= offer.title %></h5>
      </div>
      <div class="modal-body">
        <%= simple_form_for(deal, remote: true) do |f| %>
          <%= f.error_notification message: 'Please fill all the fields below' %>

          <%= f.input :request, placeholder: "Detail your needs" %>
          <%= f.input :deadline %>
          <%= f.association :languages, collection: offer.languages, as: :check_boxes, include_hidden: false %>
          <%= f.association :means, collection: offer.means, as: :check_boxes, include_hidden: false %>

          <%= f.hidden_field :offer_id, value: offer.id %>
          <%= f.hidden_field :status, value: :request %>

          <%= f.button :submit, "Send request", class: "btn btn-primary" %>
        <% end %>

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
