<% if @deal.client == current_user %>
  <p class="font-weight-normal blue">Your request has been sent to <%= @deal.advisor.first_name %>. You should receive a proposition soon if <%= @deal.advisor.first_name %> can meet your needs.</p>

<% elsif @deal.advisor == current_user %>
  <p class="font-weight-normal blue"><%= @deal.client.first_name %> has sent you a request. Answer with a proposition if you figure you can meet the needs of <%= @deal.client.first_name %>.</p>

  <div class="text-center padded-bottom-s">
    <%= link_to 'Send proposition', proposition_deal_path(@deal), class: "btn btn-form btn-blue" %>
  </div>

  <hr class="bd-gray">

<% end %>
