<% if @deal.client == current_user %>
  <p class="font-weight-normal blue">You sent a request to <%= @deal.advisor.first_name %>. You should get a proposition back if <%= @deal.advisor.first_name %> can meet your needs.</p>
  <p>Cancel the session if you don't want to pursue.</p>
  <div class="padded-bottom-s padded-top-s session-request-btns">
    <%= render 'cancellation' %>
  </div>

<% elsif @deal.advisor == current_user %>
  <p class="font-weight-normal blue"><%= @deal.client.first_name %> sent you a request. Answer with a proposition if you can meet the needs of <%= @deal.client.first_name %>.</p>
  <p>Feel free to ask questions if you need more details before sending a proposition. Cancel the session if you don't want to pursue.</p>

  <div class="padded-bottom-s padded-top-s session-request-btns">
    <%= link_to 'Send proposition', proposition_deal_path(@deal), class: "btn btn-form btn-blue" %>
    <%= render 'cancellation' %>
  </div>

<% end %>
