<hr>
<div class="review">
  <div class="review-user">
    <%= link_to user_path(user) do %>
      <div class="hidden-xs">
        <%= render 'shared/avatar', user: user, size: 'avatar-standard' %>
      </div>
      <h1><%= user.name_anonymous %></h1>
    <% end %>
    <div><p class="medium-gray"><%= date.strftime("%d %b %Y") %></p></div>
  </div>
  <div class="review-content">
    <% unless rating.nil? %>
      <%= render 'deals/satisfaction', rating: rating %>
    <% end %>
    <p><%= review %></p>
    <p><%= link_to "#{deal.offer.title}", offer_path(deal.offer)%></p>
  </div>
</div>
