<hr class="bd-gray">
<div class="review">
  <div class="review-user">
    <%= link_to user_path(user) do %>
      <div class="hidden-xs">
        <%= render 'users/avatar', user: user, size: 'avatar-standard' %>
      </div>
      <h1><%= user.name_anonymous %></h1>
    <% end %>
  </div>
  <div class="review-content">
    <div class="review-content-top">
      <div>
        <% unless rating.nil? %>
          <%= render 'deals/satisfaction', rating: rating %>
        <% end %>
      </div>
      <div><p class="medium-gray"><%= date.strftime("%d %b %Y") %></p></div>
    </div>
    <p><%= review %></p>
    <p>
      <% if user == deal.client %>
        <span class="green"><i class="fa fa-user-o" aria-hidden="true"></i> &nbsp;as advisor </span>
      <% else %>
        <span class="yellow"><i class="fa fa-user-o" aria-hidden="true"></i> &nbsp;as client </span>
      <% end %>
      &nbsp; | &nbsp;
      <% if policy(deal.offer).show? %>
        <%= link_to "#{deal.offer.title}", offer_path(deal.offer)%>
      <% elsif deal.offer %>
        <%= deal.offer.title %>
      <% else %>
        -
      <% end %>
    </p>
  </div>
</div>
