<hr class="bd-gray">
<div class="review">
  <div class="review-user">
    <% if user %>
      <%= link_to user_path(user) do %>
        <div class="hidden-xs">
          <%= render 'users/avatar', user: user, size: 'avatar-standard' %>
        </div>
        <h1><%= user.name_anonymous %></h1>
      <% end %>
    <% else %>
      <div class="hidden-xs">
        <%= render 'users/avatar', user: user, size: 'avatar-standard' %>
      </div>
      <h1><span class="medium-gray"><em>Account deleted</em></span></h1>
    <% end %>
  </div>
  <div class="review-content">
    <div class="review-content-top">
      <%= render 'deals/satisfaction', rating: rating, user: user, deal: deal %>
      <div><p class="medium-gray"><%= date.strftime("%d %b %Y") %></p></div>
    </div>
    <%= sanitize markdown_to_html(review) %>
  </div>
</div>
