<button id="payButton" class="btn btn-form btn-blue"><i class="fa fa-check fa-lg" aria-hidden="true"></i>&nbsp;&nbsp; <%= t '.accept_and_pay' %></button>

<%= form_tag deal_payments_path(deal), id: "paymentForm" do %>

  <%= hidden_field_tag 'stripeToken' %>
  <%= hidden_field_tag 'stripeEmail' %>

  <script>
    var handler = StripeCheckout.configure({
      key: "<%= Rails.configuration.stripe[:publishable_key] %>",
      image: "<%= image_path('papoters_stripe.png') %>",
      color: "black",
      locale: "<%= I18n.locale %>",
      email: "<%= current_user.email %>",
      token: function(token) {
        document.getElementById("stripeToken").value = token.id;
        document.getElementById("stripeEmail").value = token.email;
        document.getElementById("paymentForm").submit();
      }
    });

    document.getElementById('payButton').addEventListener('click', function(e) {
        // Open Checkout with further options:
        $('.modal').modal('hide');
        handler.open({
          name: 'Papoters',
          description: "#<%= t('session') %>-<%= deal.id %> | <%= deal.title %>",
          zipCode: true,
          currency: "<%= deal.total_amount.currency %>",
          amount: <%= deal.total_amount_cents %>
        });
        e.preventDefault();
    });

    // Close Checkout on page navigation:
    window.addEventListener('popstate', function() {
      handler.close();
    });
  </script>

<% end %>
