<div class="container">

  <div>
    <h2>Ask for a proposition to <%= @offer.advisor.name_anonymous %></h2>
    <h3><%= @offer.title %></h3>

    <%= simple_form_for [@offer, @deal] do |f| %>
      <%= f.error_notification message: 'Please fill all the fields below' %>

      <%= f.input :request, placeholder: "Detail your needs" %>
      <%= f.input :deadline %>

      <%= f.button :submit, "Send request", class: "btn btn-primary" %>
    <% end %>

  </div>

<div class="container">
