<% content_for :title do %>
  <%= "Papoters | #{@offer.title} - #{t '.request'}" %>
<% end %>

<h2><%= t '.new_request_to', name: @offer.advisor.first_name %></h2>
<h4><%= @offer.title %></h4>

<%= simple_form_for [@offer, @deal], html: { id: 'new-deal-form' }  do |f| %>
  <%= f.error_notification %>

  <div class="padded-top-xs padded-bottom-xs">
    <p><%= t '.explain_your_need', name: @offer.advisor.first_name %></p>
  </div>

  <%= f.input :request, label: false, placeholder: t('.detail_your_need'), input_html: { class: 'custom-form-input', rows: "5" } %>

  <div class="padded-top-xs">
    <p><%= t '.what_is_your_deadline' %></p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= f.input :deadline, as: :custom, symbol: "<i class='fa fa-calendar-o fa-fw' aria-hidden='true'></i>".html_safe, label: false, placeholder: t('.pick_date'), input_html: { class: 'custom-form-input datepicker', readonly: true, data: { date_end_date: "+1y", date_start_date: "0d", date_start_view: "month"}, value: @deal.deadline ? l(@deal.deadline.to_date) : nil } %>
    </div>
  </div>

  <div class="padded-top-xs">
    <p><%= t '.select_languages', name: @offer.advisor.first_name %></p>
  </div>

  <div class="custom-check-boxes">
    <%= f.association :languages, collection: @offer.languages, as: :check_boxes, include_hidden: false, label: false, label_method: :name_illustrated %>
  </div>

  <div class="padded-top-xs">
    <p><%= t '.select_means', name: @offer.advisor.first_name %></p>
  </div>

  <div class="custom-check-boxes">
    <%= f.association :means, collection: @offer.means, as: :check_boxes, include_hidden: false, label: false, label_method: :name_illustrated %>
  </div>

  <%= f.hidden_field :title, value: @offer.title %>
  <% if @offer.video_call? %>
    <%= f.hidden_field :room_name %>
  <% end %>

  <div class="text-right padded-top-s">
    <%= button_tag(type: 'submit', class: "btn btn-form btn-yellow") do %>
      <i class='fa fa-paper-plane' aria-hidden='true'></i>&nbsp;&nbsp; <%= t '.send' %>
    <% end %>
  </div>
<% end %>

<div class="text-right padded-top-xs">
  <p><%= link_to t('.back_to_offer'), offer_path(@offer) %></p>
</div>
