<% content_for :title do %>
  <%= "Papoters | New review for #session-#{@deal.id}" %>
<% end %>

<% if current_user == @deal.client %>

  <h2>Review the <%= link_to "#session-#{@deal.id}", deal_path(@deal) %>
    <% if @deal.advisor.present? %>
      with <%= link_to @deal.advisor.first_name, user_path(@deal.advisor) %>
    <% end %>
  </h2>

  <div class="form-separation padded-top-s padded-bottom-s">
    <div></div>
    <p><strong>Target achievment</strong></p>
    <div></div>
  </div>

  <p>For each session target, to which extent the service provided meet your expectations?</p>

  <% @deal.objectives.each_with_index do |objective, i| %>
    <div class="padded-top-xs">
      <p><span class="font-weight-normal"><%= i + 1 %></span> &nbsp; | &nbsp; <%= objective.description %></p>
      <%= render 'objectives/rating_form', objective: objective %>
    </div>
  <% end %>

  <%= render 'deals/client_rating_form', deal: @deal %>

<% elsif current_user == @deal.advisor %>

  <h2>Review the <%= link_to "#session-#{@deal.id}", deal_path(@deal) %>
    <% if @deal.client.present? %>
      with <%= link_to @deal.client.first_name, user_path(@deal.client) %>
    <% end %>
  </h2>

  <%= render 'deals/advisor_rating_form', deal: @deal %>

<% end %>

<div class="text-right padded-top-xs">
  <p><%= link_to "Back to session", deal_path(@deal) %></p>
</div>
