<% content_for :title do %>
  <%= "Papoters | ##{t '.session'}-#{@deal.id} - #{t '.new_proposition'}" %>
<% end %>

<h2 class="no-margin-bottom"><%= link_to "#session-#{@deal.id}", deal_path(@deal) %> -  <%= t '.new_proposition' %></h2>
<h3 class="no-margin-top"><%= link_to "#{@deal.offer.title}", offer_path(@deal.offer) %></h3>

<div class="padded-top-xs padded-bottom-xs">
  <p><%= t '.unveil_action_plan', name: @deal.client.first_name %></p>
  <p>
    <%= t '.set_targets' %><br>
    <em class="font-weight-normal"><%= t '.objective_range', max: Deal.validators_on(:objectives)[1].options[:maximum] %></em>
  </p>
  <%= render 'objectives/form', deal: @deal, objective: @objective %>
</div>

<div id="deal-objectives-in-form">
  <% if @deal.objectives.blank? %>
    <p class="red"><%= t '.set_one_target' %></p>
  <% else %>
    <% @deal.objectives.each_with_index do |objective, i| %>
      <%= render 'objectives/show_in_form', objective: objective, number: (i + 1) %>
    <% end %>
  <% end %>
</div>

<%= render 'proposition_form', deal: @deal %>

<div class="text-right padded-top-xs">
  <p><%= link_to t('.back_to_session'), deal_path(@deal) %></p>
</div>

<div id="deal-proposition-confirmation-box"></div>
