<% content_for :title do %>
  <%= "Papoters | ##{t '.session'}-#{@deal.id} - #{t '.evaluation'}" %>
<% end %>

<h2 class="no-margin-bottom"><%= link_to "#session-#{@deal.id}", deal_path(@deal) %> -  <%= t '.evaluation' %></h2>
<h3 class="no-margin-top"><%= link_to "#{@deal.offer.title}", offer_path(@deal.offer) %></h3>

<% if current_user == @deal.client %>

  <div class="form-separation padded-top-s padded-bottom-s">
    <div></div>
    <p><strong><%= t '.target_achievement' %></strong></p>
    <div></div>
  </div>

  <p><%= t '.evaluate_target_achievement', name: @deal.advisor.first_name %></p>

  <% @deal.objectives.each_with_index do |objective, i| %>
    <div class="padded-top-xs">
      <p><span class="font-weight-normal"><%= i + 1 %></span> &nbsp; | &nbsp; <%= objective.description %></p>
      <%= render 'objectives/rating_form', objective: objective %>
    </div>
  <% end %>

  <%= render 'deals/client_rating_form', deal: @deal %>

<% elsif current_user == @deal.advisor %>

  <%= render 'deals/advisor_rating_form', deal: @deal %>

<% end %>

<div class="text-right padded-top-xs">
  <p><%= link_to t('.back_to_session'), deal_path(@deal) %></p>
</div>
