<% content_for :title, "Papoters • ##{t 'session'}-#{@deal.id} - #{t '.new_proposition'}" %>

<h2><%= t '.new_proposition_for', name: @deal.client.first_name %></h2>
<h4>
  <span class="blue font-weight-normal">#<%= t 'session' %>-<%= @deal.id %></span>
  <span class="hidden-xs hidden-sm">&nbsp; | &nbsp;</span>
  <br class="hidden-md hidden-lg">
  <%= @deal.title %>
</h4>

<div class="padded-top-xs padded-bottom-xs">
  <p>
    <%= t '.unveil_action_plan', name: @deal.client.first_name %><br>
    <em class="font-weight-normal"><%= t '.objective_range', max: Deal.validators_on(:objectives)[1].options[:maximum] %></em>
  </p>
  <%= render 'objectives/form', deal: @deal, objective: @objective %>
</div>

<div id="deal-objectives-in-form">
  <% if @deal.objectives.blank? %>
    <p class="red"><%= t '.set_one_target' %></p>
  <% else %>
    <% @deal.objectives.each_with_index do |objective, i| %>
      <%= render 'objectives/show_in_form', objective: objective, number: (i + 1) %>
    <% end %>
  <% end %>
</div>

<%= render 'proposition_form', deal: @deal %>

<div class="text-right padded-top-xs">
  <p><%= link_to t('.back_to_session'), deal_path(@deal) %></p>
</div>

<div id="deal-proposition-confirmation-box"></div>
