<% content_for :title do %>
  <%= "Papoters | Proposition for #session-#{@deal.id}" %>
<% end %>

<h2>New proposition for <%= link_to "#session-#{@deal.id}", deal_path(@deal) %></h2>

<div class="padded-bottom-xs">
  <p>It's time to unveil your action plan for this session. Start by setting some targets (min: 1 - max: 10).</p>
</div>

<%= render 'objectives/form', deal: @deal, objective: @objective %>

<div id="proposition_objectives">
  <% if @deal.objectives.blank? %>
    <p><em>Set at least one target for this sessions.</em></p>
  <% else %>
    <% @deal.objectives.each_with_index do |objective, i| %>
      <%= render 'objectives/show_in_form', objective: objective, number: (i + 1) %>
    <% end %>
  <% end %>
</div>

<%= render 'proposition_form', deal: @deal %>

<div class="text-right padded-top-xs">
  <p><%= link_to "Back to session", deal_path(@deal) %></p>
</div>

<div id="proposition_confirmation_box"></div>
