<% content_for :title, "Papoters | ##{t 'session'}-#{@deal.id} - #{t '.evaluation'}" %>

<h2><%= t '.session_evaluation', name: current_user == @deal.client ? @deal.advisor.first_name : @deal.client.first_name %></h2>
<h4>
  <span class="blue font-weight-normal">#<%= t 'session' %>-<%= @deal.id %></span>
  <span class="hidden-xs hidden-sm">&nbsp; | &nbsp;</span>
  <br class="hidden-md hidden-lg">
  <%= @deal.title %>
</h4>

<% if current_user == @deal.client %>

  <div class="form-separation padded-top-s padded-bottom-s">
    <div></div>
    <p><strong><%= t '.target_achievement' %></strong></p>
    <div></div>
  </div>

  <p><%= t '.evaluate_target_achievement', name: @deal.advisor.first_name %></p>

  <% @deal.objectives.each_with_index do |objective, i| %>
    <div class="padded-top-xs">
      <p><span class="font-weight-normal"><%= i + 1 %></span> &nbsp; | &nbsp; <%= objective.description %></p>
      <%= render 'objectives/rating_form', objective: objective %>
    </div>
  <% end %>

  <%= render 'deals/client_rating_form', deal: @deal %>

<% elsif current_user == @deal.advisor %>

  <%= render 'deals/advisor_rating_form', deal: @deal %>

<% end %>

<div class="text-right padded-top-xs">
  <p><%= link_to t('.back_to_session'), deal_path(@deal) %></p>
</div>
