<% content_for :title, "Papoters | ##{t 'session'}-#{@deal.id}" %>

<div id="deal-page" class= "padded-top-xxl padded-bottom-l bg-light-gray" data-deal-id="<%= @deal.id %>" >

  <div class="deal-banner-top <%= current_user == @deal.advisor ? 'deal-banner-green' : 'deal-banner-yellow' %>"></div>
  <div class="deal-banner-bottom <%= current_user == @deal.advisor ? 'deal-banner-green' : 'deal-banner-yellow' %>"></div>

  <div class="container">

    <div class="row">
      <div class="col-xs-12 padded-bottom-s">
        <div class="deal-title">
          <%= render 'title', deal: @deal %>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-md-6">
        <div class="deal-info">

          <div class="padded-bottom-xs" id="deal-status-panel">
            <%= render 'status', deal: @deal %>
          </div>

          <div id="deal-info-panel">
            <%= render 'info', deal: @deal %>
          </div>

          <div class="padded-bottom-m deal-btns" id="deal-actions-panel">
            <%= render 'actions', deal: @deal %>
          </div>

        </div>
      </div>


      <div class="col-xs-12 col-md-6">
        <div class="deal-conversation">

          <div class="deal-conversation-top">
            <%= render 'users/info_in_deal', user: current_user == @deal.advisor ? @deal.client : @deal.advisor %>
            <%= render 'video_call', deal: @deal %>
          </div>

          <div class="deal-conversation-info">
            <%= render 'conversation_info', deal: @deal %>
          </div>

          <div id="deal-conversation-panel">
            <div id="deal-conversation-messages">
              <%= render 'conversation_messages', deal: @deal %>
            </div>
          </div>

          <div id="deal-conversation-form">
            <%= render 'messages/form', message: @message, deal: @deal %>
          </div>

        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12">
        <div id="deal-reviews-panel">
          <%= render 'reviews', deal: @deal %>
        </div>
      </div>
    </div>

  </div>

</div>

<% if (current_user == @deal.client) && @deal.offer.priced? && @deal.advisor.pricing_available? && @deal.advisor.pricing_enabled? %>
  <% content_for(:after_js) do %>
    <%= javascript_include_tag "https://checkout.stripe.com/checkout.js" %>
  <% end %>
<% end %>
