<% content_for :title do %>
  <%= "Papoters | Session n° #{@deal.id}" %>
<% end %>

<div class="padded-top-xxl padded-bottom-xxl bg-gradient">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 padded-bottom-s">
        <div class="session-title">

          <h3>
            <strong class=
            <% if @deal.open? %>
              "green"
            <% elsif @deal.closed? %>
              "red"
            <% else %>
              "blue"
            <% end %>
            >#session-<%= @deal.id %></strong>
            <% if @deal.client ==  current_user && @deal.advisor %>
              with <%= link_to "#{@deal.advisor.name_anonymous}", user_path(@deal.advisor) %>
            <% elsif @deal.advisor ==  current_user && @deal.client %>
              with <%= link_to "#{@deal.client.name_anonymous}", user_path(@deal.client) %>
            <% end %>
            <% if @deal.offer %>
              &nbsp; | &nbsp; for "<%= link_to "#{@deal.offer.title}", offer_path(@deal.offer) %>"
            <% end %>
          </h3>

        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-md-6">
        <div class="session-info">

          <div class="padded-bottom-s">
            <%= render 'status' %>
          </div>

          <div class="padded-bottom-xs">
            <% if @deal.request? && @deal.client == current_user %>
              <p>Your request has been sent to <%= @deal.advisor.first_name %>. You should receive a proposition soon if <%= @deal.advisor.first_name %> can meet your needs.</p>

            <% elsif @deal.request? && @deal.advisor == current_user %>
              <p><%= @deal.client.first_name %> has sent you a request. Answer with a proposition if you figure you can meet the needs of <%= @deal.client.first_name %>.</p>

            <% elsif @deal.advisor %>
              <div class="padded-bottom-xs">
                <%= render 'proposition' %>
              </div>

            <% end %>
          </div>

          <div>
            <% if @deal.proposition? %>
              <% if @deal.client == current_user  %>
                <%= render "acceptation_form" %>
              <% else %>
                <p><small>Waiting for <%= @deal.client.name_anonymous %> acceptation</small></p>
              <% end %>
            <% end %>

            <% if @deal.open? %>
              <div class="padded-top-s padded-bottom-s">
                <%= render "close_form" %>
              </div>
            <% end %>
          </div>

        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="session-conversation">

          <div class="session-conversation-box">

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
