<% content_for :title do %>
  <%= "Papoters | #session-#{@deal.id}" %>
<% end %>

<div id="deal-page" class= "padded-top-xxl padded-bottom-l bg-light-gray" data-deal-id="<%= @deal.id %>">

  <div class="deal-banner-top <%= current_user == @deal.advisor ? 'deal-banner-green' : 'deal-banner-yellow' %>"></div>
  <div class="deal-banner-bottom <%= current_user == @deal.advisor ? 'deal-banner-green' : 'deal-banner-yellow' %>"></div>

  <div class="container">

    <div class="row">
      <div class="col-xs-12 padded-bottom-s">
        <div class="deal-title">
          <%= render 'title', deal: @deal %>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-md-6">
        <div class="deal-info">

          <div class="padded-bottom-s" id="deal-status-panel">
            <%= render 'status', deal: @deal %>
          </div>

          <div id="deal-info-panel">
            <%= render 'info', deal: @deal %>
          </div>

          <div class="deal-info-box padded-bottom-m deal-btns" id="deal-actions-panel">
            <%= render 'actions', deal: @deal %>
          </div>

        </div>
      </div>


      <div class="col-xs-12 col-md-6">
        <div class="deal-conversation">

          <div class="deal-conversation-top">
            <%= render 'users/info_in_deal', deal: @deal %>
          </div>

          <div id="deal-conversation-panel">
            <div id="deal-conversation-messages">
              <%= render 'conversation_messages', deal: @deal %>
            </div>
          </div>

          <div id="deal-conversation-form">
            <%= render 'messages/form', message: @message, deal: @deal %>
          </div>

        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12">
        <div id="deal-reviews-panel">
          <%= render 'reviews', deal: @deal %>
        </div>
      </div>
    </div>

  </div>

</div>


<%= content_for(:js) do %>
  <%= javascript_tag do %>

    $('#message_content').focusin(function() {
      $.ajax({
        type: "GET",
        url: "<%= type_deal_messages_path(@deal) %>" + "?state=typing",
      });
    });
    $('#message_content').focusout(function() {
      $.ajax({
        type: "GET",
        url: "<%= type_deal_messages_path(@deal) %>" + "?state=stop_typing"
      })
    });

  <% end %>
<% end %>
