<% content_for :title do %>
  <%= "Papoters | Session n° #{@deal.id}" %>
<% end %>

<div class="padded-top-xxl padded-bottom-xxl">
  <div class="container">

    <h2>
      Deal with
      <% if @deal.client == current_user %>
        <%= @deal.advisor.name_anonymous %>
      <% else %>
        <%= @deal.client.name_anonymous %>
      <% end %>
      | <span class="yellow"><%= @deal.status %></span>
    </h2>
    <h4>
      <% unless @deal.closed? %>
        <span class= "date-format">due for <%= @deal.deadline.strftime("%a %d, %Y") %></span>
      <% else %>
        <span class= "date-format">closed <%= @deal.closed_at.strftime("%a %d, %Y") %></span>
      <% end %>
    </h4>

    <% if @deal.open? %>
      <div class="padded-top-s padded-bottom-s">
        <%= render "close_form" %>
      </div>
    <% end %>

    <div class="padded-top-s padded-bottom-s">
      <% unless @deal.request? %>
        <h3>Proposition</h3>
        <h4><span class= "date-format">sent on <%= @deal.proposition_at.strftime("%a %d, %Y") %></span></h4>
        <p><%= @deal.proposition %></p>
        <p>Amount: <strong><%= money_without_cents_and_with_symbol(@deal.amount) %></strong></p>

        <% if @deal.proposition? %>
          <% if @deal.client == current_user  %>
            <%= render "acceptation_form" %>
          <% else %>
            <p><small>Waiting for <%= @deal.client.name_anonymous %> acceptation</small></p>
          <% end %>
        <% else %>
          <p><small>Proposition accepted on <%= @deal.accepted_at.strftime("%a %d, %Y") %></small></p>
        <% end %>
      <% else %>
        <% if @deal.advisor == current_user  %>
          <%= render "proposition_form" %>
        <% else %>
          <p><small>Waiting for <%= @deal.advisor.name_anonymous %> proposition</small></p>
        <% end %>
      <% end %>
    </div>

    <div class="padded-top-s padded-bottom-s">
      <h3>Request</h3>
      <h4><span class= "date-format">sent on <%= @deal.created_at.strftime("%a %d, %Y") %></span></h4>
      <p><%= @deal.request %></p>
    </div>

  </div>
</div>

<div class="bg-gray padded-top-s padded-bottom-xl">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">
        <h2>Related offer</h2>
        <% if policy(@deal.offer).show? %>
          <%= render "offers/card_profile", offer: @deal.offer %>
        <% else %>
          <% if @deal.advisor == current_user %>
            <p>You have permanently removed the offer <span class="font-weight-normal">"<%= @deal.offer.title %>"</span>.</p>
            <p><%= link_to "Go to your profile", user_path(@deal.client) %> to create new offers.</p>
          <% elsif @deal.client == current_user %>
            <p><%= @deal.advisor.first_name %> has permanently removed the offer <span class="font-weight-normal">"<%= @deal.offer.title %>"</span>.</p>
            <p>Check out the <%= link_to "profile of #{@deal.advisor.first_name}", user_path(@deal.advisor) %> for active offers.</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
