 <div class="container">
  <% if @deal.client == current_user %>
    <h1>Deal with <%= @deal.advisor.name_anonymous %></h1>
  <% else %>
    <h1>Deal with <%= @deal.client.name_anonymous %></h1>
  <% end %>

<ul class="list-unstyled">
  <li>
    Status: <%= @deal.status %>
  </li>
  <li>
    Deadline: <%= @deal.deadline %>
  </li>
  <li>
    Proposition: <%= @deal.proposition %>
  </li>
  <li>
     Request: <%= @deal.request %>
  </li>
</ul>


  <div>
    <%= render "shared/offercard", offer: @deal.offer %>
  </div>

</div>
