<% content_for :title do %>
  <%= "Papoters | #session-#{@deal.id}" %>
<% end %>

<div class="padded-top-xxl padded-bottom-xxl bg-gradient">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 padded-bottom-s">
        <div class="session-title">
          <%= render 'title' %>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-md-6">
        <div class="session-info">

          <div class="padded-bottom-s">
            <%= render 'status' %>
          </div>

          <div class="padded-bottom-s">
            <% if @deal.request? %>
              <%= render 'request_part' %>
            <% else %>
              <%= render 'proposition_part' %>
            <% end %>
          </div>

          <div class="padded-bottom-s">
            <% if policy(@deal).destroy? %>
              <%= render 'cancellation' %>
            <% end %>

            <% if @deal.open? %>
              <div class="padded-top-s padded-bottom-s">
                <%= render "close_form" %>
              </div>
            <% end %>
          </div>

        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="session-conversation">

          <div class="session-conversation-box">

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
