<% content_for :title do %>
  <%= "Papoters | #session-#{@deal.id}" %>
<% end %>

<div class=
  <% if @deal.advisor == current_user %>
    "padded-top-xxl padded-bottom-xxl bg-gradient-green"
  <% elsif @deal.client == current_user %>
    "padded-top-xxl padded-bottom-xxl bg-gradient-yellow"
  <% end %>
>
  <div class="container">

    <div class="row">
      <div class="col-xs-12 padded-bottom-s">
        <div class="session-title">
          <%= render 'title' %>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-xs-12 col-md-6">
        <div class="session-info">

          <div class="padded-bottom-s">
            <%= render 'status' %>
          </div>

          <div>
            <% if @deal.cancelled? %>
              <%= render 'cancelled_part' %>
            <% elsif @deal.request? %>
              <%= render 'request_part' %>
            <% else %>
              <%= render 'proposition_part' %>
            <% end %>
          </div>

          <div class="padded-bottom-m session-btns">
            <% if policy(@deal).cancel? %>
              <%= render 'cancellation' %>
              <%= link_to 'New proposition', proposition_deal_path(@deal), class: "btn btn-form btn-blue" if policy(@deal).proposition? %>
            <% elsif policy(@deal).close? %>
              <%= render 'close' %>
            <% end %>
          </div>

        </div>
      </div>

      <div class="col-xs-12 col-md-6">
        <div class="session-conversation">

          <div class="session-conversation-box">

          </div>

        </div>
      </div>

    </div>
  </div>
</div>
