<p>
  <span class="info-icon"><%= image_tag 'amount.svg' %></span>
  <% if offer.free? %>
    <strong><%= t '.free' %></strong>
  <% elsif offer.median_amount_money.nil? %>
    <span class="medium-gray"><%= t '.no_history' %></span>
  <% else %>
    <span class="medium-gray"><%= t('money', amount: money_without_cents(offer.min_amount_money), currency: offer.min_amount_money.currency.symbol ) %> &mdash; </span>
    <strong><%= t('money', amount: money_without_cents(offer.median_amount_money), currency: offer.median_amount_money.currency.symbol ) %></strong>
    <span class="medium-gray"> &mdash; <%= t('money', amount: money_without_cents(offer.max_amount_money), currency: offer.max_amount_money.currency.symbol ) %></span>
  <% end %>
</p>
