<div class="offer-card">

  <div class="offer-card-content">
    <div class="container-fluid">

      <div class="row padded-bottom-xs">
        <div class=
          <% if offer.advisor == current_user %>
            <%= "col-xs-10" %>
          <% elsif user_signed_in? %>
            <%= "col-xs-11" %>
          <% else %>
            <%= "col-xs-12" %>
          <% end %>
        >
          <h2><%= offer.title %></h2>
        </div>
        <div class="col-xs-12">
          <%= render 'offers/status_info', offer: offer %>
        </div>
      </div>

      <div class="row padded-bottom-xs">
        <div class="col-xs-3">
          <%= render 'offers/deals_count', offer: offer %>
        </div>
        <div class="col-xs-9">
          <div class="row">
            <div class="col-xs-12 col-sm-6 text-right">
              <%= render 'offers/satisfaction', offer: offer %>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
              <%= render 'offers/amounts', offer: offer %>
            </div>
          </div>
        </div>
      </div>

      <div class="<%= offer.topic_list.blank? ? 'padded-bottom-xs' : 'padded-bottom-m' %> offer-card-summary">
        <%= render 'offers/summary', offer: offer %>
        <%= render 'offers/topics', offer: offer %>
      </div>

      <div class="row">
        <div class="col-xs-7">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <%= render 'offers/languages', offer: offer %>
            </div>
            <div class="col-xs-12 col-sm-6">
              <%= render 'offers/means', offer: offer %>
            </div>
          </div>
        </div>
      </div>

      <% if user_signed_in? %>
        <div class="offer-card-top-right">
          <% if policy(offer).update? %>
            <div class="offer-trigger">
              <%= render 'offers/status_trigger', offer: offer %>
            </div>
          <% else %>
            <h2>
              <%= render 'offers/pin_button', offer: offer %>
            </h2>
          <% end %>
        </div>
      <% end %>

      <div class="offer-card-bottom-right">
        <% if policy(offer).edit? %>
          <p>
            <%= link_to edit_offer_path(offer) do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; <%= t 'offers.show.edit' %>
            <% end %>
          </p>
        <% elsif offer.active? %>
          <%= render 'deals/request_button', size: 'small', offer: offer %>
        <% end %>
      </div>

    </div>
  </div>

  <div class="offer-card-user bg-gradient">
    <div class="offer-card-user-avatar">
      <%= render 'users/avatar', user: offer.advisor, size: 'avatar-medium' %>
    </div>
    <div class="offer-card-user-info">
      <%= render 'users/info', user: offer.advisor %>
    </div>
  </div>

  <% if policy(offer).show? %>
    <%= link_to "", offer_path(offer), class: "link offer-card-link" %>
  <% end %>

</div>
