<div class="offer-card">
  <div class="row">
    <div class="col-xs-9">
      <h2><%= offer.title %></h2>
      <div class="row row-padding">
        <div class="col-xs-4">
          <p>Track record:
            <strong><%= offer.deals_closed.count %></strong>
          </p>
        </div>
        <div class="col-xs-4">
          <p>Satisfaction:
            <%= render 'offers/satisfaction', offer: offer %>
          </p>
        </div>

        <div class="col-xs-4">
          <p>Amounts:
            <%= render 'offers/amounts', offer: offer %>
          </p>
        </div>
      </div>

      <div class="description">
        <p><%= offer.description[0..250] %> ... <strong>more</strong></p>
      </div>

      <div class="row row-padding">
        <div class="col-xs-4">
          <%= render 'offers/languages', offer: offer %>
        </div>
        <div class="col-xs-5">
          <%= render 'offers/means', offer: offer %>
        </div>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="text-center profile">
        <div>
          <%= render 'shared/avatar', user: offer.advisor, size: 'avatar-medium' %>
          <h1><%= offer.advisor.name_anonymous %></h1>
          <h3><%= offer.advisor.grade %></h3>
          <h4><i class="fa fa-map-marker" aria-hidden="true"></i>  <%= offer.advisor.address %></h4>
        </div>
      </div>
    </div>
  </div>
  <% if policy(offer).show? %>
    <%= link_to "", offer_path(offer), class: "link" %>
  <% end %>
</div>
