<div class="offer-card">

  <div class="offer-card-content">
    <div class="container-fluid">

      <div class="row padded-bottom-xs">
        <div class="{{title_class}}">
          <h2>{{{_highlightResult.title.value}}}</h2>
        </div>
      </div>

      <div class="row padded-bottom-xs">
        <div class="col-xs-3">
          <p>
            <span class="{{deals_closed_class}}">
              {{{deals_closed}}}
            </span>
          </p>
        </div>
        <div class="col-xs-9">
          <div class="row">
            <div class="col-xs-12 col-sm-6 text-right">
              <p>
                {{{satisfaction_stars}}}
                <span class="{{satisfaction_class}}">
                  &nbsp; <strong>{{satisfaction_percents}}</strong>
                  {{satisfaction_text}}
                </span>
              </p>
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
              <p>
                <span class='info-icon'><%= image_tag 'amount.svg' %></span>
                {{#no_pricing?}}
                  <strong><%= t 'offers.amounts.free' %></strong>
                {{/no_pricing?}}
                {{^no_pricing?}}
                  {{#no_price_history?}}
                    <span class='medium-gray'><%= t 'offers.amounts.no_history' %></span>
                  {{/no_price_history?}}
                  {{^no_price_history?}}
                    <span class='medium-gray'>{{min_amount}} &mdash; </span>
                    <strong>{{median_amount}}</strong>
                    <span class='medium-gray'> &mdash; {{max_amount}}</span>
                  {{/no_price_history?}}
                {{/no_pricing?}}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="{{#topic_list.0}}padded-bottom-m{{/topic_list.0}}{{^topic_list.0}}padded-bottom-xs{{/topic_list.0}} offer-card-summary">
        <p>
          {{{_highlightResult.summary.value}}}
          <span class="font-weight-normal">{{{description_cut}}}</span>
        </p>
        <div class="offer-card-topics">
          <ul class="list-inline no-margin-bottom">
            {{#_highlightResult.topic_list_short}}
              <li class="offer-topic font-weight-normal"># {{{value}}}</li>
            {{/_highlightResult.topic_list_short}}
            <li class="font-weight-normal">{{topics_cut}}</li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-7">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <ul class = "list-inline">
                {{#languages}}<li class="flag-icon">{{{flag}}}</li>{{/languages}}
              </ul>
            </div>
            <div class="col-xs-12 col-sm-6">
              <ul class="list-inline">
                {{#means}}<li class="mean-icon"><i class="fa fa-{{picto}} fa-lg" aria-hidden="true"></i></li>{{/means}}
              </ul>
            </div>
          </div>
        </div>
      </div>

      <% if user_signed_in? %>
        <div class="offer-card-top-right">
          {{^belongs_to_current_user}}
            <h2>
              <a data-offer-id="{{objectID}}" data-no-loader="true" class="pin-unpin-offer-instant {{pin_button_class}}" title="" data-remote="true" rel="nofollow" data-method="post" href="/<%= I18n.locale == I18n.default_locale ? '' : I18n.locale.to_s + '/' %>offers/{{slug}}/pin" data-original-title="{{pin_button_title}}">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>
              </a>
            </h2>
          {{/belongs_to_current_user}}
        </div>
      <% end %>

      <div class="offer-card-bottom-right">
        <a href="/<%= I18n.locale == I18n.default_locale ? '' : I18n.locale.to_s + '/' %>offers/{{slug}}", class="btn btn-yellow">
          <i class="fa fa-plus-square" aria-hidden="true"></i>  &nbsp;&nbsp;<%= t '.see_details' %>
        </a>
      </div>

    </div>
  </div>

  <div class="offer-card-user bg-gradient">
    <div class="offer-card-user-avatar">
      {{{advisor.avatar_img}}}
    </div>
    <div class="offer-card-user-info">
      <h1>{{advisor.name}}</h1>
      <h3>
        {{{advisor.grade_img}}}{{advisor.grade}}
        {{#advisor.age}}
          &nbsp; | &nbsp; {{advisor.age}}
          <%= t 'users.info.age' %>
        {{/advisor.age}}
      </h3>
      <h4>
        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
        {{advisor.city}} {{advisor.country}}{{advisor.no_location}}
      </h4>
    </div>
  </div>

  <a href="/<%= I18n.locale == I18n.default_locale ? '' : I18n.locale.to_s + '/' %>offers/{{slug}}" class="link offer-card-link"></a>

</div>
