<%= simple_form_for(@offer) do |f| %>
  <%= f.error_notification %>

  <div class="padded-bottom-xs">
    <p><%= t '.describe_offer_and_give_title' %></p>
    <p><%= t '.convince' %></p>
  </div>

  <%= f.input :title, autofocus: true, label: false, placeholder: t('.give_title'), input_html: { class: 'custom-form-input', maxlength: "90" } %>
  <%= f.input :description, label: false, placeholder: t('.describe_offer'), input_html: { class: 'custom-form-input', rows: "10" } %>

  <div class="padded-top-xs">
    <p><%= t '.indicate_topics' %></p>
    <%= f.hidden_field :topic_list, input_html: {value: @offer.topic_list.to_s } %>
    <%= f.input :topic_list, collection: @offer.topic_list, label: false, placeholder: t('.add_tags'), input_html: {id: 'topic_list_select2', name: 'topic_list_select2', multiple: true, data: { taggable: true, taggable_type: "Offer", context: "topics"}} %>
  </div>

  <div class="padded-top-xs">
    <p>
      <%= t '.select_languages' %><br>
      <em class="font-weight-normal"><%= t '.languages_range', max: Offer.validators_on(:languages)[1].options[:maximum] %></em>
    </p>
    <div class="custom-check-boxes">
      <%= f.association :languages, as: :check_boxes, include_hidden: false, label: false, label_method: :name_illustrated %>
    </div>
  </div>

  <div class="padded-top-xs">
    <p>
      <%= t '.select_means' %><br>
      <em class="font-weight-normal"><%= t '.means_range' %></em>
    </p>
    <div class="custom-check-boxes">
    <%= f.association :means, as: :check_boxes, include_hidden: false, label: false, label_method: :name_illustrated %>
  </div>
  </div>

  <div class="padded-top-xs">
    <% if current_user.pricing_available? && current_user.pricing_enabled? %>
      <p><%= t '.select_pricing' %></p>
      <div class="custom-radio-buttons padded-top-xs">
        <%= f.input :pricing, label: false, as: :radio_buttons, collection: Offer.translated_pricings %>
      </div>
    <% else %>
      <%= render "pricing_info" %>
    <% end %>
  </div>

  <div class="text-right padded-top-s">
    <% if @offer.id.blank? %>
      <%= button_tag(type: 'submit', class: "btn btn-form btn-green", data: {disable_with: t('.publishing')}) do %>
        <i class='fa fa-cloud-upload fa-lg' aria-hidden='true'></i>&nbsp;&nbsp; <%= t '.publish' %>
      <% end %>
    <% else %>
      <%= button_tag(type: 'submit', class: "btn btn-form btn-green", data: {disable_with: t('.updating')}) do %>
        <i class='fa fa-cloud-upload fa-lg' aria-hidden='true'></i>&nbsp;&nbsp; <%= t '.update' %>
      <% end %>
    <% end %>
  </div>
<% end %>
