<%= simple_form_for(@offer) do |f| %>
  <%= f.error_notification message: 'Please fill all the fields below' %>

  <div class="padded-bottom-xs">
    <p>Describe your offer and give it a catchy title.</p>
    <p>Be clear, be specific and be original : your mission is to convince people you are the expert they need!</p>
  </div>

  <%= f.input :title, required: true, autofocus: true, label: false, placeholder: "Give your offer a title", input_html: { class: 'custom-form-input' } %>
  <%= f.input :description, label: false, placeholder: "Describe your offer (what you know better than anyone else, what is your method, which experiences make you an expert, etc.)", input_html: { class: 'custom-form-input', rows: "10" } %>

  <div class="padded-top-xs padded-bottom-xs">
    <p>Select the languages you accept to communicate with people on this offer.</p>
  </div>

  <div class="custom-check-boxes">
    <%= f.association :languages, as: :check_boxes, include_hidden: false, label: false, label_method: :name_illustrated %>
  </div>

  <div class="padded-top-xs padded-bottom-xs">
    <p>Select the means you accept to communicate with people on this offer.</p>
  </div>

  <div class="custom-check-boxes">
    <%= f.association :means, as: :check_boxes, include_hidden: false, label: false, label_method: :name_illustrated %>
  </div>

  <div class="padded-top-xs">
    <% if @offer.id.blank? %>
      <p>Before proposing priced services, remind that you need to build your reputation with at least <strong>3 free advice sessions</strong> for this offer.</p>
    <% elsif @offer.free? && @offer.deals_closed_count < 3 %>
      <p>Advice sessions for this offer are <strong>for free</strong>. You need <strong><%= pluralize(3 - @offer.deals_closed_count, "more session") %></strong> to propose priced services.</p>
    <% else %>
      <div class="padded-bottom-xs">
        <p>Select the pricing option for this offer.</p>
      </div>
      <div class="custom-radio-buttons">
        <%= f.input :pricing, label: false, as: :radio_buttons, collection: [[Offer.pricings.keys.first, Offer.pricings.keys.first.capitalize], [Offer.pricings.keys.last, Offer.pricings.keys.last.capitalize]], label_method: :last, value_method: :first %>
      </div>
    <% end %>
  </div>

  <div class="text-right padded-top-s">
    <%= button_tag(type: 'submit', class: "btn btn-form btn-green") do %>
      <% if @offer.id.blank? %>
        <i class='fa fa-cloud-upload fa-lg' aria-hidden='true'></i>&nbsp;&nbsp; Publish
      <% else %>
        <i class='fa fa-cloud-upload fa-lg' aria-hidden='true'></i>&nbsp;&nbsp; Update
      <% end %>
    <% end %>
  </div>
<% end %>
