<%= simple_form_for(@offer) do |f| %>
  <%= f.error_notification message: 'Please fill all the fields below' %>

  <%= f.input :title, required: true, autofocus: true, label: false, placeholder: "Title", input_html: { class: 'custom-form-input' } %>
  <%= f.input :description, label: false, placeholder: "Describe your offer", input_html: { class: 'custom-form-input', rows: "10" } %>

  <div class="custom-check-boxes">
    <%= f.association :languages, as: :check_boxes, include_hidden: false, label: false, label_method: :name_illustrated %>
  </div>
  <div class="custom-check-boxes">
    <%= f.association :means, as: :check_boxes, include_hidden: false, label: false, label_method: :name_illustrated %>
  </div>

  <div class="text-right">
    <%= f.button :submit, class: "btn-form btn-gray" %>
  </div>

  <div class="text-right padded-top-xs">
    <p><%= link_to "Back to profile", :back %></p>
  </div>
<% end %>
