<div class="custom-form-frame-info bg-white-transparent">

  <% if !current_user.pricing_available? %>
    <%= image_tag 'no_amount.svg' %>
    <p><%= t '.pricing_not_available' %></p>

  <% elsif current_user.no_pricing? %>
    <%= image_tag 'no_amount.svg' %>
    <p>
      <%= t '.learn_before_pricing' %><br>
      <%= t '.sessions_before_pricing_html', count: (current_user.free_deals_before_pricing) %>
    </p>

  <% elsif current_user.pricing_pending? %>
    <%= image_tag 'no_amount.svg' %>
    <p>
      <%= t '.pricing_not_enabled' %><br>
      <%= link_to t('.enable_pricing'), details_path %>
      <%= t '.activation_instructions' %>
    </p>

  <% elsif current_user.pricing_disabled? %>
    <%= image_tag 'no_amount.svg' %>
    <p>
      <p>
        <%= t '.pricing_disabled' %>
        <%= link_to t('.visit_your_profile'), user_path(current_user) %>
        <%= t '.to_find_out_more' %>
      </p>
    </p>

  <% end %>

</div>
