<div class="review">
  <div class="review-user">
    <%= link_to user_path(user) do %>
      <div class="hidden-xs">
        <%= render 'shared/avatar', user: user, size: 'avatar-standard' %>
      </div>
      <p><%= user.name_anonymous %></p>
    <% end %>
  </div>
  <div class="review-content">
    <% if deal.rating.present? %>
      <%= render 'deals/satisfaction', rating: deal.rating %>
    <% end %>
    <p><%= review %></p>
  </div>
</div>
<hr>
