<div id="searchbar">
  <div id="searchbar-input-wrapper">
    <input type="text" id="searchbar-input" autofocus="true">
    <div id="searchbar-input-icon"><i class='fa fa-search'></i></div>
    <div id="searchbar-algolia-logo">
      <%= link_to "https://www.algolia.com/?utm_source=instantsearch.js&utm_medium=website&utm_content=localhost&utm_campaign=poweredby" do %>
        <%= image_tag "powered_by_algolia.svg"  %>
      <% end %>
    </div>
  </div>
</div>


<div id="search-page-wrapper" class="padded-top-xxxl padded-bottom-xxl bg-light-gray hidden">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">

        <div id="search-filters-top" class="bg-white-transparent">
        </div>
        <div id="search-filters" class="bg-white-transparent">
          <div id="search-amounts"></div>
          <div id="search-languages" class="padded-bottom-xs"></div>
          <div id="search-means" class="padded-bottom-xs"></div>
        </div>
        <div id="search-filters-disclose" class="text-center bg-white-transparent">
          <p>
            <%= link_to '#', id: "search-filters-toggle" do  %>
              <span class="toggle-link"><%= t '.show_filters' %> &nbsp;
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
              </span>
              <span class="toggle-link hidden"><%= t '.hide_filters' %> &nbsp;
                <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
              </span>
            <% end %>
            <%= link_to t('.clear_search'), '#', id: "search-clear", class: "hidden" %>
          </p>
        </div>

        <div class="search-infos padded-top-s">
          <div id="search-stats"></div>
          <div id="search-sort-by"></div>
        </div>

        <div id="search-hits"></div>

        <div id="search-pagination"></div>

        <script type="text/html" id="search-hit-template">
          <%= render "offers/card_instant" %>
        </script>

        <script type="text/html" id="search-stats-template">
          <h4>{{nbHits}}
          {{#hasManyResults}}<%= t '.offers_found' %>{{/hasManyResults}} {{^hasManyResults}}<%= t '.offer_found' %>{{/hasManyResults}}</h4>
        </script>

        <script type="text/html" id="search-no-results-template">
          <p><%= t '.no_offers_found' %> <em>"{{query}}"</em>...</p>
        </script>

        <script type="text/html" id="language-facet-item-template">
          <div class="ais-refinement-list--item">
            <div>
              <label class="ais-refinement-list--label">
                <input type="checkbox" class="ais-refinement-list--checkbox" value="{{name}}">
                <span class='flag-icon flag-icon-long'>{{flag}}{{name}}</span>
                <span class="ais-refinement-list--count">{{count}}</span>
              </label>
            </div>
          </div>
        </script>

      </div>
    </div>
  </div>
</div>
