<div id="searchbar">
  <div id="searchbar-input-wrapper">
    <input type="text" id="searchbar-input" autofocus="true">
    <div id="searchbar-input-icon"><i class='fa fa-search'></i></div>
    <div id="searchbar-algolia-logo">
      <%= link_to "https://www.algolia.com/?utm_source=instantsearch.js&utm_medium=website&utm_content=localhost&utm_campaign=poweredby" do %>
        <%= image_tag "powered_by_algolia.svg"  %>
      <% end %>
    </div>
  </div>
</div>


<div id="search-page-wrapper" class="padded-top-xxxl padded-bottom-xxl bg-light-gray hidden">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1">

        <div id="search-filters-top" class="bg-white-transparent">
        </div>
        <div id="search-filters" class="bg-white-transparent">
          <div id="search-amounts"></div>
          <div id="search-languages" class="padded-bottom-xs"></div>
          <div id="search-means" class="padded-bottom-xs"></div>
        </div>
        <div id="search-filters-disclose" class="text-center bg-white-transparent">
          <p>
            <%= link_to '#', id: "search-filters-toggle" do  %>
              <span class="toggle-link">Show filters &nbsp;
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
              </span>
              <span class="toggle-link hidden">Hide filters &nbsp;
                <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
              </span>
            <% end %>
            <%= link_to "Clear search", '#', id: "search-clear", class: "hidden" %>
          </p>
        </div>

        <div class="search-infos padded-top-s">
          <div id="search-stats"></div>
          <div id="search-sort-by"></div>
        </div>

        <div id="search-hits"></div>

        <div id="search-pagination"></div>

        <script type="text/html" id="search-hit-template">
          <%= render "offers/card_instant" %>
        </script>

        <script type="text/html" id="search-no-results-template">
          <p>Sorry, we didn't find any offers matching the search <em>"{{query}}"</em>...</p>
        </script>

        <script type="text/html" id="search-stats-template">
          <h4>{{nbHits}} offer{{#hasManyResults}}s{{/hasManyResults}} found</h4>
        </script>

      </div>
    </div>
  </div>
</div>
