<% content_for :title, "Papoters | #{t '.edit_offer'}" %>

<h2><%= t '.edit_offer' %></h2>

<div class="edit-offer-status padded-bottom-xs">
  <%= render 'offers/status_info', offer: @offer %>
  <div>
    <%= render 'offers/status_trigger', offer: @offer %>
  </div>
</div>

<%= render 'form' %>

<div class="text-right padded-top-xs">
  <p><%= link_to t('.back_to_offer'), offer_path(@offer) %></p>
</div>

<%= render 'removal' %>
