<% content_for :title do %>
  <%= "Papoters | Edit offer" %>
<% end %>

<h2>Edit your offer</h2>

<div data-offer-status-id="<%= @offer.id %>" class="offer-trigger-slider">
  <%= render 'offers/status_trigger', offer: @offer %>
</div>

<div data-offer-info-id="<%= @offer.id %>" class="padded-bottom-xs">
  <%= render 'offers/status_info', offer: @offer %>
</div>

<%= render 'form' %>

<div class="text-right padded-top-xs">
  <p><%= link_to "Back to offer", offer_path(@offer) %></p>
</div>

<%= render 'removal' %>
