<% content_for :title do %>
  <%= @offer.title %><%= " | Tipswell" %>
<% end %>

<div class="container padded-top">

  <div class="row">
    <div class="col-xs-9">
      <div class="offer-general">
        <div class="row">
          <h1><%= @offer.title %></h1>
          <div class="padded">
            <%= @offer.description %>
          </div>
        </div>

        <div class="row">
          <div class="offer-details">
            <div class="col-xs-6">
              <h6>Languages spoken</h6>
              <ul class = "list-unstyled">
                <% @offer.languages.each do |language| %>
                  <li class="flag">
                    <%= image_tag "flags/" + language.flag %>
                    <%= language.name %>
                  </li>
                <% end %>
              </ul>
            </div>
            <div class="col-xs-6">
              <h6>Means of communication</h6>
              <ul class = "list-unstyled">
                <% @offer.means.each do |mean| %>
                  <li>
                    <i class="fa fa-<%= mean.picto %> fa-fw fa-lg" aria-hidden="true"></i>
                    <%= mean.name %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="offer-stat padded">
        <hr>
        <h2>Deal history</h2>
          <div class="col-xs-4">
            Track record:
            <strong><%= @offer.deals_closed.count %></strong>
          </div>
          <div class="col-xs-4">
            Satisfaction:
            <%= render 'offers/satisfaction', offer: @offer %>
          </div>
          <div class="col-xs-4">
            Amounts:
            <%= render 'offers/amounts', offer: @offer %>
          </div>
        </div>
      </div>

      <div class="row">
        <hr>
        <h3>Reviews (<%= @offer.deals_reviewed.count %>)</h3>
        <div>
          <% @offer.deals_reviewed.each do |deal| %>
            <%= render 'review', user: deal.client, rating: deal.rating, review: deal.client_review %>
            <hr>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="offer-profile text-center">
        <%= render 'shared/avatar', user: @offer.advisor, size: 'avatar-large' %>
        <h1><%= @offer.advisor.name_anonymous %></h1>
        <h3><%= @offer.advisor.grade %></h3>
        <h4><i class="fa fa-map-marker" aria-hidden="true"></i>  <%= @offer.advisor.address %></h4>
        <%= link_to "", user_path(@offer.advisor), class: "link" %>
      </div>

      <% unless current_user == @offer.advisor %>
        <div class="padded-top">
          <% unless @deal.id.present? %>
            <%= render 'deals/interest', offer: @offer, deal: @deal %>
          <% else %>
            <p>Interested!</p>
          <% end %>

          <%= render 'deals/request', offer: @offer, deal: @deal %>
        </div>

      <% end %>
    </div>

  </div>
</div>
