<% content_for :title do %>
  <%= @offer.title %><%= " | Papoters" %>
<% end %>

<div class="padded-top-xxl padded-bottom-xxl bg-gray">
  <div class="container">
    <div class="row padded-top-xs">

      <div class="col-xs-12 col-md-9">
        <div class="offer-container bg-white">
          <div class="container-fluid">
            <div class="offer-sub-container">

              <div class="offer-general">

                <div class="row">

                  <div class=<%= user_signed_in? ? "col-xs-10" : "col-xs-12" %> >
                    <h2><%= @offer.title %></h2>
                  </div>

                  <div class="col-xs-12">
                    <div data-offer-info-id="<%= @offer.id %>">
                      <%= render 'offers/status_info', offer: @offer %>
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-xs-12 padded-top-xs">
                    <p><%= @offer.description %></p>
                  </div>
                </div>

                <% if user_signed_in? %>
                  <div class="offer-top-right">
                    <% if policy(@offer).update? %>
                      <div class="offer-trigger">
                        <div data-offer-status-id="<%= @offer.id %>" class="offer-trigger-slider">
                          <%= render 'offers/status_trigger', offer: @offer %>
                        </div>
                      </div>
                    <% else %>
                      <h2 data-pin-offer-id="<%= @offer.id %>">
                        <%= render 'pinned_offers/pin_button', offer: @offer %>
                      </h2>
                    <% end %>
                  </div>
                <% end %>

              </div>

              <div class="offer-details">
                <div class="row">
                  <div class="col-xs-12 col-sm-4 padded-bottom-xs">
                    <h6>Languages spoken</h6>
                    <ul class = "list-unstyled">
                      <% @offer.languages.each do |language| %>
                        <li class="flag-icon">
                          <%= image_tag "flags/" + language.flag %>
                          <%= language.name %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-4 padded-bottom-xs">
                    <h6>Means of communication</h6>
                    <ul class = "list-unstyled">
                      <% @offer.means.each do |mean| %>
                        <li>
                          <i class="fa fa-<%= mean.picto %> fa-fw fa-lg" aria-hidden="true"></i>
                          <%= mean.name %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                  <div class="col-xs-12 col-sm-4 text-right padded-bottom-xs">
                    <% if policy(@offer).edit? %>
                      <p><%= link_to "Edit offer", edit_offer_path(@offer) %></p>
                    <% elsif @offer.active? %>
                      <%= render 'deals/request_button', offer: @offer %>
                    <% end %>
                  </div>
                </div>
              </div>


            </div>

          </div>

          <div class="hidden-md hidden-lg">
            <div class="offer-profile bg-gradient">
              <div class="offer-profile-avatar">
                <%= render 'users/avatar', user: @offer.advisor, size: 'avatar-medium' %>
              </div>
              <div>
                <%= render 'users/info', user: @offer.advisor %>
              </div>
              <%= link_to "", user_path(@offer.advisor), class: "link offer-profile-link" %>
            </div>
          </div>

          <div class="container-fluid padded-bottom-m">
            <div class="offer-sub-container">

              <div class="offer-stat">
                <h2>Offer history</h2>
                <hr class="bd-gray">
                <div class="offer-stat-content">
                  <div class="row">
                    <div class="col-xs-4 col-sm-2">
                      <p><strong><%= @offer.deals_closed.count %></strong>  <%= "deal".pluralize(@offer.deals_closed.count) %></p>
                    </div>
                    <div class="col-xs-8 col-sm-5 text-right">
                      <%= render 'offers/satisfaction', offer: @offer %>
                    </div>
                    <div class="col-xs-12 col-sm-5 text-right">
                      <%= render 'offers/amounts', offer: @offer %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="offer-reviews">
                <h3><%= pluralize(@offer.deals_reviewed.count, "review") %></h3>
                <% if @offer.deals_reviewed.present? %>
                  <% @offer.deals_reviewed.each do |deal| %>
                    <%= render 'deals/review', deal: deal %>
                  <% end %>
                <% elsif @offer.advisor == current_user %>
                  <hr class="bd-gray">
                  <p>You didn't get any review for this offer yet.</p>
                <% else %>
                  <hr class="bd-gray">
                  <p><%= @offer.advisor.first_name %> didn't get any review for this offer yet.</p>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="hidden-xs hidden-sm col-md-3">
        <div class="offer-profile text-center bg-gradient">
          <div class="offer-profile-avatar">
            <%= render 'users/avatar', user: @offer.advisor, size: 'avatar-large' %>
          </div>
          <div>
            <%= render 'users/info', user: @offer.advisor %>
          </div>
          <%= link_to "", user_path(@offer.advisor), class: "link offer-profile-link" %>
        </div>
      </div>

    </div>
  </div>
</div>
