<% content_for :title do %>
  <%= @offer.title %><%= " | Tipswell" %>
<% end %>

<div class="container padded-top">

  <h1><%= @offer.title %></h1>

  <div class="row">
    <div class="col-xs-9">
      <div>
        <p>Track record:
          <strong><%= @offer.deals_closed.count %></strong>
        </p>

        <p>Satisfaction:
          <%= render 'offers/satisfaction', offer: @offer %>
        </p>

        <p>Prices:
          <%= render 'offers/prices', offer: @offer %>
        </p>
      </div>

      <div>
        <p><%= @offer.description %></p>
      </div>

      <div>
         <%= render 'offers/languages', offer: @offer %>
         <%= render 'offers/means', offer: @offer %>
      </div>
    </div>

    <%= link_to user_path(@offer.advisor) do %>
      <div class="col-xs-3">
        <div class="offer-profile text-center">
          <%= render 'shared/avatar', user: @offer.advisor, size: 'avatar-large' %>
          <p><%= @offer.advisor.name_anonymous %></p>
          <p><%= @offer.advisor.grade %></p>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i>  <%= @offer.advisor.address %></p>
        </div>
      </div>
    <% end %>

  </div>

  <% unless current_user == @offer.advisor %>
    <div class="btn btn-default">
      <%= link_to "Ask a proposition", new_offer_deal_path(@offer) %>
    </div>
  <% end %>

  <hr>

  <h2>Reviews (<%= @offer.deals_reviewed.count %>)</h2>
  <hr>
  <div>
    <% @offer.deals_reviewed.each do |deal| %>
      <%= render 'review', user: deal.client, rating: deal.client_rating, review: deal.client_review %>
      <hr>
    <% end %>
  </div>

</div>
