<% content_for :title, "Papoters | #{@offer.title}" %>
<% content_for :meta_description, @offer.meta_description %>
<% content_for :meta_image do %>
  <% if @offer.advisor && @offer.advisor.photo.present? %>
    <%= cl_image_path(@offer.advisor.photo.path, secure: true) %>
  <% elsif @offer.advisor && @offer.advisor.facebook_picture_url %>
    <%= @offer.advisor.facebook_picture_url %>
  <% else %>
    <%= image_url("avatar.png") %>
  <% end %>
<% end %>

<div class="padded-top-xxl padded-bottom-xxl bg-light-gray">
  <div class="container">
    <div class="row padded-top-xs">

      <div class="col-xs-12 col-md-9">
        <div class="offer-container bg-white">
          <div class="container-fluid">
            <div class="offer-sub-container">

              <div class="offer-general">

                <div class="row">

                  <div class=
                    <% if @offer.advisor == current_user %>
                      <%= "col-xs-10" %>
                    <% elsif user_signed_in? %>
                      <%= "col-xs-11" %>
                    <% else %>
                      <%= "col-xs-12" %>
                    <% end %>
                  >
                    <h2><%= @offer.title %></h2>
                  </div>

                  <div class="col-xs-12">
                    <div data-offer-info-id="<%= @offer.id %>">
                      <%= render 'offers/status_info', offer: @offer %>
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-xs-12 padded-top-xs">
                    <%= sanitize auto_link(markdown_to_html(@offer.description)) %>
                  </div>
                </div>

                <% if user_signed_in? %>
                  <div class="offer-top-right">
                    <% if policy(@offer).update? %>
                      <div class="offer-trigger">
                        <div data-offer-status-id="<%= @offer.id %>" class="offer-trigger-slider">
                          <%= render 'offers/status_trigger', offer: @offer %>
                        </div>
                      </div>
                    <% else %>
                      <h2>
                        <%= render 'offers/pin_button', offer: @offer %>
                      </h2>
                    <% end %>
                  </div>
                <% end %>

              </div>

              <div class="offer-details">
                <div class="row">
                  <div class="col-xs-12 col-sm-4 padded-bottom-xs">
                    <h6><%= t '.languages', count: @offer.languages.count %></h6>
                    <%= render 'offers/languages_long', offer: @offer %>
                  </div>
                  <div class="col-xs-12 col-sm-4 padded-bottom-xs">
                    <h6><%= t '.means', count: @offer.means.count %></h6>
                    <%= render 'offers/means_long', offer: @offer %>
                  </div>
                  <div class="col-xs-12 col-sm-4 text-right padded-bottom-xs">
                    <% if policy(@offer).edit? %>
                      <p>
                        <%= link_to edit_offer_path(@offer) do %>
                          <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; <%= t '.edit' %>
                        <% end %>
                      </p>
                    <% elsif @offer.active? %>
                      <%= render 'deals/request_button', size: 'big', offer: @offer %>
                    <% end %>
                  </div>
                </div>
              </div>


            </div>

          </div>

          <div class="hidden-md hidden-lg">
            <div class="offer-user">
              <%= link_to user_path(@offer.advisor), class: "offer-user-link" do %>
                <div class="offer-user-avatar">
                  <%= render 'users/avatar', user: @offer.advisor, size: 'avatar-medium' %>
                </div>
                <div>
                  <%= render 'users/info', user: @offer.advisor %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="container-fluid padded-bottom-m">
            <div class="offer-sub-container">

              <div class="offer-stat">
                <h3><%= t '.session_history' %></h3>
                <hr class="bd-gray">
                <div class="offer-stat-content">
                  <div class="row">
                    <div class="col-xs-4 col-sm-2">
                      <%= render 'offers/deals_count', offer: @offer %>
                    </div>
                    <div class="col-xs-8 col-sm-5 text-right">
                      <%= render 'offers/satisfaction', offer: @offer %>
                    </div>
                    <div class="col-xs-12 col-sm-5 text-right">
                      <%= render 'offers/amounts', offer: @offer %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="offer-reviews">
                <h3><%= t('.reviews', count: @deals_reviewed.total_count) %></h3>
                <% if @deals_reviewed.present? %>
                  <div id="offer_reviews_page">
                    <%= render 'reviews' %>
                  </div>
                  <div class="text-center padded-top-xs" id="offer-reviews-paginator" >
                    <%= paginate @deals_reviewed, remote: true  %>
                  </div>
                <% elsif @offer.advisor == current_user %>
                  <hr class="bd-gray">
                  <p><%= t('.first_review_advisor') %></p>
                <% else %>
                  <hr class="bd-gray">
                  <p><%= t('.first_review_client', advisor_name: @offer.advisor.first_name) %></p>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="hidden-xs hidden-sm col-md-3">
        <div class="offer-user text-center">
          <%= link_to user_path(@offer.advisor), class: "offer-user-link" do %>
            <div class="offer-user-avatar">
              <%= render 'users/avatar', user: @offer.advisor, size: 'avatar-large' %>
            </div>
            <div>
              <%= render 'users/info', user: @offer.advisor %>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
