<p><%= t('.greeting', advisor: @deal.advisor.first_name) %></p>

<p><%= t('.message', client: @deal.client.first_name) %></p>

<%= render 'deal_title' %>

<p><%= t('.instructions') %></p>

<%= render 'deal_button', label: t('.action') %>

<%= render 'shared/mail_signature' %>
