<p><%= t('.greeting', client: @deal.client.first_name) %></p>

<% if @deal.amount_cents.blank? || @deal.amount_cents.zero? %>
  <p><%= t('.message_free', advisor: @deal.advisor.first_name) %></p>
<% else %>
  <p><%= t('.message', advisor: @deal.advisor.first_name) %></p>
<% end %>


<%= render 'proposition_recap', header: t('.agreement'), receiver: @deal.client %>

<p><%= t('.instructions_html', advisor: @deal.advisor.first_name, date: l(@deal.deadline.to_date, format: :long)) %></p>

<%= render 'deal_button', label: t('.action', advisor: @deal.advisor.first_name) %>

<%= render 'shared/mail_signature' %>
