<p><%= t('.greeting', advisor: @deal.advisor.first_name) %></p>

<p><%= t('.message', client: @deal.client.first_name) %></p>

<%= render 'proposition_recap', header: t('.agreement') %>

<p><%= t('.instructions_html', client: @deal.client.first_name, date: l(@deal.deadline.to_date, format: :long)) %></p>

<%= render 'deal_button', label: t('.action', client: @deal.client.first_name) %>

<% unless @deal.amount_cents.blank? || @deal.amount_cents.zero? %>
  <p style="font-weight: normal; color: #EE5F5B"><em><%= t('.info', amount: humanized_money(@deal.amount), currency: @deal.amount.currency.symbol ) %></em></p>
<% end %>

<%= render 'shared/mail_signature' %>
