<p><%= t('.greeting', advisor: @deal.advisor.first_name) %></p>

<p><%= t('.message', client: @deal.client.first_name) %></p>
<p><strong style='color: #30485F;'>#<%= t('.session') %>-<%= @deal.id %></strong> <%= t('.instructions_html', client: @deal.client.first_name, date: l(@deal.deadline.to_date, format: :long)) %></p>

<div style="text-align: center; padding: 30px 0;">
  <%= link_to t('.action', client: @deal.client.first_name), deal_url(@deal, locale: I18n.locale), style: "font-weight: normal; text-decoration: none; padding: 10px 15px; border-radius: 4px; border: none; color: white; background: linear-gradient(164deg, rgb(255, 201, 56) 0%, rgb(66, 211, 170) 100%);" %>
</div>

<%= render 'shared/mail_signature' %>
