<p><%= t('.greeting', advisor: @deal.advisor.first_name) %></p>

<p><%= t('.message', client: @deal.client.first_name) %></p>

<%= render 'review_recap', sender: @deal.client, review: @deal.client_review, rating: @deal.client_rating %>

<% if @deal.reviewed_by_advisor? %>

  <div style="text-align: center; padding: 30px 0;">
    <%= link_to t('.action_bis'), deal_url(@deal, locale: I18n.locale), style: "font-weight: normal; text-decoration: none; padding: 10px 15px; border-radius: 4px; border: none; color: white; background: linear-gradient(164deg, rgb(255, 201, 56) 0%, rgb(66, 211, 170) 100%);" %>
  </div>

<% else %>

  <p><%= t('.instructions', client: @deal.client.first_name) %></p>

  <div style="text-align: center; padding: 30px 0;">
    <%= link_to t('.action'), deal_url(@deal, locale: I18n.locale), style: "font-weight: normal; text-decoration: none; padding: 10px 15px; border-radius: 4px; border: none; color: white; background: linear-gradient(164deg, rgb(255, 201, 56) 0%, rgb(66, 211, 170) 100%);" %>
  </div>

<% end %>

<%= render 'shared/mail_signature' %>
