<p><%= t('.greeting', advisor: @deal.advisor.first_name) %></p>

<p><%= t('.message') %></p>

<%= render 'deal_title' %>

<% unless @deal.amount_cents.blank? || @deal.amount_cents.zero? %>
  <p><%= t('.info_html', date: l(@deal.payout_triggered_at.to_date, format: :long), amount: humanized_money(@deal.advisor_amount_converted(@deal.advisor.currency_code)), currency: @deal.advisor_amount_converted(@deal.advisor.currency_code).symbol) %></p>
<% end %>

<p><%= t('.instructions', client: @deal.client.first_name) %></p>

<%= render 'deal_button', label: t('.action') %>

<%= render 'shared/mail_signature' %>
