<p><%= t('.greeting', advisor: @deal.advisor.first_name) %></p>

<p><%= t('.message') %></p>

<%= render 'deal_title' %>

<p><%= t('.instructions', client: @deal.client.first_name) %></p>

<%= render 'deal_button', label: t('.action') %>

<% unless @deal.amount_cents.blank? || @deal.amount_cents.zero? %>
  <p style="font-weight: normal; color: #30485F"><em><%= t('.info', amount: humanized_money(@deal.amount_converted(@deal.advisor.currency_code)), currency: @deal.amount_converted(@deal.advisor.currency_code).symbol ) %></em></p>
<% end %>

<%= render 'shared/mail_signature' %>
