<p><%= t('.greeting', client: @deal.client.first_name) %></p>

<p><%= t('.message', advisor: @deal.advisor.first_name) %></p>

<%= render 'proposition_recap', header: t('.proposition_expiry_on', date: l(@deal.proposition_deadline.to_date)) %>

<%= render 'deal_button', label: t('.action') %>

<%= render 'shared/mail_signature' %>
