<p><%= t('.greeting', client: @deal.client.first_name) %></p>

<p><%= t('.message', advisor: @deal.advisor.first_name) %></p>

<% unless @deal.amount_cents.blank? || @deal.amount_cents.zero? %>
  <p>
    <%= t('.info_html', amount: humanized_money(@deal.amount_converted(@deal.client.currency_code)), currency: @deal.amount_converted(@deal.client.currency_code).symbol ) %>
  </p>
<% end %>

<%= render 'proposition_recap', header: t('.agreement'), receiver: @deal.client %>

<p><%= t('.instructions_html', advisor: @deal.advisor.first_name, date: l(@deal.deadline.to_date, format: :long)) %></p>

<%= render 'deal_button', label: t('.action', advisor: @deal.advisor.first_name) %>

<%= render 'shared/mail_signature' %>
