<p><%= t('.greeting', advisor: @deal.advisor.first_name) %></p>

<p><%= t('.message', client: @deal.client.first_name) %></p>

<%= render 'review_recap', sender: @deal.client, review: @deal.client_review, rating: @deal.client_rating %>

<% if @deal.reviewed_by_advisor? %>
  <%= render 'deal_button', label: t('.action_bis') %>

<% else %>
  <p><%= t('.instructions', client: @deal.client.first_name) %></p>
  <%= render 'deal_button', label: t('.action') %>

<% end %>

<%= render 'shared/mail_signature' %>
