<p><%= t('.greeting', client: @deal.client.first_name) %></p>

<p><%= t('.message', advisor: @deal.advisor.first_name) %></p>

<%= render 'review_recap', sender: @deal.advisor, review: @deal.advisor_review, rating: @deal.advisor_rating %>

<% if @deal.reviewed_by_client? %>
  <%= render 'deal_button', label: t('.action_bis') %>

<% else %>
  <p><%= t('.instructions', advisor: @deal.advisor.first_name) %></p>
  <%= render 'deal_button', label: t('.action') %>

<% end %>

<%= render 'shared/mail_signature' %>
