<p><%= t('.greeting', advisor: @deal.advisor.first_name) %></p>

<p><%= t('.message', client: @deal.client.first_name) %></p>

<%= render 'request_recap' %>

<%= render 'deal_button', label: t('.action', client: @deal.client.first_name) %>

<%= render 'shared/mail_signature' %>
