<p><%= t('.greeting', advisor: @deal.advisor.first_name) %></p>

<p><%= t('.message', client: @deal.client.first_name) %></p>

<%= render 'deal_title' %>

<%= render 'deal_button', label: t('.action') %>

<p style="font-weight: normal; color: #EE5F5B;"><em><%= t('.info') %></em></p>

<%= render 'shared/mail_signature' %>
