<p><%= t('.greeting', client: @deal.client.first_name) %></p>

<p><%= t('.message_html', advisor: @deal.advisor.first_name, id: @deal.id) %></p>
<p><%= t('.instructions', advisor: @deal.advisor.first_name) %></p>

<div style="text-align: center; padding: 30px 0;">
  <%= link_to t('.action'), deal_url(@deal, locale: I18n.locale), style: "font-weight: normal; text-decoration: none; padding: 10px 15px; border-radius: 4px; border: none; color: white; background: linear-gradient(164deg, rgb(255, 201, 56) 0%, rgb(66, 211, 170) 100%);" %>
</div>

<%= render 'shared/mail_signature' %>
