<p><%= t('.greeting', client: @deal.client.first_name) %></p>

<p><%= t('.message') %></p>

<%= render 'deal_title' %>

<%= render 'deal_button', label: t('.action') %>

<p>
  <%= t('.instructions', advisor: @deal.advisor.first_name) %>
  "<%= link_to @deal.title, offer_url(@deal.offer, locale: I18n.locale), style: "font-weight: normal; text-decoration: none; color: #30485F;" %>".
</p>

<%= render 'shared/mail_signature' %>
