<p><%= t('.greeting', advisor: @deal.advisor.first_name) %></p>

<% unless @deal.amount_cents.blank? || @deal.amount_cents.zero? %>
  <p style="color: #EE5F5B;"><%= t('.info_html', amount: humanized_money(@deal.advisor_amount_converted(@deal.advisor.currency_code)), currency: @deal.advisor_amount_converted(@deal.advisor.currency_code).symbol) %></p>
<% end %>

<%= render 'deal_title' %>

<p><%= t('.instructions', client: @deal.client.first_name) %></p>

<%= render 'profile_button', label: t('.action') %>

<%= render 'shared/mail_signature' %>
