<% require 'devise/version' %>
<p><%= t('.greeting', recipient: @resource.first_name) %></p>

<p><%= t('.pleased_you_join') %></p>
<p><%= t('.instruction') %></p>

<div style="text-align: center; padding: 30px 0;">
  <%= link_to t('.action'), confirmation_url(@resource, confirmation_token: (Devise::VERSION.start_with?('3.') ? @token : @resource.confirmation_token), locale: I18n.locale), style: "font-weight: normal; text-decoration: none; padding: 10px 15px; border-radius: 4px; border: none; color: white; background-color: #30485F;" %>
</div>

<%= render 'shared/mail_signature' %>
