<% require 'devise/version' %>
<p><%= t('.greeting', recipient: @resource.first_name) %></p>

<p style="font-size: 14px!important; font-family: Helvetica,Arial,sans-serif!important; color:#4A4A4A; letter-spacing:0.2px; line-height:1.5em;"><%= t('.instruction') %></p>

<div style="text-align: center; padding: 30px 0;">
  <%= link_to t('.action'), edit_password_url(@resource, reset_password_token: (Devise::VERSION.start_with?('3.', '4.') ? @token : @resource.reset_password_token)), style: "text-decoration: none; padding: 10px 15px; border-radius: 4px; border: none; color: white; background: linear-gradient(164deg, rgb(255, 201, 56) 0%, rgb(66, 211, 170) 100%); font-size: 14px!important; font-family: Helvetica,Arial,sans-serif!important; letter-spacing:0.2px; line-height:1.5em;" %>
</div>

<p><span style="font-size: 14px!important; font-family: Helvetica,Arial,sans-serif!important; color:#4A4A4A; letter-spacing:0.2px; line-height:1.5em;">
  <%= t('.instruction_2') %>
</span></p>
<p style="font-size: 14px!important; font-family: Helvetica,Arial,sans-serif!important; color:#4A4A4A; letter-spacing:0.2px; line-height:1.5em;"><%= t('.instruction_3') %></p>
