<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css' %>
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flash' %>
    <%= render 'offers/search' %>

    <div id="main" class="<%= 'hidden' if params[:q] %>">
      <%= yield %>
    </div>

    <%= render "shared/config_vars" %>
    <%= render "shared/footer" %>
    <%= render "shared/loader" %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js" %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>

  </body>

</html>
