<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      <%= yield_with_default(:title, "Papoters") %>
    </title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>

    <% if current_user %>
      <%= render 'shared/navbar_logged' %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>

    <%= render 'shared/flash' %>

    <div id="main">
      <%= yield %>
    </div>

    <%= render "shared/footer" %>

    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>

  </body>

</html>
