<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>
      <%= yield_with_default(:title, "Papoters") %>
    </title>
    <%= favicon_link_tag('papoters_favicon.png') %>
    <meta name="description" content="The knowledge marketplace.">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>

    <div class="padded-top-m padded-bottom-xxl bg-gradient full-vh">

      <div class="container-fluid">
        <div class="custom-form-top">
          <%= link_to root_path, { class: "custom-form-logo" } do %>
            <%= image_tag "papoters.svg" %>
          <% end %>
        </div>
        <%= render 'shared/flash_form' %>
        <div class="custom-form bg-white-transparent">
          <%= yield %>
        </div>
      </div>
    </div>

    <div id="current-locale" data-locale="<%= I18n.locale %>"></div>

    <%= render "shared/loader" %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://developer.appear.in/scripts/appearin-sdk.0.0.4.min.js" %>
    <%= cloudinary_js_config %>
  </body>

</html>
