<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>

  <body>

    <div class="padded-top-m padded-bottom-xxl bg-gradient full-vh">

      <div class="container-fluid">
        <div class="custom-form-top">
          <%= link_to root_path, { class: "custom-form-logo" } do %>
            <%= image_tag "papoters.svg" %>
          <% end %>
        </div>
        <%= render 'shared/flash_form' %>
        <div class="custom-form bg-white-transparent">
          <%= yield %>
        </div>
      </div>
    </div>

    <%= render "shared/config_vars" %>
    <%= render "shared/loader" %>

    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
    <%= yield(:after_js) %>

  </body>

</html>
